<h3 class="page-header">Discard Components</h3>

<form class="form-horizontal col-sm-12"  role="form" ng-submit="getComponentsByDIN()">
  <div class="form-group">
    <label for="name" class="col-sm-1 control-label" >DIN</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber" class="form-control input-sm" placeholder="" ng-model="componentsSearch.donationIdentificationNumber">
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-1 col-sm-3">
      <button class="btn btn-primary" type="submit">Search</button>
      <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
    </div>
  </div>
</form>

<div ng-switch="searchResults" class="col-sm-12">
<div style="padding-bottom: 10px"></div>

  <div ng-switch-when="true">
    <div class="panel panel-default">
      <div class="panel-body">

        <table ng-table="componentsTableParams" show-filter="false" class="table">
          <tr ng-repeat="component in $data"
              ng-click="changeSelection(component);"
              ng-mouseenter="this.$selected = true"
              ng-mouseleave="this.$selected = false"
              ng-class="{'active': component.$selected}">
              <td data-title="'Component Type'" header-class="text-left" sortable="'componentType'">
                  {{component.componentType}}
              </td>
              <td data-title="'Status'" header-class="text-left" sortable="'status'">
                  {{component.status}}
              </td>
              <td data-title="'Created On'" header-class="text-left" class="text-center" sortable="'createdOn'">
                  {{component.createdOn}}
              </td>
              <td data-title="'Expires On'" header-class="text-left" class="text-center" sortable="'expiresOn'">
                  {{component.expiresOn}}
              </td>
              <td data-title="" header-class="text-left" class="text-center">
                  <span style="font-size: 0.9em;" ng-if="component.status == 'Labelled'">
                    <input type="checkbox"><em> Discard </em>
                  </span>
              </td>
          </tr>
        </table>

        <form class="form-horizontal col-sm-12"  role="form" ng-submit="discardComponents()">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" >Discard Reason</label>
            <div class="row col-sm-10">
              <div class="form-inline" style="padding-left:5px;">
                <select class="form-control input-sm" ng-model="discard.discardReason" ng-options="item.name as item.name for item in discardReasons">
                    <option value="" ng-disabled="true">Select:</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" >Discard Date</label>
            <div class="row col-sm-10">
              <div class="form-inline" style="padding-left:5px;">
                <dateselect ng-model="discard.discardDate" date-options="dateOptions" ng-required="false" format="format" opened="discardDateOpen" cal-icon="icons.CALENDAR">
                </dateselect>
              </div>
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-3">
              <button class="btn btn-primary" type="submit">Discard Components</button>
              <button class="btn btn-primary" type="button" ng-click="clearDiscardComponentForm()">Clear</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div ng-switch-when="false">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <em> Not found. Please re-enter DIN. </em>
        </p>
      </div>
    </div>
  </div>

</div>