<h3 class="page-header">Discard Components</h3>

<form class="form-horizontal col-sm-12" role="form" ng-submit="getComponentsByDIN()">
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">DIN</label>
        <div class="row col-sm-11">
            <div class="form-inline" style="padding-left:5px;">
                <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber"
                       class="form-control input-sm" placeholder=""
                       ng-model="componentsSearch.donationIdentificationNumber">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-3">
            <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." :
                "Search"}}
            </button>
            <button class="btn btn-primary" type="button" ng-click="clearDiscardComponentForm(); clear()">Clear</button>
        </div>
    </div>
</form>

<div ng-switch="searchResults" class="col-sm-12">
    <div style="padding-bottom: 10px"></div>

    <div ng-switch-when="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-if="componentSelected === false" ng-hide="componentSelected !== false"
                     style="padding-top:10px;">
                    <uib-alert type="danger">Select one or more components to discard</uib-alert>
                </div>

                <table ng-table="componentsTableParams" show-filter="false" class="table">
                    <tr ng-repeat="component in $data"
                        ng-mouseenter="this.$selected = true"
                        ng-mouseleave="this.$selected = false"
                        ng-class="{'active': component.$selected}">
                        <td data-title="'Component Identifier'" header-class="text-left" class="text-center"
                            sortable="'componentIdentificationNumber'">
                            {{component.componentIdentificationNumber}}
                        </td>
                        <td data-title="'Component Type'" header-class="text-left" sortable="'componentType'">
                            {{component.componentType.componentTypeName}}
                        </td>
                        <td data-title="'Status'" header-class="text-left" sortable="'status'">
                            {{component.status}}
                        </td>
                        <td data-title="'Created On'" header-class="text-left" class="text-center"
                            sortable="'createdOn'">
                            {{component.createdOn | bsisDateTime}}
                        </td>
                        <td data-title="'Expiry Status'" header-class="text-left" class="text-center"
                            sortable="'expiryStatus'">
                            {{ component | expiryStatus }}
                        </td>
                        <td data-title="" header-class="text-left" class="text-left">
                  <span
                          style="font-size: 0.9em;"
                          ng-if="component.status != 'DISCARDED' && component.status != 'ISSUED' && component.status != 'USED' && component.status != 'SPLIT' && component.status != 'PROCESSED'"
                  >
                    <input type="checkbox" id="{{component.id}}" value="{{component.id}}"
                           ng-checked="selectedComponents.indexOf(component.id) > -1"
                           ng-click="toggleSelection(component.id)">
                    <em><label style="margin:0px; cursor: pointer; cursor: hand;" for="{{component.id}}">
                        Discard </label></em>
                  </span>
                        </td>
                    </tr>
                </table>
                <form name="discardComponentsForm" novalidate class="form-horizontal col-sm-12" role="form"
                      ng-submit="discardComponents(discardComponentsForm)">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Discard Reason</label>
                        <div class="row col-sm-10">
                            <div class="form-inline" style="padding-left:5px;">
                                <select name="discardReason" class="form-control input-sm"
                                        ng-model="discard.discardReason"
                                        ng-options="item.id as item.statusChangeReason for item in discardReasons"
                                        required
                                        ng-class="{'ng-invalid ng-dirty' : discardComponentsForm.discardReason.$invalid && submitted}">
                                    <option value="" ng-disabled="true">Select:</option>
                                </select>
                                <input size="35" class="form-control input-sm" placeholder="Comments"
                                       ng-model="discard.discardReasonText">
                                <div>
                                    <small class="error"
                                           ng-show="
                      (discardComponentsForm.discardReason.$invalid && (discardComponentsForm.discardReason.$dirty || submitted))
                    ">
                                        This cannot be empty
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-3">
                            <button class="btn btn-primary" type="submit" ng-disabled="discardingComponent">
                                {{discardingComponent ? "Discarding..." : "Discard Components"}}
                            </button>
                            <button class="btn btn-primary" type="button"
                                    ng-click="clearForm(discardComponentsForm); clearDiscardComponentForm()">Clear
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div ng-switch-when="false">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <em> Not found. Please re-enter DIN. </em>
                </p>
            </div>
        </div>
    </div>

</div>
