<div class="col-sm-3 col-md-2" ng-include="'views/components/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Discard Components</h3>

  <form class="form-horizontal col-sm-12" name="forms.findComponentsForm" role="form" novalidate ng-submit="getComponentsByDIN();">
    <div class="form-group">
      <label for="name" class="col-sm-1 control-label">DIN</label>
      <div class="row col-sm-11">
        <div class="form-inline" style="padding-left:5px;">
          <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber" class="form-control input-sm" ng-model="componentsSearch.donationIdentificationNumber" required />
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1">
      <small class="error" ng-show="(forms.findComponentsForm.$submitted && forms.findComponentsForm.$invalid)">
        DIN cannot be empty
      </small>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-3">
        <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." : "Search"}} </button>
        <button class="btn btn-primary" type="button" ng-click="clearFindComponentsForm();">Clear</button>
      </div>
    </div>
  </form>

  <div class="panel panel-default" style="clear:left;margin-top:10px;" ng-if="gridOptions.data">
    <div class="panel-body">

      <!-- Components grid -->
      <div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination style="height:{{(gridOptions.minRowsToShow*gridOptions.rowHeight)+gridOptions.headerRowHeight+gridOptions.gridFooterHeight}}px;margin-bottom:10px;"></div>

      <div ng-if="selectedAction === null" style="clear:left;">
        <strong>
          <em>Select components to discard or undiscard</em>
        </strong>
      </div>

      <div ng-if="selectedAction === 'NONE'" style="clear:left;">
        <strong>
          <em>Selected component cannot be discarded or undiscarded</em>
        </strong>
      </div>
      <div ng-if="selectedAction === 'UNDISCARD'" style="clear:left;">
        <button class="btn btn-primary" ng-click="undiscardComponents();" >
            {{undiscarding ? "Undiscarding..." : "Undiscard components"}}
          </button>
      </div>

      <!-- Discard component form -->
      <form role="form" name="forms.discardComponentsForm" class="form-horizontal col-sm-12" ng-if="selectedAction === 'DISCARD'" ng-submit="discardComponents()" novalidate>
        <div class="form-group">
          <label for="discardReason" class="col-sm-2 control-label">Discard Reason</label>
          <div class="form-inline" style="padding-left:5px;">
            <select name="discardReason" class="form-control input-sm" ng-model="discard.discardReason" ng-options="item as item.reason for item in discardReasons"  required >
                <option value="" ng-disabled="true">Select:</option>
            </select>
            <input size="35" class="form-control input-sm" placeholder="Comments" ng-model="discard.discardReasonText">
            <ng-messages for="forms.discardComponentsForm.discardReason.$error" ng-show="forms.discardComponentsForm.$submitted">
                <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="discardingComponent">{{discardingComponent ? "Discarding..." : "Discard"}}</button>
            <button type="reset" class="btn btn-primary" ng-disabled="discardingComponent">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</div>
