<div class="col-sm-3 col-md-2" ng-include="'views/components/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
<h3 class="page-header">Find Discards</h3>

<form class="form-horizontal col-sm-12" role="form" ng-submit="findDiscards(discardsSearch)">
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">DIN</label>
        <div class="row col-sm-11">
            <div class="form-inline" style="padding-left:5px;">
                <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber"
                       class="form-control input-sm" placeholder=""
                       ng-model="discardsSearch.donationIdentificationNumber">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">Type</label>
        <div class="row col-sm-11">
            <div class="form-inline" style="padding-left:5px;">
                <ui-select multiple ng-model="discardsSearch.componentTypes" theme="bootstrap" ng-disabled="disabled"
                           style="width: 550px;">
                    <ui-select-match placeholder="Select:">{{$item.componentTypeName}}</ui-select-match>
                    <ui-select-choices
                            repeat="componentType.id as componentType in componentTypes | filter:$select.search">
                        {{componentType.componentTypeName}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">Period</label>
        <div class="row col-sm-11">
            <div class="form-inline" style="padding-left:5px;">
                <dateselect ng-model="discardsSearch.donationDateFrom" ng-required="false" format="format"
                            opened="startDateOpen" cal-icon="icons.CALENDAR">
                </dateselect>
        <span>
        <em> To: </em>
        </span>
                <dateselect-end ng-model="discardsSearch.donationDateTo" ng-required="false" format="format"
                                opened="endDateOpen" cal-icon="icons.CALENDAR">
                </dateselect-end>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-3">
            <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." :
                "Search"}}
            </button>
            <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
        </div>
    </div>
</form>

<div ng-switch="searchResults" class="col-sm-12">
    <div style="padding-bottom: 10px"></div>

    <div ng-switch-when="true">
        <div class="panel panel-default">
            <div class="panel-body">

                <div ng-switch on="componentsView">
                    <div ng-switch-when="viewDonations">
                        <div ng-include="'views/components/viewDonations.html'"></div>
                    </div>
                    <div ng-switch-when="viewComponents">
                        <div ng-include="'views/components/viewComponents.html'"></div>
                    </div>
                    <div ng-switch-default>
                        <div ng-include="'views/components/viewDonations.html'"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-switch-when="false">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <em> No components found. </em>
                </p>
            </div>
        </div>
    </div>

</div>
</div>