<div class="col-sm-3 col-md-2" ng-include="'views/components/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
    <h3 class="page-header">Find Components</h3>

    <form name="findComponentForm" class="form-horizontal col-sm-12" role="form" ng-submit="findComponents(search)" novalidate>
        <div class="form-group">
            <label for="donationIdentificationNumber" class="col-sm-1 control-label">DIN</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber"
                           class="form-control input-sm" placeholder=""
                           ng-model="search.donationIdentificationNumber"
                           ng-blur="updateDinSearch()">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="locations" class="col-sm-1 control-label">Location</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <ui-select multiple ng-model="search.locations" theme="bootstrap" style="width: 550px; min-height: 31px;" ng-disabled="dinSearch">
                        <ui-select-match placeholder="Select:">{{$item.name}}</ui-select-match>
                        <ui-select-choices
                                repeat="location.id as location in locations | filter:$select.search">
                            {{location.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="componentTypes" class="col-sm-1 control-label">Type</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <ui-select multiple ng-model="search.componentTypes" theme="bootstrap" style="width: 550px; min-height: 31px;" ng-disabled="dinSearch">
                        <ui-select-match placeholder="Select:">{{$item.componentTypeName}}</ui-select-match>
                        <ui-select-choices
                                repeat="componentType.id as componentType in componentTypes | filter:$select.search">
                            {{componentType.componentTypeName}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="form-group">
                         <label for="componentTypes" class="col-sm-1 control-label">Status</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <select name="componentStatuses" class="form-control" ng-model="componentStatus.status" theme="bootstrap"
                    required ng-options="componentStatus for componentStatus in componentStatuses" >
                    <option value="" disabled>Select:</option>
                    </select>
           </div>
        </div>

        <div class="form-group">
            <label for="donationDate" class="col-sm-1 control-label">Period</label>
            <div class="row col-sm-11">
                <div class="form-inline" style="padding-left:5px;">
                    <dateselect name="donationDateFrom" ng-model="search.donationDateFrom" format="format" opened="startDateOpen" cal-icon="icons.CALENDAR" ng-required="!dinSearch" ng-disabled="dinSearch" ui-date-range="1,months" ui-date-end="{{search.donationDateTo | date:'yyyy-MM-dd HH:mm:ss'}}" ng-class="{'has-error' : (findComponentForm.donationDateFrom.$invalid)}" ng-model-options="{ allowInvalid: true }">
                    </dateselect>
                    <span><em> To: </em></span>
                    <dateselect-end name="donationDateTo" ng-model="search.donationDateTo" format="format" opened="endDateOpen" cal-icon="icons.CALENDAR" ng-required="!dinSearch" ng-disabled="dinSearch" ui-date-range="1,months" ui-date-start="{{search.donationDateFrom |  date:'yyyy-MM-dd HH:mm:ss'}}" ng-class="{'has-error' : (findComponentForm.donationDateTo.$invalid)}" ng-model-options="{ allowInvalid: true }">
                    </dateselect-end>
                </div>
                <div>
                    <small class="error" ng-show="(findComponentForm.donationDateFrom.$error.required || findComponentForm.donationDateTo.$error.required)">Select a valid date</small>
                    <small class="error" ng-show="(findComponentForm.donationDateTo.$error.uiDateRange || findComponentForm.donationDateFrom.$error.uiDateRange)">Select a date range that is less than one month</small>
                </div>
            </div>
        </div>
          

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-3">
                <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." :
                    "Search"}}
                </button>
                <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
            </div>
        </div>
    </form>

    <div ng-switch="searchResults" class="col-sm-12">
        <div style="padding-bottom: 10px"></div>

        <div ng-switch-when="true">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div ng-switch on="componentsView">
                        <div ng-switch-when="viewDonations">
                            <div ng-include="'views/components/viewDonations.html'"></div>
                        </div>
                        <div ng-switch-when="viewComponents">
                            <div ng-include="'views/components/viewComponents.html'"></div>
                        </div>
                        <div ng-switch-default>
                            <div ng-include="'views/components/viewDonations.html'"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-switch-when="false">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <em> No components found. </em>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>