<h3 class="page-header">Record Components</h3>

<form class="form-horizontal col-sm-12"  role="form" ng-submit="getComponentsByDIN()">
  <div class="form-group">
    <label for="name" class="col-sm-1 control-label" >DIN</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber" class="form-control input-sm" placeholder="" ng-model="componentsSearch.donationIdentificationNumber">
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-1 col-sm-3">
      <button class="btn btn-primary" type="submit">Search</button>
      <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
    </div>
  </div>
</form>

<div ng-switch="searchResults" class="col-sm-12">
<div style="padding-bottom: 10px"></div>

  <div ng-switch-when="true">
    <div class="panel panel-default">
      <div class="panel-body">

        <table ng-table="componentsTableParams" show-filter="false" class="table">
          <tr ng-repeat="component in $data"
              ng-click="changeSelection(component);"
              ng-mouseenter="this.$selected = true"
              ng-mouseleave="this.$selected = false"
              ng-class="{'active': component.$selected}">
              <td data-title="'Component Type'" header-class="text-left" sortable="'componentType'">
                  {{component.componentType}}
              </td>
              <td data-title="'Status'" header-class="text-left" sortable="'status'">
                  {{component.status}}
              </td>
              <td data-title="'Created On'" header-class="text-left" class="text-center" sortable="'createdOn'">
                  {{component.createdOn}}
              </td>
              <td data-title="'Expires On'" header-class="text-left" class="text-center" sortable="'expiresOn'">
                  {{component.expiresOn}}
              </td>
          </tr>
        </table>

        <form class="form-horizontal col-sm-12"  role="form" ng-submit="addComponents()">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" >Process Component</label>
            <div class="row col-sm-10">
              <div class="form-inline" style="padding-left:5px;">
                <select class="form-control input-sm" ng-model="component.componentTypes" ng-options="item.id as item.productTypeName for item in componentTypes">
                  <option value="" ng-disabled="true">Select:</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label" >Process Paediatric</label>
            <div class="row col-sm-10">
              <div class="form-inline" style="padding-left:5px;">
                <input id="paediatricCount2" type="radio" name="paediatricCount2" data-ng-model="component.paediatricCount" value="2"/> <label for="paediatricCount2"> 2 units </label>
                <input id="paediatricCount3" type="radio" name="paediatricCount3" data-ng-model="component.paediatricCount" value="3"/> <label for="paediatricCount3"> 3 units </label>
                <input id="paediatricCount4" type="radio" name="paediatricCount4" data-ng-model="component.paediatricCount" value="4"/> <label for="paediatricCount4"> 4 units </label>
                <input id="paediatricCount5" type="radio" name="paediatricCount5" data-ng-model="component.paediatricCount" value="5"/> <label for="paediatricCount5"> 5 units </label>
                <input id="paediatricCount6" type="radio" name="paediatricCount6" data-ng-model="component.paediatricCount" value="6"/> <label for="paediatricCount6"> 6 units </label>
              </div>
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-3">
              <button class="btn btn-primary" type="submit">Process Component</button>
              <button class="btn btn-primary" type="button" ng-click="clearProcessComponentForm()">Clear</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div ng-switch-when="false">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <em> Not found. Please re-enter DIN. </em>
        </p>
      </div>
    </div>
  </div>

</div>