<div class="col-sm-3 col-md-2" ng-include="'views/components/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Record Components</h3>

  <form class="form-horizontal col-sm-12" name="forms.findComponentsForm" role="form" novalidate ng-submit="getComponentsByDIN();clearPreProcessForm();clearComponentTypeCombination();">
    <div class="form-group">
      <label for="name" class="col-sm-1 control-label">DIN</label>
      <div class="col-sm-11">
        <div class="form-inline">
          <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber" class="form-control input-sm" ng-model="componentsSearch.donationIdentificationNumber" required />
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1">
      <small class="error" ng-show="(forms.findComponentsForm.$submitted && forms.findComponentsForm.$invalid)">
        DIN cannot be empty
      </small>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-3">
        <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." : "Search"}} </button>
        <button class="btn btn-primary" type="button" ng-click="clear();clearPreProcessForm();clearComponentTypeCombination();">Clear</button>
      </div>
    </div>
  </form>

  <div class="panel panel-default" style="clear:left;margin-top:10px;" ng-if="gridOptions.data">
    <div class="panel-body">

      <!-- Components grid -->
      <div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination style="height:{{(gridOptions.minRowsToShow*gridOptions.rowHeight)+gridOptions.headerRowHeight+gridOptions.gridFooterHeight}}px;margin-bottom:10px;"></div>

      <div ng-if="!component" style="clear:left;">
        <strong>
          <em>Select a component to process</em>
        </strong>
      </div>

      <div ng-if="component && !component.hasComponentBatch" style="clear:left;">
        <strong>
          <em>Selected Component cannot be processed until component batch received</em>
        </strong>
      </div>

      <div ng-if="component && !component.permissions.canRecordWeight && !component.permissions.canProcess && component.hasComponentBatch" style="clear:left;">
        <strong>
          <em>Selected component cannot be processed further</em>
        </strong>
        <div>
          <button class="btn btn-primary" ng-click="unprocessSelectedComponent();" ng-disabled="unprocessing" ng-if="component.permissions.canUnprocess">
            {{unprocessing ? "Unprocessing..." : "Unprocess components"}}
          </button>
        </div>
      </div>

      <!-- Component pre process form -->
      <form role="form" name="forms.preProcessForm" class="form-horizontal col-sm-12" ng-if="component.permissions.canRecordWeight" ng-submit="preProcessSelectedComponent()" novalidate>
        <div class="form-group">
          <label for="componentWeight" class="col-sm-2 control-label">Component Weight</label>
          <div class="col-sm-10">
            <input name="componentWeight" class="form-control input-sm" style="width:auto;" type="number" ng-min="1" ng-max="999" ng-model="component.weight" required />
            <ng-messages for="forms.preProcessForm.componentWeight.$error" ng-show="forms.preProcessForm.$submitted">
                <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
        <div class="form-group">
          <label for="bleedStartTime" class="col-sm-2 control-label">Bleed times: Start</label>
          <div class="col-sm-10">
            <div class="time" style="width:150px;">
                <uib-timepicker ng-model="component.bleedStartTime" name="bleedStartTime" show-spinners="false"></uib-timepicker>
                <div>
                  <ng-messages for="forms.preProcessForm.bleedStartTime.$error" ng-show="forms.preProcessForm.$submitted">
                    <ng-messages-include src="messages.html"></ng-messages-include>
                  </ng-messages>
                </div>
            </div>
            <div class="time form-group">
              <label for="bleedEndTime" class="col-sm-2 control-label">End</label>
              <div class="col-sm-10">
                  <uib-timepicker ng-model="component.bleedEndTime" name="bleedEndTime" show-spinners="false" ng-required="submitted" ng-class="{'has-error' : (forms.preProcessForm.bleedEndTime.$invalid)}"></uib-timepicker>
                  <div>
                    <ng-messages for="forms.preProcessForm.bleedEndTime.$error" ng-show="forms.preProcessForm.$submitted">
                      <ng-messages-include src="messages.html"></ng-messages-include>
                    </ng-messages>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="preProcessing">{{preProcessing ? "Saving..." : "Save"}}</button>
            <button type="button" class="btn btn-primary" ng-disabled="preProcessing" ng-click="clearPreProcessForm();">Clear</button>
          </div>
        </div>
      </form>

      <!-- Process component form -->
      <form name="forms.recordComponentsForm" class="form-horizontal col-sm-12" ng-if="component.permissions.canProcess" ng-submit="confirmProcessLabledComponent()" novalidate>
        <br/>
        <div class="form-group">
          <label for="processedOnDate" class="col-sm-2 control-label">Processing Date</label>
          <div class="col-sm-10">
            <div class="time form-inline"  style="width:150px;">
              <dateselect style="width:100%;" name="processedOnDate" ng-model="processedOn.date" format="dateFormat" ng-class="{'has-error' : (forms.recordComponentsForm.processedOnDate.$invalid)}" ng-required="true" max-date="maxProcessedOnDate" ng-model-options="{ allowInvalid: false }" ></dateselect>
              <ng-messages for="forms.recordComponentsForm.processedOnDate.$error" role="alert" ng-show="forms.recordComponentsForm.$submitted">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
            <div class="time form-group">
              <label for="processedOnTime" class="col-sm-2 control-label">Time</label>
              <div class="col-sm-5">
                  <div>
                    <uib-timepicker ng-model="processedOn.time" name="processedOnTime" show-spinners="false" ng-required="submitted"></uib-timepicker>
                    <ng-messages for="forms.recordComponentsForm.processedOnTime.$error" ng-show="forms.recordComponentsForm.$submitted">
                      <ng-messages-include src="messages.html"></ng-messages-include>
                    </ng-messages>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="combination" class="col-sm-2 control-label">Process Component</label>
          <div class="col-sm-10">
            <div class="form-inline">
              <span ng-if="component && component.componentType.producedComponentTypeCombinations.length > 0">
                <select name="combination" class="form-control input-sm" ng-model="component.componentTypeCombination"
                                                                         ng-options="item as item.combinationName for item in component.componentType.producedComponentTypeCombinations"
                                                                         required>
                  <option value="" ng-disabled="true">Select:</option>
                </select>
              </span>
              <ng-messages for="forms.recordComponentsForm.combination.$error" role="alert" ng-show="forms.recordComponentsForm.$submitted">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-3">
            <button class="btn btn-primary" type="submit" ng-disabled="recordingComponents">
              {{recordingComponents ? "Processing..." : "Process Component"}}
            </button>
            <button class="btn btn-primary" type="button" ng-click="clearRecordComponentForm();">Clear</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
</div>
