<div class="col-sm-3 col-md-2" ng-include="'views/components/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
<h3 class="page-header">Record Components</h3>

<form class="form-horizontal col-sm-12" name="findComponentsForm" role="form" novalidate ng-submit="getComponentsByDIN(findComponentsForm)">
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">DIN</label>
        <div class="row col-sm-11">
            <div class="form-inline" style="padding-left:5px;">
                <input size="15" type="donationIdentificationNumber" id="donationIdentificationNumber"
                       class="form-control input-sm" placeholder=""
                       ng-model="componentsSearch.donationIdentificationNumber" ng-required="true" />
            </div>
        </div>
    </div>
    <div class="col-sm-offset-1">
        <small class="error" ng-show="(findComponentsForm.$submitted && findComponentsForm.$invalid)">
            DIN cannot be empty
        </small>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-3">
            <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." :
                "Search"}}
            </button>
            <button class="btn btn-primary" type="button" ng-click="clearProcessComponentForm(); clearForm(findComponentsForm); clear();">Clear</button>
        </div>
    </div>
</form>

<div ng-switch="searchResults" class="col-sm-12">
    <div style="padding-bottom: 10px"></div>

    <div ng-switch-when="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-if="componentSelected === false" ng-hide="componentSelected !== false"
                     style="padding-top:10px;">
                    <uib-alert type="danger">Select a component to process</uib-alert>
                </div>
                <div class="panel-body">
                  <div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination></div>
                </div>
                <form name="recordComponentsForm" novalidate class="form-horizontal col-sm-12" role="form"
                      ng-submit="recordComponents(recordComponentsForm)">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Process Component</label>
                        <div class="row col-sm-10">
                            <div class="form-inline" style="padding-left:5px;">
                                <span ng-if="selectedComponents.length <= 0"><label for="name"
                                                                                    class="col-sm-5 control-label"
                                                                                    style="text-align:left;"><em>Select
                                    a component to process</em></label></span>
                                <span ng-if="selectedComponents.length > 0 && selectedComponentType.producedComponentTypeCombinations.length <= 0"><label
                                        for="name" class="col-sm-5 control-label" style="text-align:left;"><em>Selected
                                    component cannot be processed further</em></label></span>
                <span ng-if="selectedComponents.length > 0 && selectedComponentType.producedComponentTypeCombinations.length > 0">
                  <select name="combination" class="form-control input-sm" ng-model="component.componentTypeCombination"
                          ng-options="item as item.combinationName for item in selectedComponentType.producedComponentTypeCombinations"
                          required
                          ng-class="{'ng-invalid ng-dirty' : recordComponentsForm.combination.$invalid && submitted}">
                      <option value="" ng-disabled="true">Select:</option>
                  </select>
                </span>
                                <div>
                                    <small class="error"
                                           ng-show="
                      (recordComponentsForm.combination.$invalid && (recordComponentsForm.combination.$dirty || submitted))
                    ">
                                        This cannot be empty
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-3">
                            <button class="btn btn-primary" type="submit" ng-disabled="recordingComponents">
                                {{recordingComponents ? "Processing..." : "Process Component"}}
                            </button>
                            <button class="btn btn-primary" type="button"
                                    ng-click="clearForm(recordComponentsForm);
                clearProcessComponentForm()"
                            >Clear
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div ng-switch-when="false">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <em> Not found. Please re-enter DIN. </em>
                </p>
            </div>
        </div>
    </div>

</div>
</div>
