<div class="col-sm-3 col-md-2 sidebar" style="padding-top:5px;">
  <ul class="nav nav-sidebar">
    <li class=" placeholders placeholder" style="margin-bottom:5px;">
      <span>
      <div >
        <i class="fa {{icons.COMPONENTS}}"></i>
      </div>
      </span>
    </li>
    <li class="disabled"><span>MANAGE COMPONENTS</span></li>
    <li ng-class="{current: isCurrent('/recordComponents')}"><a href="#/recordComponents">Record Components</a></li>
    <li ng-class="{current: isCurrent('/findComponents')}"><a href="#/findComponents">Find Components</a></li>
  </ul>
</div>