<div class="col-sm-3 col-md-2" ng-include="'views/components/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Receive Components</h3>

  <ul class="nav nav-tabs nav-justified">
    <li>
      <a href="#/addComponentBatch">Add Delivery Form</a>
    </li>
    <li class="active">
      <a href="#/viewComponentBatches">View Delivery Forms</a>
    </li>
  </ul>

  <form class="form-horizontal col-sm-12" role="form" ng-submit="findComponents(search)">
    <div class="form-group">
      <label for="donationDate" class="col-sm-1 control-label">Period</label>
      <div class="row col-sm-11">
        <div class="form-inline" style="padding-left:5px;">
          <dateselect ng-model="search.donationDateFrom" ng-required="false" format="format" opened="startDateOpen" cal-icon="icons.CALENDAR"></dateselect>
          <span>
            <em> To: </em>
          </span>
          <dateselect-end ng-model="search.donationDateTo" format="format" opened="endDateOpen" cal-icon="icons.CALENDAR">
          </dateselect-end>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-3">
        <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." : "Search"}}
        </button>
        <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
      </div>
    </div>
  </form>
  
  <div class="col-sm-12">
      <div class="panel panel-default">
          <div class="panel-body">
              <p>
                  <em>{{gridOptions.data.length}} sample(s) found</em> | <em> Data export: </em>

                  <button class="btn btn-primary btn-ui-grid-export" ng-click="export('pdf')">PDF</button>
                  <button class="btn btn-primary btn-ui-grid-export" ng-click="export('csv')">CSV</button>
              </p>
              <div class="grid" ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination></div>
          </div>
      </div>
  </div>
</div>
