<table ng-table="componentsSummaryTableParams" show-filter="false" class="table">
  <tr ng-repeat="donation in $data"
      ng-click="changeSelection(donation);"
      ng-mouseenter="donation.$selected = true"
      ng-mouseleave="donation.$selected = false"
      ng-class="{'active': donation.$selected}">
      <td data-title="'DIN'" header-class="text-left" class="text-center" sortable="'donationIdentificationNumber'">
          {{donation.donationIdentificationNumber}}
      </td>
      <td data-title="'Created On'" header-class="text-left" class="text-center" sortable="'createdOn'">
          {{donation.createdOn}}
      </td>
      <td data-title="'Components Produced'" header-class="text-left" sortable="'componentsProduced'">
          {{donation.componentsProduced}}
      </td>
      <td data-title="''" style="width:10%;" class="text-center">
        <span style="font-size: 0.9em;">
          <em><a ng-click="viewComponents(donation.donationIdentificationNumber)"> View</a></em>
        </span>
      </td>
  </tr>
</table>