.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height:60px;
}
#footer {
  background-color: #f5f5f5;
}

/* duplicate dashboard.css declarations (used to resolve css issues after compiling with 'grunt -v') */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding: 20px 0px 0px 0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}
/* END duplicate dashboard.css declarations */

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 768px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

body {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #eee;
}

@media (min-width: 1200px) {
  .home-page{
    max-width: 900px;
    margin:0 auto;
  }
}

.dropdown-ext {
  width: 100%; 
}

.navbar-sub {
  text-align: center;
}

.hr-top {
  margin: 8px 0;
}

.hr-info {
  margin: 10px auto;
  width: 50%;
}

.hr-navside {
  margin: 2px auto;
  width: 80%;
}

.navbar {
  background-color: #242424;
  font-size: 1.7rem;
  font-style: normal;
}

.navbar-inverse .navbar-nav li a{
  padding:10px;
}

.placeholders a  {
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding: 0 auto;
}

.home-page a {
  margin: 1em;
}

.main-page a {
  margin: 0em;
}

.placeholders a:hover { 
  color:#b7b7b7;
}

.placeholder div {
  text-align: center;
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  margin: 0 auto;
  font-size: 6rem;
  background-color: #242424;

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.placeholder i {
  vertical-align: middle; 
  color: #f5f5f5;
}

.placeholder a div:hover { 
  background-color: rgba(36,36,36,0.85) !important;
}

.placeholder .glyphicon {
  top: 6px;
}

.placeholder .fa {
  margin-top: 20px;
}

body {
  font-family: 'Istok Web', Helvetica, Arial, sans-serif;
}

h1 h2 h3 h4 {
  font-family: 'Volkorn', Helvetica, Arial, sans-serif;
}

.placeholder h3 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 2rem;
}

.placeholder p {
  text-align: center;
  margin-top: 2px;
  font-size: 1.1rem;
}

.p-info {
  #display: none;
}

#footer {
  color: #aaa;
  #margin: 1rem 0 1rem 0;
  text-align: center;
  background-color: #eee;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; 
}


.disabled a {
  font-size: 1.23rem;
  color: #242424 !important;
  text-decoration: none;
  font-weight: bold;
}

.control-label {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-nav .dropdown-toggle{
  color: #e7e7e7 !important;
}

.navbar-nav .dropdown-toggle a:hover, a:visited, a:link, a:active{
  text-decoration: none !important;
}

.nav-sidebar a{
  font-size: 1.3rem;
}

.nav-sidebar .current a{
  background-color: #eee !important;
  color: #242424 !important;
  font-weight: normal !important;
}

.nav-sidebar li{
  border-bottom: 2px solid #eee;

}

.nav-sidebar span{
  position: relative;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  padding: 10px 15px;
  text-align: -webkit-match-parent;
  font-size: 1.23rem;
  color: #242424 !important;
  font-weight: bold;
  cursor: default;
}

/* <-- login form css */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img.main {
  width:100%;
  padding:0px;
}

/* --> login form css */

/* angular-ui tabs - custom css */

.nav-tabs.nav-justified > li.active > a {
  background-color: #eee !important;
  color: #242424 !important;
  border: none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 0;
}
.nav-tabs.nav-justified > li.active > a:hover {
  background-color: #eee !important;
  color: #242424 !important;
  border: none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 0;
} 
.nav-tabs.nav-justified {
  margin-bottom: 15px;
}
.nav-tabs.nav-justified li:not(.active){
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.nav-tabs.nav-justified > li > a {
  background-color: #f5f5f5;
  border: none;
  border-radius: 0;
}
.nav-tabs.nav-justified > li > a:hover {
  background-color: #eee;
  border: none;
  border-radius: 0;
}


/* --> angular-ui tabs - custom css */

/* general css */

.main .page-header {
  margin-bottom: 0px;
}

.input-sm {
  height: 30px;
  padding: 0px 8px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.ng-table th.filter .input-filter {
  height: 30px;
  padding: 0px 8px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}
.ng-table {
  border-radius: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ng-table thead tr {
  border-bottom: 2px solid #ccc;
}
.ng-table tbody tr {
  background-color: #fff;
}
.ng-table tbody  {
  cursor: pointer !important;
}
.ng-table tbody tr:hover {
  background-color: #f5f5f5;
}
table.ng-table tr td{
  padding: 5px; !important;
}
.ng-table .pagination{
  margin: 10px 0;
}

.dash-table th.center {
  text-align:center;
}
.dash-table th {
  padding: 4px;
}
.dash-table td {
  padding: 4px;
}
.dash-table td.icon {
  vertical-align: center;
  color: #999;
}
.dash-table td.field {
  font-style: italic;
  vertical-align: center;
  color: #555;
}
.dash-table td.center {
  text-align:center;
}
.dash-table td.value {
  font-size: 1.1em;
}
.dash-table td.valuesml {
  font-size:0.9em;
}
.dash-table td.green{
  color: #3c763d;
}
.dash-table td.red{
  color: #a94442;
}

.dash-table-sml{
  font-size: 0.85em;
}
.dash-table-sml > th {
  padding: 2px;
}
.dash-table-sml > td {
  padding: 2px;
}


.form-group {
  margin-bottom: 5px;
}

.btn-primary {
  padding: 4px 5px;
  margin-top: 10px;
}

/* css hack to get input-groups to display inline */
.input-group {
    display: inline-table !important;
    vertical-align: middle;

    .input-group-addon,
    .input-group-btn,
    .form-control {
        width: auto !important;
    }
}

/* css hack to get cols with equal heights */
.row.equal [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.row.equal{
  overflow: hidden; 
}

.form-group .row{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.row .main-page{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.row .home-page {
  margin-left: -15px;
  margin-right: -15px;
}

dob { 
  display: inline; 
}

.dob * { 
  display: inline-block;
}

.dob input { 
  width: 2em;
  border: none; 
  font-size: 100%; 
  background: none;
  color: #000;
}

.dob input#day { margin: 0 0 0 0.5em; }
.dob input#year { width:3em; }
.dob input:focus { outline:none; }

label {
  margin-top: 8px;
}

.panel {
  padding: 0;
}

/* css to control angular-xeditable input fields */
.editable-input{
  padding: 0px 0px;
  font-size: 0.9em;
  width: 120px;
}
.editable-input>select{
  padding: 4px 4px;
}
.h2 .editable-controls>input{
  height: 1.4em;
}
.h2 .editable-controls>select{
  height: 1.5em;
}
.h4 .editable-controls>input{
  height: 1.4em;
}
.h4 .editable-controls>select{
  height: 1.5em;
}
.panel .editable-input {
  height: 23px;
}
/* -------------------- */

small {
  color: #888 ;
}

.ui-select-bootstrap .ui-select-choices-row.active>a>small{
  color: #fff;
}

/* --> general css */

