<span class="h4">Add Donation</span>
<hr style="margin-top:8px;"/>

<div ng-if="$parent.addDonationSuccess === true" ng-hide="$parent.addDonationSuccess !== true" style="padding-top:10px;"><alert type="success" close="$parent.addDonationSuccess = ''">Donation Added Successfully.</alert></div>
<div ng-if="$parent.addDonationSuccess === false" ng-hide="$parent.addDonationSuccess !== false" style="padding-top:10px;"><alert type="danger" close="$parent.addDonationSuccess = ''">Error Adding Donation, please resolve issues and try again.</alert></div>

<form name="addDonationForm" novalidate class="form-horizontal col-sm-12" role="form" ng-submit="addDonation(donation, addDonationForm.$valid)">

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Donor #</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input name="donorNumber" size="15" type="donorNumber" id="donorNumber" class="form-control input-sm" placeholder="" ng-model="donation.donorNumber" required integer ng-maxlength=6 
        ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.donorNumber.$invalid && submitted}"
        >
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.donorNumber.$invalid && (addDonationForm.donorNumber.$dirty || submitted))
            ">
            Invalid input - required field
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">DIN</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input name="din" size="15" type="donationIdentificationNumber" id="donationIdentificationNumber" class="form-control input-sm" placeholder="" ng-model="donation.collectionNumber"
        required integer ng-maxlength=6 
        ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.din.$invalid && submitted}"
        >
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.din.$invalid && (addDonationForm.din.$dirty || submitted))
            ">
            Invalid input - required field
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Pack Type</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <select name="packType" class="form-control input-sm" ng-model="donation.packType" ng-options="item as item.bloodBagType for item in packTypes" required 
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.packType.$invalid && submitted}"
        >
            <option value=""></option>
        </select>
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.packType.$invalid && (addDonationForm.packType.$dirty || submitted))
            ">
            Invalid input - required field
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Donation Type</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <select name="donationType" class="form-control input-sm" ng-model="donation.donationType" ng-options="item as item.donationType for item in donationTypes" required 
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.donationType.$invalid && submitted}"
        >
            <option value=""></option>
        </select>
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.donationType.$invalid && (addDonationForm.donationType.$dirty || submitted))
            ">
            Invalid input - required field
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Time</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input size="6" type="timeStarted" id="timeStarted" class="form-control input-sm" placeholder="Start" ng-model="timeStarted">
        <input size="6" type="timeEnded" id="timeEnded" class="form-control input-sm" placeholder="End" ng-model="timeEnded">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Weight</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input name="donorWeight" size="4" type="number" id="donorWeight" class="form-control input-sm" placeholder="" ng-model="donation.donorWeight" 
        decimal min=0 max=300 
        ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.donorWeight.$invalid && submitted}"
        > <em> kg </em>
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.donorWeight.$invalid && (addDonationForm.donorWeight.$dirty || submitted))
            ">
            Invalid input
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Hb</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input name="hb" size="4" type="number" id="haemoglobinCount" class="form-control input-sm" placeholder="" ng-model="donation.haemoglobinCount"
        decimal min=0 max=50
        ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.hb.$invalid && submitted}"
        >
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.hb.$invalid && (addDonationForm.hb.$dirty || submitted))
            ">
            Invalid input
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">BP</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input name="bpSystolic" size="1" type="number" id="bloodPressureSystolic" class="form-control input-sm" placeholder="" ng-model="donation.bloodPressureSystolic"
        integer min=0 max=200
        ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.bpSystolic.$invalid && submitted}"
        > / 
        <input name="bpDiastolic" size="1" type="number" id="bloodPressureDiastolic" class="form-control input-sm" placeholder="" ng-model="donation.bloodPressureDiastolic"
        integer min=0 max=150
        ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.bpDiastolic.$invalid && submitted}"
        >
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.bpSystolic.$invalid && (addDonationForm.bpSystolic.$dirty || submitted)) ||
              (addDonationForm.bpDiastolic.$invalid && (addDonationForm.bpDiastolic.$dirty || submitted))
            ">
            Invalid input
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Pulse</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <input name="pulse" size="4" type="number" id="donorPulse" class="form-control input-sm" placeholder="" ng-model="donation.donorPulse"
        integer min=0 max=300 
        ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
        ng-class="{'ng-invalid ng-dirty' : addDonationForm.pulse.$invalid && submitted}"
        >
        <span>
          <small class="error" 
            ng-show="
              (addDonationForm.pulse.$invalid && (addDonationForm.pulse.$dirty || submitted))
            ">
            Invalid input
          </small>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-1 col-sm-4">
      <button class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-primary" type="button" ng-click="viewDonationBatch()"/>Cancel</button>
    </div>
  </div>

</form>