<span class="h4">Add Donation</span>
<hr style="margin-top:8px;"/>

<div ng-if="$parent.addDonationSuccess === false" ng-hide="$parent.addDonationSuccess !== false"
     style="padding-top:10px;">
    <uib-alert type="danger" close="">
        {{err.userMessage}}
        <ul>
            <li ng-show="err['donation.donor']"> {{err["donation.donor"]}}</li>
            <li ng-show="err['donation.donationIdentificationNumber']">
                {{err["donation.donationIdentificationNumber"]}}
            </li>
            <li ng-show="err['donation.donorWeight']"> {{err["donation.donorWeight"]}}</li>
            <li ng-show="err['donation.haemoglobinCount']"> {{err["donation.haemoglobinCount"]}}</li>
            <li ng-show="err['donation.bloodPressureSystolic']"> {{err["donation.bloodPressureSystolic"]}}</li>
            <li ng-show="err['donation.bloodPressureDiastolic']"> {{err["donation.bloodPressureDiastolic"]}}</li>
            <li ng-show="err['donation.donorPulse']"> {{err["donation.donorPulse"]}}</li>
        </ul>
    </uib-alert>
</div>

<form name="addDonationForm" novalidate class="form-horizontal col-sm-12" role="form"
      ng-submit="addDonation(donation, bleedStartTime, bleedEndTime, addDonationForm.$valid)">

    <div class="col-md-4">

        <p><em>Donation Information</em></p>
        <hr style="margin-top:8px;"/>

        <div class="form-group">
            <label for="donorNumber" class="col-sm-3 control-label">Donor #</label>
            <div class="row col-sm-9">
                <div class="form-inline" style="padding-left:5px;">
                    <input name="donorNumber" size="15" type="donorNumber" id="donorNumber"
                           class="form-control input-sm" placeholder="" ng-model="donation.donorNumber" required 
                           ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-class="{'ng-invalid ng-dirty' : (addDonationForm.donorNumber.$invalid && submitted)}">
                    <div>
                        <small class="error" ng-show="(addDonationForm.donorNumber.$error.required && (addDonationForm.donorNumber.$dirty || submitted))">
                            This cannot be empty
                        </small>
                    </div>
                    <div>
                        <small class="error" ng-show="(!addDonationForm.donorNumber.$error.required && addDonationForm.donorNumber.$invalid && (addDonationForm.donorNumber.$dirty || submitted))">
                            Invalid input
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label"> </label>
            <div class="row col-sm-9">
                <div class="form-inline"
                     style="margin-left:5px; padding:3px 0 3px 8px; font-size:0.9em; height:80px; width:150px; border-radius: 5px; border: 1px solid #ddd;">
                    <i class="fa fa-spinner fa-spin" ng-show="donorSummaryLoading"></i>
                    <span class="center-block" ng-hide="donorSummaryLoading">
                      {{donorSummary.firstName}} {{donorSummary.lastName}}
                    </span>
                    <span class="center-block" ng-switch="donorSummary.gender" ng-hide="donorSummaryLoading">
                      <span ng-switch-when="male">
                        <i class="fa fa-male"></i>
                        Male
                      </span>
                      <span ng-switch-when="female">
                        <i class="fa fa-female"></i>
                        Female
                      </span>
                    </span>
                    <span class="center-block" ng-hide="donorSummaryLoading">
                      {{donorSummary.birthDate | bsisDate}}
                    </span>
                    <span class="center-block text-danger" ng-hide="donorSummaryLoading || donorSummary.eligible !== false">
                      Do not bleed
                    </span>
                    <span class="center-block text-success" ng-hide="donorSummaryLoading || donorSummary.eligible !== true">
                      Eligible donor
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">DIN</label>
            <div class="row col-sm-9">
                <div class="form-inline" style="padding-left:5px;">
                    <input name="din" size="15" type="donationIdentificationNumber" id="donationIdentificationNumber"
                           class="form-control input-sm" placeholder="" ng-model="donation.donationIdentificationNumber"
                           ng-maxlength="dinLength"
                           ng-minlength="dinLength"
                           required
                           ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           ng-class="{'ng-invalid ng-dirty' : (addDonationForm.din.$invalid && submitted)}" din-length>
                    <div>
                        <small class="error" ng-show="(addDonationForm.din.$error.required && (addDonationForm.din.$dirty || submitted))">
                            This cannot be empty
                        </small>
                    </div>
                    <div>
                        <small class="error" ng-show="((addDonationForm.din.$error.maxlength || addDonationForm.din.$error.minlength) && (addDonationForm.din.$dirty || submitted))">
                            DIN should be {{dinLength}} characters
                        </small>
                    </div>
                    <div>
                        <small class="error" ng-show="(!addDonationForm.din.$error.required && addDonationForm.din.$invalid && (!addDonationForm.din.$error.maxlength && !addDonationForm.din.$error.minlength) && (addDonationForm.din.$dirty || submitted))">
                            Invalid input
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="packType" class="col-sm-3 control-label">Pack</label>
            <div class="row col-sm-9">
                <div class="form-inline" style="padding-left:5px;">
                    <select name="packType" id="packType" class="form-control input-sm" ng-model="donation.packType"
                            ng-options="item as item.packType for item in packTypes" required
                            ng-class="{'ng-invalid ng-dirty' : addDonationForm.packType.$invalid && submitted}">
                        <option value=""></option>
                    </select>
                    <div>
                        <small class="error" ng-show="(addDonationForm.packType.$invalid && (addDonationForm.packType.$dirty || submitted))">
                            This cannot be empty
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="donationType" class="col-sm-3 control-label">Donation</label>
            <div class="row col-sm-9">
                <div class="form-inline" style="padding-left:5px;">
                    <select name="donationType" id="donationType" class="form-control input-sm"
                            ng-model="donation.donationType"
                            ng-options="item as item.type for item in donationTypes" required
                            ng-class="{'ng-invalid ng-dirty' : addDonationForm.donationType.$invalid && submitted}" >
                        <option value=""></option>
                    </select>
                    <div>
                        <small class="error" ng-show=" (addDonationForm.donationType.$invalid && (addDonationForm.donationType.$dirty || submitted))">
                            This cannot be empty
                        </small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <p><em>Bleed Times</em></p>
        <hr style="margin-top:8px;"/>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Start</label>
            <div class="row col-sm-10">
                <div style="padding-left:5px;">
                    <uib-timepicker ng-model="bleedStartTime" name="bleedStartTime" show-spinners="false"></uib-timepicker>
                    <small class="error" ng-show="addDonationForm.bleedStartTime.$error.time">
                        Enter a valid time
                    </small>
                </div>     
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">End</label>
            <div class="row col-sm-10">
                <div style="padding-left:5px;">
                    <uib-timepicker ng-model="bleedEndTime" name="bleedEndTime" show-spinners="false" ng-required="submitted"></uib-timepicker>
                    <small class="error" ng-show="addDonationForm.bleedEndTime.$error.time">
                        Enter a valid time
                    </small>
                    <small class="error" ng-show="(bleedEndTime < bleedStartTime) && !addDonationForm.bleedStartTime.$error.time && !addDonationForm.bleedEndTime.$error.time">
                        End time should be after Start time
                    </small>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <p><em>Donor Assessment</em></p>
        <hr style="margin-top:8px;"/>

        <div class="form-group">
            <label for="donorWeight" class="col-sm-4 control-label">Weight</label>
            <div class="row col-sm-8">
                <div class="form-inline" style="padding-left:5px;">
                    <input name="donorWeight" size="4" type="number" id="donorWeight" class="form-control input-sm"
                           placeholder="" ng-model="donation.donorWeight"
                           decimal min={{weightMin}} max={{weightMax}}
                           ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-class="{'ng-invalid ng-dirty' :  (addDonationForm.donorWeight.$invalid && submitted)}" />
                    <em> {{weightUnit}} </em>
                    <div>
                        <small class="error" ng-show="(addDonationForm.donorWeight.$error.min && (addDonationForm.donorWeight.$dirty || submitted))">
                            Please enter a value above {{weightMin}}
                        </small>
                        <small class="error" ng-show="(addDonationForm.donorWeight.$error.max && (addDonationForm.donorWeight.$dirty || submitted))">
                            Please enter a value below {{weightMax}}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="haemoglobinCount" class="col-sm-4 control-label">Hb</label>
            <div class="row col-sm-8">
                <div class="form-inline" style="padding-left:5px;">
                    <input ng-show="getBooleanValue('donation.hbNumericValue')" name="hb" size="5" type="number"
                           id="haemoglobinCount" class="form-control input-sm" placeholder=""
                           ng-model="donation.haemoglobinCount"
                           decimal min={{hbMin}} max={{hbMax}}
                           ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-class="{'ng-invalid ng-dirty' : (addDonationForm.hb.$invalid && submitted)}" />
                    <em ng-show="getBooleanValue('donation.hbNumericValue')"> {{hbUnit}} </em>
                    <select ng-show="getBooleanValue('donation.hbQualitativeValue')" class="form-control input-sm"
                            ng-model="donation.haemoglobinLevel"
                            ng-options="l.value as l.label for l in haemoglobinLevels">
                        <option value="" ng-disabled="true">Level</option>
                    </select>
                    <div>
                        <small class="error" ng-show="(addDonationForm.hb.$error.min && (addDonationForm.hb.$dirty || submitted))">
                            Please enter a value above {{hbMin}}
                        </small>
                        <small class="error" ng-show="(addDonationForm.hb.$error.max && (addDonationForm.hb.$dirty || submitted))">
                            Please enter a value below {{hbMax}}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="bloodPressureSystolic" class="col-sm-4 control-label">BP</label>
            <div class="row col-sm-8">
                <div class="form-inline" style="padding-left:5px;">
                    <input name="bpSystolic" size="1" type="number" id="bloodPressureSystolic"
                           class="form-control input-sm" placeholder="" ng-model="donation.bloodPressureSystolic"
                           integer min={{bpSystolicMin}} max={{bpSystolicMax}}
                           ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-class="{'ng-invalid ng-dirty' : (addDonationForm.bpSystolic.$invalid && submitted)}" /> /
                    <input name="bpDiastolic" size="1" type="number" id="bloodPressureDiastolic"
                           class="form-control input-sm" placeholder="" ng-model="donation.bloodPressureDiastolic"
                           integer min={{bpDiastolicMin}} max={{bpDiastolicMax}}
                           ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-class="{'ng-invalid ng-dirty' : (addDonationForm.bpDiastolic.$invalid && submitted)}" /> 
                    <em> {{bpUnit}} </em>
                    <div>
                        <small class="error" ng-show="(addDonationForm.bpSystolic.$error.min && (addDonationForm.bpSystolic.$dirty || submitted))">
                            Please enter a value above {{bpSystolicMin}} <br/>
                        </small>
                        <small class="error" ng-show="(addDonationForm.bpSystolic.$error.max && (addDonationForm.bpSystolic.$dirty || submitted))">
                            Please enter a value below {{bpSystolicMax}} <br/>
                        </small>
                        <small class="error" ng-show="(addDonationForm.bpDiastolic.$error.min && (addDonationForm.bpDiastolic.$dirty || submitted))">
                            Please enter a value above {{bpDiastolicMin}}
                        </small>
                        <small class="error" ng-show="(addDonationForm.bpDiastolic.$error.max && (addDonationForm.bpDiastolic.$dirty || submitted))">
                            Please enter a value below {{bpDiastolicMax}}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="donorPulse" class="col-sm-4 control-label">Pulse</label>
            <div class="row col-sm-8">
                <div class="form-inline" style="padding-left:5px;">
                    <input name="pulse" size="4" type="number" id="donorPulse" class="form-control input-sm"
                           placeholder="" ng-model="donation.donorPulse"
                           integer min={{pulseMin}} max={{pulseMax}}
                           ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-class="{'ng-invalid ng-dirty' : (addDonationForm.pulse.$invalid && submitted) }" /> 
                    <em> {{pulseUnit}} </em>
                    <div>
                        <small class="error" ng-show="(addDonationForm.pulse.$error.min && (addDonationForm.pulse.$dirty || submitted))">
                            Please enter a value above {{pulseMin}}
                        </small>
                        <small class="error" ng-show="(addDonationForm.pulse.$error.max && (addDonationForm.pulse.$dirty || submitted))">
                            Please enter a value below {{pulseMax}}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="adverseEventType" class="col-sm-4 control-label">Adverse Event</label>
            <div class="row col-sm-8">
                <div class="form-inline" style="padding-left:5px;">
                    <select class="form-control"
                            id="adverseEventType"
                            name="adverseEventType"
                            ng-model="adverseEvent.type"
                            ng-change="resetAdverseEventComment()"
                            ng-options="adverseEventType as adverseEventType.name for adverseEventType in adverseEventTypes">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="adverseEventType" class="col-sm-4 control-label"></label>
            <div class="row col-sm-8">
                <div class="form-inline" style="padding-left:5px;">
                    <input class="form-control"
                           id="adverseEventComment"
                           type="text"
                           name="adverseEventComment"
                           placeholder="Description"
                           ng-model="adverseEvent.comment"
                           ng-disabled="!adverseEvent.type"/>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button class="btn btn-primary" type="submit" ng-disabled="addingDonation">{{addingDonation ? "Saving..." :
                "Save"}}
            </button>
            <button class="btn btn-primary" type="button" ng-click="clearForm(addDonationForm); viewDonationBatch()"
                    ng-disabled="addingDonation">Cancel
            </button>
        </div>
    </div>


</form>
