<div class="row equal">
  <div class="col-sm-5" style="height:100%; border-right: 2px solid #f5f5f5; ">

    <table class="dash-table">
      <tbody>
        <tr>
          <td class="field">DIN: </td>
          <td class="value">{{donation.donationIdentificationNumber}}</td>
        </tr>
        <tr>
          <td class="field">Date: </td>
          <td class="value">{{donation.donationDate | bsisDate }}</td>
        </tr>
        <tr>
          <td class="field">Time: </td>
          <td class="value">{{donation.bleedStartTime | bsisTime}} to {{donation.bleedEndTime | bsisTime}}</td>
        </tr>
        <tr>
          <td class="field">Panel: </td>
          <td class="value">{{donation.donorPanel.name}}</td>
        </tr>
        <tr>
          <td class="field">Pack: </td>
          <td class="value">{{donation.packType.packType}}</td>
        </tr>
        <tr>
          <td class="field">Donation: </td>
          <td class="value">{{donation.donationType.donationType}}</td>
        </tr>
        <tr>
          <td class="field">ABO/Rh: </td>
          <td class="value">{{donation.bloodAbo}}{{donation.bloodRh}}</td>
        </tr>
        <tr>
          <td class="field">Pulse: </td>
          <td class="value">{{donation.donorPulse}} {{pulseUnit}}</td>
        </tr>
        <tr>
          <td class="field">Hb: </td>
          <td class="value">
            
            <span ng-show="getBooleanValue('donation.hbNumericValue')">{{donation.haemoglobinCount}} {{hbUnit}}</span>
            <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> (</span>
            <span ng-show="getBooleanValue('donation.hbQualitativeValue')" style="text-transform:capitalize;">{{donation.haemoglobinLevel | lowercase}}</span>
            <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> )</span>

          </td>
        </tr>
        <tr>
          <td class="field">BP: </td>
          <td class="value">{{donation.bloodPressureSystolic}}/{{donation.bloodPressureDiastolic}} {{bpUnit}}</td>
        </tr>
        <tr>
          <td class="field">Weight: </td>
          <td class="value">{{donation.donorWeight}} {{weightUnit}}</td>
        </tr>
        <tr>
          <td class="field">Comment: </td>
          <td class="valuesml">{{donation.notes}}</td>
        </tr>
        <tr>
          <td class="field">Adverse Event Type: </td>
          <td class="value">{{donation.adverseEvent.type.name}}</td>
        </tr>
        <tr>
          <td class="field">Adverse Event Comment: </td>
          <td class="value">{{donation.adverseEvent.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-7" style="height:100%; ">


    <span>
      <small><em>TTI Test Status:</em></small> {{donation.ttistatus}}
      <br/>
      <small><em>Blood Group Serology Test Status:</em></small> {{donation.bloodTypingStatus}} 
    </span>

    <hr style="margin-top:0px;"/>

    <div class="form-horizontal col-sm-12">
      <div class="row">
      <span class="col-sm-6">
        <span class="h5"> 
          TTI Outcomes
        </span>
        <table class="dash-table">
          <thead>
            <tr><td></td></tr>
            <tr>
              <th>Test</th>
              <th>Outcome</th>
              <th>Tested On</th>
            </tr>
          </thead>
          <hr style="margin-top:10px; margin-bottom:5px;"/>
          <tbody>
            <tr><td></td></tr>
            <tr ng-repeat="test in testResults">
              <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">{{test.bloodTest.testNameShort}}</td>
              <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">{{test.result}}</td>
              <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">{{test.testedOn | bsisDate}}</td>
            </tr>
          </tbody>
        </table>
      </span>
      <span class="col-sm-6">
        <span class="h5"> 
          Blood Group Serology Outcomes
        </span>
        <table class="dash-table">
          <thead>
            <tr><td></td></tr>
            <tr>
              <th>Test</th>
              <th>Outcome</th>
              <th>Tested On</th>
            </tr>
          </thead>
          <hr style="margin-top:10px; margin-bottom:5px;"/>
          <tbody>
            <tr><td></td></tr>
            <tr ng-repeat="test in testResults">
              <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">{{test.bloodTest.testNameShort}}</td>
              <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">{{test.result}}</td>
              <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">{{test.testedOn | bsisDate}}</td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </div>
</div>
