<div class="col-sm-3 col-md-2" ng-include="'views/donors/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
<h3 class="page-header">Donors Flagged for Counselling</h3>

<form class="form-horizontal" name="findDonorFlagedForCouncellingForm" style="padding:10px 0;" ng-submit="refresh()" novalidate>

    <div class="clearfix form-group">
        <label class="col-sm-2 control-label">Venues:</label>
        <div class="col-sm-10">
            <ui-select multiple ng-model="search.selectedVenues" name="selectedVenues" style="max-width:500px;min-height:34px;" on-select="updateAllVenues();" ui-select-required="!search.allVenues">
                <ui-select-match placeholder="Select:">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="venue.id as venue in venues | filter:$select.search">
                    {{venue.name}}
                </ui-select-choices>
            </ui-select>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="allVenues" ng-model="search.allVenues" ng-click="clearVenues()"> Any
                    Venue
                </label>
            </div>
            <div>
                <ng-messages for="findDonorFlagedForCouncellingForm.selectedVenues.$error" role="alert" ng-show="findDonorFlagedForCouncellingForm.$submitted">
                <ng-messages-include src="messages.html"></ng-messages-include>
            </div>
        </div>
    </div>

    <div class="clearfix form-group">
        <label class="col-sm-2 control-label">Donation Period:</label>
        <div class="form-inline col-sm-10">
            <div>
                <dateselect ng-model="search.startDate" format="dateFormat"></dateselect>
                <span><em>To:</em></span>
                <dateselect-end ng-model="search.endDate" format="dateFormat"></dateselect-end>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-checked="!search.startDate && !search.endDate" ng-click="clearDates()">
                    Any Date
                </label>
            </div>
        </div>
    </div>

    <div class="clearfix form-group">
        <label class="col-sm-2 control-label" for="flaggedForCounselling">Flagged for Counselling:</label>
        <div class="form-inline col-sm-10">
            <input type="checkbox" id="flaggedForCounselling" ng-model="search.flaggedForCounselling" ng-click="clearCounsellingStatusesAndReferred()">
            <select name="counsellingStatus" class="form-control" ng-model="search.counsellingStatuses" ng-options="status.id as status.label for status in counsellingStatuses" ng-disabled="search.flaggedForCounselling" ng-change="updateReferred()">
                <option value=""></option>
            </select>
            <div class="checkbox">
                <label>
                    Referred: 
                    <input type="checkbox" ng-model="search.referred" ng-disabled="search.flaggedForCounselling || search.counsellingStatus != 1">
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-offset-2 ">
        <button class="btn btn-primary" type="submit" ng-disabled="searching">{{searching ? "Searching..." :
            "Search"}}
        </button>
        <button class="btn btn-primary" type="button" ng-click="clearSearch(findDonorFlagedForCouncellingForm)">Clear</button>
    </div>
</form>

<div class="panel panel-default" ng-if="searched">
    <div class="panel-body">
        <p>
            <em>{{gridOptions.data.length}} donor(s) found</em> | <em> Data export: </em>
            <button class="btn btn-primary btn-ui-grid-export" ng-click="export('pdf')">PDF</button>
            <button class="btn btn-primary btn-ui-grid-export" ng-click="export('csv')">CSV</button>
        </p>
        <div class="grid" ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination></div>
    </div>
</div>
</div>
