<!-- Name -->
<span class="h2"> 
  <span>{{donor.firstName}}</span> 
  <span>{{donor.lastName}}</span>
  <small><em>
    <span ng-if="donor.title"> 
    <span>{{donor.title}}</span>.</span>
    <span>{{donor.callingName}}</span>
  </em></small>
</span>

<!-- Gender -->
<span ng-switch="donor.gender" class="h3" style="vertical-align: 0.3em; padding-left:10px;"> 
  <span ng-switch-when="male" class="fa-stack fa-1x">
    <i class="fa fa-circle fa-stack-2x fa-fw"></i>
    <i class="fa {{icons.MALE}} fa-stack-1x fa-inverse fa-fw"></i>
  </span>
  <span ng-switch-when="female" class="fa-stack fa-1x">
    <i class="fa fa-circle fa-stack-2x fa-fw"></i>
    <i class="fa {{icons.FEMALE}} fa-stack-1x fa-inverse fa-fw"></i>
  </span>
</span>

<!-- Blood group -->
<span class="h3" ng-if="donor.bloodGroup !== ''" style="vertical-align: 0.3em; padding-left:5px;">
  <span class="fa-stack fa-1x">
    <i class="fa fa-circle fa-stack-2x fa-fw"></i>
    <i class="fa fa-stack-1x fa-inverse">{{donor.bloodGroup}}</i>
  </span>
</span>

<hr />

<!-- Details -->
<div class="h4"> 
  <small><em>Age: </em></small>
  <span calculate-age dob="{{donor.birthDate}}" age="age">{{age}}</span>
  <em>(<span>{{donor.birthDate | bsisDate}}</span>)</em>
  | 
  <small><em>Donor Number: </em></small> {{donor.donorNumber}}
  | 
  <small><em>Venue: </em></small>
  <span>{{donor.venue.name}}</span>
  | 
  <small><em>Preferred Language: </em></small> 
  <span>{{donor.preferredLanguage.preferredLanguage}}</span>
</div>

<hr />

<!-- Counselling form -->
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline" name="postDonationCounsellingForm" ng-submit="updatePostDonationCounselling()" novalidate>
      <div class="form-group" style="display:inline;" ng-class="{'has-error': postDonationCounsellingForm.$submitted && postDonationCounsellingForm.counsellingDate.$invalid}">
        <label>Counselling Date:</label>
        <dateselect class="counselling-date"
            name="counsellingDate"
            format="dateFormat"
            ng-model="postDonationCounselling.counsellingDate"
            required>
        </dateselect>
        <ng-messages role="alert"
            for="postDonationCounsellingForm.counsellingDate.$error"
            ng-show="postDonationCounsellingForm.$submitted || postDonationCounsellingForm.counsellingDate.$dirty">
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>
      </div>
      <div class="form-group" ng-class="{'has-error': postDonationCounsellingForm.$submitted && postDonationCounsellingForm.counsellingStatus.$invalid}">
        <label>Counselling Status:</label>
        <select class="form-control"
          name="counsellingStatus"
          ng-model="postDonationCounselling.counsellingStatus"
          ng-options="counsellingStatus.label for counsellingStatus in counsellingStatuses track by counsellingStatus.id"
          required>
        </select>
        <ng-messages role="alert"
            for="postDonationCounsellingForm.counsellingStatus.$error"
            ng-show="postDonationCounsellingForm.$submitted || postDonationCounsellingForm.counsellingStatus.$dirty">
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>
      </div>
      <div class="form-group">
        <label>Comment:</label>
        <input type="text" class="form-control" ng-model="postDonationCounselling.notes" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style="margin-top:0;" ng-disabled="updatingCounselling">{{updatingCounselling ? "Saving..." : "Save"}}</button>
        <a class="btn btn-primary" style="margin-top:0;" href="" ng-click="goBack()" ng-disabled="updatingCounselling">Cancel</a>
        <a class="btn btn-primary" style="margin-top:0;" href="" ng-click="removeStatus()" ng-disabled="!postDonationCounselling.permissions.canResetStatus || updatingCounselling">Remove Status</a>
      </div>

    </form>
  </div>
</div>

<!-- Donation details -->
<div class="panel panel-default">
  <div class="panel-body" ng-include="'views/donors/donationDetails.html'"></div>
</div>
