<h3 class="page-header">View / Export Donor List</h3>

<form class="form-horizontal col-sm-12"  role="form" ng-submit="getDonors(donorList)">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Donor Panels</label>
    <div class="row col-sm-10">
      <div class="form-inline" style="padding-left:5px;">
        <ui-select multiple ng-model="donorList.donorPanels" theme="bootstrap" ng-disabled="disabled" style="width: 470px;">
          <ui-select-match placeholder="Select:">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="donorPanel.id as donorPanel in donorPanels | filter:$select.search">
            {{donorPanel.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Blood Groups</label>
    <div class="row col-sm-10">
      <div class="form-inline" style="padding-left:5px;">
        <ui-select multiple ng-model="donorList.bloodGroups" theme="bootstrap" ng-disabled="disabled" style="width: 470px;">
          <ui-select-match placeholder="Select:">{{$item}}</ui-select-match>
          <ui-select-choices repeat="bloodGroup in bloodGroups | filter:$select.search">
            {{bloodGroup}}
          </ui-select-choices>
        </ui-select>
        <input  type="checkbox" id="anyBloodGroup" ng-model="donorList.anyBloodGroup" > <label style="display: inline-block; cursor: pointer; cursor: hand;" for="anyBloodGroup"> Any Blood Group </label>
        <input  type="checkbox" id="noBloodGroup" ng-model="donorList.noBloodGroup" > <label style="display: inline-block; cursor: pointer; cursor: hand;" for="noBloodGroup"> No Blood Group </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Previous Donation</label>
    <div class="row col-sm-10">
      <div class="form-inline" style="padding-left:5px;">
        <dateselect ng-model="donorList.lastDonationFromDate" format="format" opened="donationDateFromOpen" cal-icon="icons.CALENDAR">
        </dateselect>
        <span><em> To: </em></span>
        <dateselect-end ng-model="donorList.lastDonationToDate" format="format" opened="donationDateToOpen" cal-icon="icons.CALENDAR">
        </dateselect-end>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Due To Donate</label>
    <div class="row col-sm-10">
      <div class="form-inline" style="padding-left:5px;">
        <dateselect ng-model="donorList.clinicDate" format="format" opened="dueToDonateOpen" cal-icon="icons.CALENDAR">
        </dateselect>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button class="btn btn-primary" type="submit">Search</button>
      <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
    </div>
  </div>
</form>
<div ng-switch="donorListSearchResults" class="col-sm-12">
<div style="padding-bottom: 10px"></div>

  <div ng-switch-when="true">
    <div class="panel panel-default">
      <div class="panel-body">

          <p>
            <em> {{donorListSearchCount}} donor(s) found  </em>
          </p>

          <table ng-table="donorListTableParams" show-filter="false" class="table">
              <tr ng-repeat="donor in $data"
                  ng-click="viewDonor(donor); changeSelection(donor);"
                  ng-mouseenter="this.$selected = true"
                  ng-mouseleave="this.$selected = false"
                  ng-class="{'active': donor.$selected}">
                  <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                      {{donor.donorNumber}}
                  </td>
                  <td data-title="'First Name'" header-class="text-left" sortable="'firstName'">
                      {{donor.firstName}}
                  </td>
                  <td data-title="'Last Name'" header-class="text-left" sortable="'lastName'">
                      {{donor.lastName}}
                  </td>
                  <td data-title="'Date of Last Donation'" header-class="text-left" class="text-center" sortable="'dateOfLastDonation'">
                      {{donor.dateOfLastDonation | bsisDate}}
                  </td>
                  <td data-title="'Blood Group'" header-class="text-left" sortable="'bloodGroup'">
                      {{donor.bloodGroup}}
                  </td>
                  <td data-title="'Donor Panel'" header-class="text-left"  sortable="'donorPanel'">
                      {{donor.donorPanel.name}}
                  </td>
              </tr>
          </table>
        </div>
      </div>
  </div>
  <div ng-switch-when="false">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <em> No donors found </em>
        </p>
      </div>
    </div>
  </div>

</div>
