<h3 class="page-header">Find Donor</h3>

<form class="form-horizontal" role="form" method="get" action="">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-3">
      <input class="form-control input-md" placeholder="First "  autofocus="">
      <input class="form-control input-md" placeholder="Last " >
    </div>
  </div>  
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" >Donor #</label>
    <div class="col-sm-3">
      <input class="form-control input-md" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <div class=" col-sm-offset-2 col-sm-3">
      <input  type="checkbox" > Include Similar Results
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit"> Search </button>
    </div>
  </div>
</form>