<h3 class="page-header">Find Donor</h3>
<form class="form-horizontal col-sm-12"  role="form" ng-submit="findDonor()">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="row col-sm-10">
      <div class="col-sm-3" style="padding-right:0;">
        <input style="border-top-right-radius: 0; border-bottom-right-radius: 0;" type="firstName" id="firstName" class="form-control input-sm" placeholder="First"  autofocus="true" ng-model="donorSearch.firstName">
      </div>
      <div class="col-sm-3" style="padding-left:0;">
        <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" type="lastName " id="lastName" class="form-control input-sm" placeholder="Last" ng-model="donorSearch.lastName">
      </div>
      <div class="col-sm-4 control-label" style="text-align: left;">
        <input  type="checkbox" > Include Similar Results
      </div>
    </div>
  </div>
  <div class="form-group" style="display:none;">
    <label for="name" class="col-sm-2 control-label">Date of Birth</label>
    <div class="col-sm-3">
      <div id="dob" class="form-control input-sm dob">
        <input id="day" type="tel" ng-model="donorSearch.dob.day" maxlength="2" bsis-tab-to="month" placeholder="DD"/>/
        <input id="month" type="tel" ng-model="donorSearch.dob.month" maxlength="2" bsis-tab-to="year" placeholder="MM"/>/
        <input id="year" type="tel" ng-model="donorSearch.dob.year" maxlength="4" placeholder="YYYY"/>
      </div>
    </div>
  </div>
  <div class="form-group" style="display:none;">
      <label for="name" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-3" style="padding-top:5px;">
      <input type="radio"  ng-model="donorSearch.gender" value="male" /> Male 
      <input type="radio"  ng-model="donorSearch.gender" value="female" /> Female
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" >Donor #</label>
    <div class="col-sm-3">
      <input type="donorNum" id="donorNum" class="form-control input-sm" placeholder="" ng-model="donorSearch.donorNum">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" >DIN</label>
    <div class="col-sm-3">
      <input type="din" id="din" class="form-control input-sm" placeholder="" ng-model="donorSearch.din">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-3">
      <button class="btn btn-primary" type="submit">Search</button>
      <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
    </div>
  </div>
</form>

<div ng-switch="searchResults" class="col-sm-12">
<div style="padding-bottom: 10px"></div>

  <div ng-switch-when="true">
    <div class="panel panel-default">
      <div class="panel-body">

          <table ng-table="tableParams" show-filter="false" class="table">
              <tr ng-repeat="donor in $data"
                  ng-click="viewDonor(donor); changeSelection(donor);"
                  ng-mouseenter="donor.$selected = true"
                  ng-mouseleave="donor.$selected = false"
                  ng-class="{'active': donor.$selected}">
                  <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNum'">
                      {{donor.donorNum}}
                  </td>
                  <td data-title="'First Name'" header-class="text-left" sortable="'firstName'">
                      {{donor.firstName}}
                  </td>
                  <td data-title="'Last Name'" header-class="text-left" sortable="'lastName'">
                      {{donor.lastName}}
                  </td>
                  <td data-title="'Gender'" header-class="text-left" sortable="'gender'">
                      {{donor.gender}}
                  </td>
                  <td data-title="'Age'" header-class="text-left" class="text-center"  sortable="'age'">
                      {{donor.age}}
                  </td>
                  <td data-title="'Date of Birth'" header-class="text-left" class="text-center" sortable="'dob'">
                      {{donor.dob}}
                  </td>
              </tr>
          </table>
        </div>
      </div>
  </div>
  <div ng-switch-when="false">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 ><em>No Donors Found</em></h4>
      </div>
    </div>
  </div>

</div>