<form editable-form name="editableForm" onaftersave="updateDonationBatch()">
  <span class="h3"> 
    Manage Donation Batch
  </span> 

  <hr/>

  <div class = "h4"> 
    <small><em>Date Created: </em></small> <span ng-show="!editableForm.$visible">{{ (donationBatch.createdDate | bsisDate) || '' }}</span>
    <span ng-show="editableForm.$visible">
      <dateselect ng-model="donationBatch.tempDate" initDate="donationBatch.date" date-options="dateOptions" format="format" opened="donationBatchDateOpen" cal-icon="icons.CALENDAR">
      </dateselect>
    </span>
    | 
    <small><em>Panel: </em></small> <span e-class="xeditable donor-panel" editable-select="donationBatch.donorPanel.name" e-ng-options="item.name as item.name for item in donorPanels" e-name="donorPanel"  e-required>{{donationBatch.donorPanel.name}}</span>
    |
    <small><em>Number of Donations: </em></small> {{donationBatch.numCollections}}
    <span has-permission="{{permissions.EDIT_DONATION_BATCH}}" class="h4" style="float: right; margin-top: 0px; margin-bottom: 0px; padding-right: 15px;">
      <span has-permission="{{permissions.HIDDEN}}">
        <small><em><a href="" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit</a></em>  
        <span ng-show="!editableForm.$visible"> | 
        </span>
        <span ng-show="editableForm.$visible">
        <em><a href="" ng-click="updateDonationBatch()" ng-disabled="editableForm.$waiting">Save</a></em> | 
        <em><a href="" ng-click="editableForm.$cancel()" ng-disabled="editableForm.$waiting">Cancel</a></em>
        </span> 
      </span>

      <span ng-show="!editableForm.$visible">
        <span ng-if="donationBatchToClose == donationBatch.id">
          <em><a href="" ng-click="closeDonationBatch(donationBatch)"> Confirm</a></em> | 
          <em><a href="" ng-click="closeDonationBatchCancel()"> Cancel</a></em>
        </span>
        <span ng-if="donationBatchToClose != donationBatch.id">
          <em><a ng-if="donationBatch.isClosed!=true" href="" ng-click="closeDonationBatchCheck(donationBatch)">Close Batch</a></em>
        </span>
      </span>
      </small>
    </span>


  </div>
</form>

  <hr/>

  <div style="padding-bottom: 5px"></div>

  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-switch on="donationBatchView">
            <div ng-switch-when="viewDonationBatch"><div ng-include="'views/donors/viewDonationBatch.html'"></div></div>
            <div ng-switch-when="addDonation"><div ng-include="'views/donors/addDonation.html'"></div></div>
            <div ng-switch-when="viewDonationSummary"><div ng-include="'views/donors/viewDonationSummary.html'"></div></div>
            <div ng-switch-default><div ng-include="'views/donors/viewDonationBatch.html'"></div></div>
          </div>
      </div>
    </div>
  </div>
