<span ng-switch="currentStep">

<h3 class="page-header">Donor Merging</h3>

<form name="mergeDonorForm" novalidate>
  <div class="panel panel-default">
    <div class="panel-body">

  <h3 ng-switch-when="1" class="page-header">Select Donors to Merge <span class="h4">(Step 1 of 7)</span> </h3>
  <h3 ng-switch-when="2" class="page-header">Donor Overview Merge <span class="h4">(Step 2 of 7)</span></h3>
  <h3 ng-switch-when="3" class="page-header">Donor Contact Merge <span class="h4">(Step 3 of 7)</span></h3>
  <h3 ng-switch-when="4" class="page-header">Donor Address Merge <span class="h4">(Step 4 of 7)</span></h3>
  <h3 ng-switch-when="5" class="page-header">Donor Deferrals Review <span class="h4">(Step 5 of 7)</span></h3>
  <h3 ng-switch-when="6" class="page-header">Donor Donations Review <span class="h4">(Step 6 of 7)</span></h3>
  <h3 ng-switch-when="7" class="page-header">Final Review <span class="h4">(Step 7 of 7)</span></h3>


    <div class="h4"> 
      <span>{{donor.firstName}}</span> 
      <span>{{donor.lastName}}</span><small><em>
      <span ng-if="donor.title"><span>{{donor.title}}</span>.</span>
      <span>{{donor.callingName}}</span>
      </em></small> 
      | <small><em>Gender:</em></small> {{donor.gender}} 
      | <small><em>Age: </em></small>
      <span calculate-age dob="{{donor.birthDate}}" age="age">{{age}}</span>
      <em>(<span>{{ (donor.birthDate | bsisDate) || '' }}</span>)
      </em>
    </div>
  
  <hr/>

      <div ng-switch-when="1">
        <p><em> {{duplicateCount}} possible duplicate donors identified. </em></p>
        <p>Please select the correct donor information below:</p>
        <alert type="danger" close="" ng-show="hasMessage">
          {{message}}
        </alert>
        <table ng-table="manageDuplicateDonorTableParams" show-filter="false" class="table">
          <tr ng-repeat="donor in $data"
                  ng-click="viewDonor(donor); changeSelection(donor);"
                  ng-mouseenter="this.$selected = true"
                  ng-mouseleave="this.$selected = false"
                  ng-class="{'active': donor.$selected}">
                <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                    {{donor.donorNumber}}
                </td>
                <td data-title="'First Name'" header-class="text-left" sortable="'firstName'">
                    {{donor.firstName}}
                </td>
                <td data-title="'Last Name'" header-class="text-left" sortable="'lastName'">
                    {{donor.lastName}}
                </td>
                <td data-title="'Gender'" header-class="text-left" sortable="'gender'">
                    {{donor.gender}}
                </td>
                <td data-title="'Date of Birth'" header-class="text-left" class="text-center" sortable="'birthDate'">
                    {{ (donor.birthDate | bsisDate) || '' }}
                </td>
                <td data-title="'Date of Last Donation'" header-class="text-left" class="text-center" sortable="'dateOfLastDonation'">
                    {{ (donor.dateOfLastDonation | bsisDate) || '' }}
                </td>
                <td data-title="'Blood Group'" header-class="text-left" sortable="'bloodGroup'">
                    {{donor.bloodGroup}}
                </td>
                <td data-title="'Venue'" header-class="text-left"  sortable="'venue'">
                    {{donor.venue.name}}
                </td>
                <td class="form-inline" data-title="'Merge?'" header-class="text-left" class="text-center" ng-click="$event.stopPropagation()">
                  <label>Yes <input type="radio" name="merge{{donor.donorNumber}}" ng-value="true" value="true" ng-model="donor.merge" ng-click="changeSelection(donor.merge);" required></label>
                  <label>No <input type="radio" name="merge{{donor.donorNumber}}" ng-value="false" value="false" ng-model="donor.merge" ng-click="changeSelection(donor.merge);" required></label>
                  <small class="error" ng-show="(mergeDonorForm.merge{{donor.donorNumber}}.$invalid && (mergeDonorForm.merge{{donor.donorNumber}}.$dirty || invalid))">
                    <br/>This cannot be empty
                  </small>
                </td>
            </tr>
        </table>
      </div>

      <div ng-switch-when="2">
        <p>Please select the correct donor information below:</p>
        <table ng-table="manageSelectedDuplicateDonorTableParams" show-filter="false" class="table">
          <tbody>
            <tr ng-repeat="donor in $data">
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                  {{donor.donorNumber}}
              </td>
              <td data-title="'Identifier'" header-class="text-left" sortable="'idNumber'">
                <div ng-if="donor.idNumber != null && donor.idNumber != ''">
                  <input type="radio" name="idNumber" ng-model="mergedDonor.idNumberId" ng-value="donor.id" required>
                  {{donor.idType.idType}}: {{donor.idNumber}}
                </div>
              </td>
              <td data-title="'Title'" header-class="text-left" sortable="'title'">
                <div ng-if="donor.title != null && donor.title != ''">
                  <input type="radio" name="title" ng-model="mergedDonor.title" ng-value="donor.title" required>
                  {{donor.title}}
                </div>
              </td>
              <td data-title="'Calling Name'" header-class="text-left" sortable="'callingName'">
                <div ng-if="donor.callingName != null && donor.callingName != ''">
                  <input type="radio" name="callingName" ng-model="mergedDonor.callingName" ng-value="donor.callingName" required>
                  {{donor.callingName}}
                </div>
              </td>
              <td data-title="'PreferredLanguage'" header-class="text-left" sortable="'preferredLanguage'">
                <div ng-if="donor.preferredLanguage != null && donor.preferredLanguage != ''">
                  <input type="radio" name="preferredLanguage" ng-model="mergedDonor.preferredLanguage" ng-value="donor.preferredLanguage" required>
                  {{donor.preferredLanguage.preferredLanguage}}
                </div>
              </td>
              <td data-title="'Venue'" header-class="text-left" sortable="'venue'">
                <input type="radio" name="venue" ng-model="mergedDonor.venue" ng-value="donor.venue" required>
                {{donor.venue.name}}
              </td>
              <td data-title="'Comments'" header-class="text-left" sortable="'notes'">
                <div ng-if="donor.notes != null && donor.notes != ''">
                  <input type="checkbox" name="notes" ng-model="mergedDonor.notes" ng-value="donor.notes" >
                  {{donor.notes}}
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <!-- row for the "None of the Above" radio buttons and error messages -->
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
              </td>
              <td data-title="'Identifier'" header-class="text-left" sortable="'idNumber'">
                <div ng-if="donorFields['idNumber']">
                  <input type="radio" name="idNumber" ng-model="mergedDonor.idNumberId" value="none" required>
                  None of the above
                  <small class="error" ng-show="(mergeDonorForm.idNumber.$invalid && (mergeDonorForm.idNumber.$dirty || invalid))">
                    <br/>Please select one
                  </small>
                </div>
              </td>
              <td data-title="'Title'" header-class="text-left" sortable="'title'">
                <div ng-if="donorFields['title']">
                  <input type="radio" name="title" ng-model="mergedDonor.title" value="none" required>
                  None of the above
                  <small class="error" ng-show="(mergeDonorForm.title.$invalid && (mergeDonorForm.title.$dirty || invalid))">
                    <br/>Please select one
                  </small>
                </div>
              </td>
              <td data-title="'Calling Name'" header-class="text-left" sortable="'callingName'">
                <div ng-if="donorFields['callingName']">
                  <input type="radio" name="callingName" ng-model="mergedDonor.callingName" nvalue="none" required>
                  None of the above
                  <small class="error" ng-show="(mergeDonorForm.callingName.$invalid && (mergeDonorForm.callingName.$dirty || invalid))">
                    <br/>Please select one
                  </small>
                </div>
              </td>
              <td data-title="'PreferredLanguage'" header-class="text-left" sortable="'preferredLanguage'">
                <div ng-if="donorFields['preferredLanguage']">
                  <small class="error" ng-show="(mergeDonorForm.preferredLanguage.$invalid && (mergeDonorForm.preferredLanguage.$dirty || invalid))">
                    Please select one
                  </small>
                </div>
              </td>
              <td data-title="'Venue'" header-class="text-left" sortable="'venue'">
                <div ng-if="donorFields['venue']">
                  <small class="error" ng-show="(mergeDonorForm.venue.$invalid && (mergeDonorForm.venue.$dirty || invalid))">
                    Please select one
                  </small>
                </div>
              </td>
              <td data-title="'Comments'" header-class="text-left" sortable="'notes'">
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div ng-switch-when="3">
        <p>Please select the correct donor information below:</p>
        <table ng-table="manageSelectedDuplicateDonorTableParams" show-filter="false" class="table">
          <tbody>
            <tr ng-repeat="donor in $data">
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                  {{donor.donorNumber}}
              </td>
              <td data-title="'Preferred Contact Type'" header-class="text-left" sortable="'contactMethodType'">
                <div ng-if="donor.contactMethodType != null">
                  <input type="radio" name="contactMethodType" ng-model="mergedDonor.contactMethodType" ng-value="donor.contactMethodType" required>
                  {{donor.contactMethodType.contactMethodType}}
                </div>
              </td>
              <td data-title="'Email'" header-class="text-left" sortable="'email'">
                <div ng-if="donor.contact.email != null && donor.contact.email != ''">
                  <input type="radio" name="email" ng-model="mergedDonor.contact.email" ng-value="donor.contact.email" required>
                  {{donor.contact.email}}
                </div>
              </td>
              <td data-title="'Mobile'" header-class="text-left" sortable="'mobileNumber'">
                <div ng-if="donor.contact.mobileNumber != null && donor.contact.mobileNumber != ''">
                  <input type="radio" name="mobileNumber" ng-model="mergedDonor.contact.mobileNumber" ng-value="donor.contact.mobileNumber" required>
                  {{donor.contact.mobileNumber}}
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeNumber'">
                <div ng-if="donor.contact.homeNumber != null && donor.contact.homeNumber != ''">
                  <input type="radio" name="homeNumber" ng-model="mergedDonor.contact.homeNumber" ng-value="donor.contact.homeNumber" required>
                  {{donor.contact.homeNumber}}
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workNumber'">
                <div ng-if="donor.contact.workNumber != null && donor.contact.workNumber != ''">
                  <input type="radio" name="workNumber" ng-model="mergedDonor.contact.workNumber" ng-value="donor.contact.workNumber" required>
                  {{donor.contact.workNumber}}
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <!-- row for the "None of the Above" radio buttons and error messages -->
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
              </td>
              <td data-title="'Preferred Contact Type'" header-class="text-left" sortable="'contactMethodType'">
                  <div ng-if="donorFields['contactMethodType']">
                    <input type="radio" name="contactMethodType" ng-model="mergedDonor.contactMethodType" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.contactMethodType.$invalid && (mergeDonorForm.contactMethodType.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Email'" header-class="text-left" sortable="'email'">
                <div ng-if="donorFields['email']">
                    <input type="radio" name="email" ng-model="mergedDonor.contact.email" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.contact.email.$invalid && (mergeDonorForm.contact.email.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Mobile'" header-class="text-left" sortable="'mobileNumber'">
                <div ng-if="donorFields['mobileNumber']">
                    <input type="radio" name="mobileNumber" ng-model="mergedDonor.contact.mobileNumber" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.contact.mobileNumber.$invalid && (mergeDonorForm.contact.mobileNumber.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeNumber'">
                <div ng-if="donorFields['homeNumber']">
                    <input type="radio" name="homeNumber" ng-model="mergedDonor.contact.homeNumber" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.contact.homeNumber.$invalid && (mergeDonorForm.contact.homeNumber.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workNumber'">
                <div ng-if="donorFields['workNumber']">
                    <input type="radio" name="workNumber" ng-model="mergedDonor.contact.workNumber" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.contact.workNumber.$invalid && (mergeDonorForm.contact.workNumber.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div ng-switch-when="4">
        <p>Please select the correct donor information below:</p>
        <table ng-table="manageSelectedDuplicateDonorTableParams" show-filter="false" class="table">
          <tbody>
            <tr ng-repeat="donor in $data">
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                  {{donor.donorNumber}}
              </td>
              <td data-title="'Preferred Address Type'" header-class="text-left" sortable="'preferredAddressType'">
                <div ng-if="donor.preferredAddressType != null">
                  <input type="radio" name="preferredAddressType" ng-model="mergedDonor.preferredAddressType" ng-value="donor.preferredAddressType" required>
                  {{donor.preferredAddressType.preferredAddressType}}
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeAddress'">
                <div ng-if="donor.address.homeAddressLine1 != null && donor.address.homeAddressLine1 != ''">
                  <input type="radio" name="homeAddress" ng-model="mergedDonor.homeAddress" ng-value="donor.address.id" required>
                  <span ng-if="donor.address.homeAddressLine1 != null && donor.address.homeAddressLine1 != ''">{{donor.address.homeAddressLine1}} <br/></span>
                  <span ng-if="donor.address.homeAddressLine2 != null && donor.address.homeAddressLine2 != ''">{{donor.address.homeAddressLine2}} <br/></span>
                  <span ng-if="donor.address.homeAddressCity != null && donor.address.homeAddressCity != ''">{{donor.address.homeAddressCity}} <br/></span>
                  <span ng-if="donor.address.homeAddressProvince != null && donor.address.homeAddressProvince != ''">{{donor.address.homeAddressProvince}} <br/></span>
                  <span ng-if="donor.address.homeAddressDistrict != null && donor.address.homeAddressDistrict != ''">{{donor.address.homeAddressDistrict}} <br/></span>
                  <span ng-if="donor.address.homeAddressCountry != null && donor.address.homeAddressCountry != ''">{{donor.address.homeAddressCountry}} <br/></span>
                  <span ng-if="donor.address.homeAddressState != null && donor.address.homeAddressState != ''">{{donor.address.homeAddressState}} <br/></span>
                  <span ng-if="donor.address.homeAddressZipcode != null && donor.address.homeAddressZipcode != ''">{{donor.address.homeAddressZipcode}}</span>
                </div>
              </td>
              <td data-title="'Postal'" header-class="text-left" sortable="'postalAddress'">
                <div ng-if="donor.address.postalAddressLine1 != null && donor.address.postalAddressLine1 != ''">
                  <input type="radio" name="postalAddress" ng-model="mergedDonor.postalAddress" ng-value="donor.address.id" required>
                  <span ng-if="donor.address.postalAddressLine1 != null && donor.address.postalAddressLine1 != ''">{{donor.address.postalAddressLine1}} <br/></span>
                  <span ng-if="donor.address.homeAddressLine1 != null && donor.address.postalAddressLine2 != ''">{{donor.address.postalAddressLine2}} <br/></span>
                  <span ng-if="donor.address.postalAddressCity != null && donor.address.postalAddressCity != ''">{{donor.address.postalAddressCity}} <br/></span>
                  <span ng-if="donor.address.postalAddressProvince != null && donor.address.postalAddressProvince != ''">{{donor.address.postalAddressProvince}} <br/></span>
                  <span ng-if="donor.address.postalAddressDistrict != null && donor.address.postalAddressDistrict != ''">{{donor.address.postalAddressDistrict}} <br/></span>
                  <span ng-if="donor.address.postalAddressCountry != null && donor.address.postalAddressCountry != ''">{{donor.address.postalAddressCountry}} <br/></span>
                  <span ng-if="donor.address.postalAddressState != null && donor.address.postalAddressState != ''">{{donor.address.postalAddressState}} <br/></span>
                  <span ng-if="donor.address.postalAddressZipcode != null && donor.address.postalAddressZipcode != ''">{{donor.address.postalAddressZipcode}}</span>
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workAddress'">
                <div ng-if="donor.address.workAddressLine1 != null && donor.address.workAddressLine1 != ''">
                  <input type="radio" name="workAddress" ng-model="mergedDonor.workAddress" ng-value="donor.address.id" required>
                  <span ng-if="donor.address.workAddressLine1 != null && donor.address.workAddressLine1 != ''">{{donor.address.workAddressLine1}} <br/></span>
                  <span ng-if="donor.address.workAddressLine2 != null && donor.address.workAddressLine2 != ''">{{donor.address.workAddressLine2}} <br/></span>
                  <span ng-if="donor.address.workAddressCity != null && donor.address.workAddressCity != ''">{{donor.address.workAddressCity}} <br/></span>
                  <span ng-if="donor.address.workAddressProvince != null && donor.address.workAddressProvince != ''">{{donor.address.workAddressProvince}} <br/></span>
                  <span ng-if="donor.address.workAddressDistrict != null && donor.address.workAddressDistrict != ''">{{donor.address.workAddressDistrict}} <br/></span>
                  <span ng-if="donor.address.workAddressCountry != null && donor.address.workAddressCountry != ''">{{donor.address.workAddressCountry}} <br/></span>
                  <span ng-if="donor.address.workAddressState != null && donor.address.workAddressState != ''">{{donor.address.workAddressState}} <br/></span>
                  <span ng-if="donor.address.workAddressZipcode != null && donor.address.workAddressZipcode != ''">{{donor.address.workAddressZipcode}}</span>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <!-- row for the "None of the Above" radio buttons and error messages -->
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
              </td>
              <td data-title="'Preferred Address Type'" header-class="text-left" sortable="'preferredAddressType'">
                <div ng-if="donorFields['preferredAddressType']">
                    <input type="radio" name="preferredAddressType" ng-model="mergedDonor.preferredAddressType" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.preferredAddressType.$invalid && (mergeDonorForm.preferredAddressType.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeAddress'">
                <div ng-if="donorFields['homeAddress']">
                    <input type="radio" name="homeAddress" ng-model="mergedDonor.homeAddress" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.homeAddress.$invalid && (mergeDonorForm.homeAddress.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Postal'" header-class="text-left" sortable="'postalAddress'">
                <div ng-if="donorFields['postalAddress']">
                    <input type="radio" name="postalAddress" ng-model="mergedDonor.postalAddress" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.postalAddress.$invalid && (mergeDonorForm.postalAddress.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workAddress'">
                <div ng-if="donorFields['workAddress']">
                    <input type="radio" name="workAddress" ng-model="mergedDonor.workAddress" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.workAddress.$invalid && (mergeDonorForm.workAddress.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div ng-switch-when="5">
        <p>See the deferrals for the merged donor:</p>
        <div ng-switch="deferralResults">
          <div ng-switch-when="true">
            <table ng-table="manageDuplicateDonorDeferralTableParams" show-filter="false" class="table">
              <tr ng-repeat="deferral in $data">
                  <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                    {{donor.donorNumber}}
                  </td>
                  <td data-title="'Deferred From'" header-class="text-left" class="text-center" sortable="'createdDate'">
                      {{deferral.createdDate | bsisDate}}
                  </td>
                  <td data-title="'Deferred Until'" header-class="text-left" class="text-center" sortable="'deferredUntil'">
                      {{deferral.deferredUntil | bsisDate}}
                  </td>
                  <td data-title="'Reason'" style="width:22%;" header-class="text-left" sortable="'deferralReason.reason'">
                      {{deferral.deferralReason.reason}}
                  </td>
                  <td data-title="'Comment'" header-class="text-left" sortable="'deferralReasonText'">
                      {{deferral.deferralReasonText}}
                  </td>
                  <td data-title="'Deferred By'" header-class="text-left" sortable="'createdBy'">
                      {{deferral.createdBy}}
                  </td>
              </tr>
            </table>
          </div>
          <div ng-switch-when="false">
            <p><em>No Deferrals found</em></p>
          </div>
        </div>
      </div>

      <div ng-switch-when="6">
        <p>See the donations for the merged donor:</p>
        <div ng-switch="donationResults">
          <div ng-switch-when="true">
            <table ng-table="manageDuplicateDonorDonationsTableParams" show-filter="false" class="table">
              <tr ng-repeat="donation in $data">
                <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                    {{donation.donorNumber}}
                </td>
                <td data-title="'DIN'" header-class="text-left" class="text-center" sortable="'donationIdentificationNumber'">
                    {{donation.donationIdentificationNumber}}
                </td>
                <td data-title="'Batch Number'" header-class="text-left" class="text-center" sortable="'donationBatchNumber'">
                    {{donation.donationBatchNumber}}
                </td>
                <td data-title="'Donation Date'" header-class="text-left" class="text-center" sortable="'donationDate'">
                    {{donation.donationDate | bsisDate}}
                </td>
                <td data-title="'Type'" header-class="text-left" class="text-center" sortable="'donationType.donationType'">
                    {{donation.donationType.donationType}}
                </td>
                <td data-title="'Pack Type'" header-class="text-left"  sortable="'packType.packType'">
                    {{donation.packType.packType}}
                </td>
                <td data-title="'Donor Weight'" header-class="text-left" class="text-center" sortable="'donorWeight'">
                    {{donation.donorWeight}}
                </td>
                <td data-title="'Donor BloodPressure'" header-class="text-left" class="text-center" sortable="'bloodPressureSystolic'">
                    {{donation.bloodPressureSystolic}} / {{donation.bloodPressureDiastolic}}
                </td>
                <td data-title="'Donor Pulse'" header-class="text-left" class="text-center" sortable="'donorPulse'">
                    {{donation.donorPulse}}
                </td>
                <td data-title="'Venue'" header-class="text-left" class="text-center" sortable="'venue.name'">
                    {{donation.venue.name}}
                </td>
              </tr>
            </table>
          </div>
          <div ng-switch-when="false">
              <p><em>No Donations found</em></p>
          </div>
        </div>
      </div>

      <div ng-switch-when="7">
        <alert type="danger" close="" ng-show="hasMessage">
          {{message}}
          <ul>
            <li ng-repeat="(key, value) in message"> {{key}}: {{value}} </li>
          </ul>
        </alert>
        <p></p>
        <ul>
          <li ng-if="mergedDonor.idNumber != null && mergedDonor.idNumber != ''"><b>Identifier</b>: {{mergedDonor.idType.idType}} {{mergedDonor.idNumber}}</li>
          <li ng-if="mergedDonor.title != null && mergedDonor.title != ''"><b>Title</b>: {{mergedDonor.title}}</li>
          <li ng-if="mergedDonor.callingName != null && mergedDonor.callingName != ''"><b>Calling Name</b>: {{mergedDonor.callingName}}</li>
          <li ng-if="mergedDonor.preferredLanguage != null"><b>Preferred Language</b>: {{mergedDonor.preferredLanguage.preferredLanguage}}</li>
          <li><b>Venue</b>: {{mergedDonor.venue.name}}</li>
          <li ng-if="mergedDonor.comments != null && mergedDonor.comments != ''"><b>Comments</b>: {{mergedDonor.comments}}</li>
          <li ng-if="mergedDonor.contactMethodType != null"><b>Preferred Contact Type</b>: {{mergedDonor.contactMethodType.contactMethodType}}</li>
          <li ng-if="mergedDonor.contact.email != null && mergedDonor.contact.email != ''"><b>Email</b>: {{mergedDonor.contact.email}}</li>
          <li ng-if="mergedDonor.contact.mobileNumber != null && mergedDonor.contact.mobileNumber != ''"><b>Mobile Number</b>: {{mergedDonor.contact.mobileNumber}}</li>
          <li ng-if="mergedDonor.contact.homeNumber != null && mergedDonor.contact.homeNumber != ''"><b>Home Number</b>: {{mergedDonor.contact.homeNumber}}</li>
          <li ng-if="mergedDonor.contact.workNumber != null && mergedDonor.contact.workNumber != ''"><b>Work Number</b>: {{mergedDonor.contact.workNumber}}</li>
          <li ng-if="mergedDonor.contact.workNumber != null && mergedDonor.contact.workNumber != ''"><b>Work Number</b>: {{mergedDonor.contact.workNumber}}</li>
          <li ng-if="mergedDonor.preferredAddressType != null"><b>Preferred Address Type</b>: {{mergedDonor.preferredAddressType.preferredAddressType}}</li>
          <li ng-if="mergedDonor.address.homeAddressLine1 != null && mergedDonor.address.homeAddressLine1 != ''"><b>Home Address</b>:
              <span ng-if="mergedDonor.address.homeAddressLine1 != null && mergedDonor.address.homeAddressLine1 != ''">{{mergedDonor.address.homeAddressLine1}} <br/></span>
              <span ng-if="mergedDonor.address.homeAddressLine2 != null && mergedDonor.address.homeAddressLine2 != ''">{{mergedDonor.address.homeAddressLine2}} <br/></span>
              <span ng-if="mergedDonor.address.homeAddressCity != null && mergedDonor.address.homeAddressCity != ''">{{mergedDonor.address.homeAddressCity}} <br/></span>
              <span ng-if="mergedDonor.address.homeAddressProvince != null && mergedDonor.address.homeAddressProvince != ''">{{mergedDonor.address.homeAddressProvince}} <br/></span>
              <span ng-if="mergedDonor.address.homeAddressDistrict != null && mergedDonor.address.homeAddressDistrict != ''">{{mergedDonor.address.homeAddressDistrict}} <br/></span>
              <span ng-if="mergedDonor.address.homeAddressCountry != null && mergedDonor.address.homeAddressCountry != ''">{{mergedDonor.address.homeAddressCountry}} <br/></span>
              <span ng-if="mergedDonor.address.homeAddressState != null && mergedDonor.address.homeAddressState != ''">{{mergedDonor.address.homeAddressState}} <br/></span>
              <span ng-if="mergedDonor.address.homeAddressZipcode != null && mergedDonor.address.homeAddressZipcode != ''">{{mergedDonor.address.homeAddressZipcode}}</span>
          </li>
          <li ng-if="mergedDonor.address.postalAddressLine1 != null && mergedDonor.address.postalAddressLine1 != ''"><b>Postal Address</b>:
              <span ng-if="mergedDonor.address.postalAddressLine1 != null && mergedDonor.address.postalAddressLine1 != ''">{{mergedDonor.address.postalAddressLine1}} <br/></span>
              <span ng-if="mergedDonor.address.postalAddressLine2 != null && mergedDonor.address.postalAddressLine2 != ''">{{mergedDonor.address.postalAddressLine2}} <br/></span>
              <span ng-if="mergedDonor.address.postalAddressCity != null && mergedDonor.address.postalAddressCity != ''">{{mergedDonor.address.postalAddressCity}} <br/></span>
              <span ng-if="mergedDonor.address.postalAddressProvince != null && mergedDonor.address.postalAddressProvince != ''">{{mergedDonor.address.postalAddressProvince}} <br/></span>
              <span ng-if="mergedDonor.address.postalAddressDistrict != null && mergedDonor.address.postalAddressDistrict != ''">{{mergedDonor.address.postalAddressDistrict}} <br/></span>
              <span ng-if="mergedDonor.address.postalAddressCountry != null && mergedDonor.address.postalAddressCountry != ''">{{mergedDonor.address.postalAddressCountry}} <br/></span>
              <span ng-if="mergedDonor.address.postalAddressState != null && mergedDonor.address.postalAddressState != ''">{{mergedDonor.address.postalAddressState}} <br/></span>
              <span ng-if="mergedDonor.address.postalAddressZipcode != null && mergedDonor.address.postalAddressZipcode != ''">{{mergedDonor.address.postalAddressZipcode}}</span>
          </li>
          <li ng-if="mergedDonor.address.workAddressLine1 != null && mergedDonor.address.workAddressLine1 != ''"><b>Work Address</b>:
              <span ng-if="mergedDonor.address.workAddressLine1 != null && mergedDonor.address.workAddressLine1 != ''">{{mergedDonor.address.workAddressLine1}} <br/></span>
              <span ng-if="mergedDonor.address.workAddressLine2 != null && mergedDonor.address.workAddressLine2 != ''">{{mergedDonor.address.workAddressLine2}} <br/></span>
              <span ng-if="mergedDonor.address.workAddressCity != null && mergedDonor.address.workAddressCity != ''">{{mergedDonor.address.workAddressCity}} <br/></span>
              <span ng-if="mergedDonor.address.workAddressProvince != null && mergedDonor.address.workAddressProvince != ''">{{mergedDonor.address.workAddressProvince}} <br/></span>
              <span ng-if="mergedDonor.address.workAddressDistrict != null && mergedDonor.address.workAddressDistrict != ''">{{mergedDonor.address.workAddressDistrict}} <br/></span>
              <span ng-if="mergedDonor.address.workAddressCountry != null && mergedDonor.address.workAddressCountry != ''">{{mergedDonor.address.workAddressCountry}} <br/></span>
              <span ng-if="mergedDonor.address.workAddressState != null && mergedDonor.address.workAddressState != ''">{{mergedDonor.address.workAddressState}} <br/></span>
              <span ng-if="mergedDonor.address.workAddressZipcode != null && mergedDonor.address.workAddressZipcode != ''">{{mergedDonor.address.workAddressZipcode}}</span>
          </li>
        </ul>
      </div>

      <div class="form-group"> 
        <div class="col-sm-4">
          <button class="btn btn-primary" type="button" ng-click="step(currentStep-1, mergeDonorForm)" ng-disabled="currentStep==1">Back</button>
          <button class="btn btn-primary" type="button" ng-click="step(currentStep+1, mergeDonorForm)" ng-disabled="currentStep==lastStep">Next</button>
          <button class="btn btn-primary" type="submit" ng-click="merge()" ng-disabled="currentStep!=lastStep">Finish</button>
          <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</form>

</span>
