<h3 class="page-header">Manage Donation Batches</h3>

<h4>Open Donation Batches</h4>
<div ng-switch="openDonationBatches" class="col-sm-12">
  <div ng-switch-when="true">
  <div style="padding-bottom: 10px"></div>
    <div class="panel panel-default">
      <div class="panel-body">

        <table ng-table="donationBatchTableParams" show-filter="false" class="table">
          <tr ng-repeat="donationBatch in $data"
              ng-click="viewTestBatch(donationBatch); changeSelection(donationBatch);"
              ng-mouseenter="this.$selected = true"
              ng-mouseleave="this.$selected = false"
              ng-class="{'active': donationBatch.$selected}">
              <td data-title="'Date'" style="width:30%;" header-class="text-left" sortable="'date'">
                  {{donationBatch.createdDate}}
              </td>
              <td data-title="'Center'" style="width:25%;" header-class="text-left" sortable="'center'">
                  {{donationBatch.collectionCenter.name}}
              </td>
              <td data-title="'Site'" style="width:25%;" header-class="text-left"sortable="'site'">
                  {{donationBatch.collectionSite.name}}
              </td>
              <td data-title="'# of Donations'" style="width:20%;" header-class="text-left" class="text-center" sortable="'numDonations'">
                  <span ng-if="donationBatch.collectionsInBatch > 0">{{donationBatch.collectionsInBatch}}</span>
                  <span ng-if="donationBatch.collectionsInBatch === null">0</span>
              </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <div ng-switch-when="false">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <em> No open donation batches. </em>
        </p>
      </div>
    </div>
  </div>
</div>

<h4>New Donation Batch</h4>
<form class="form-horizontal col-sm-12" role="form" ng-submit="addDonationBatch(donationBatch)">
  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Center</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <select class="form-control input-sm" ng-model="donationBatch.collectionCenter" ng-options="item.id as item.name for item in centers">
            <option value="" ng-disabled="true"></option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Site</label>
    <div class="row col-sm-11">
      <div class="form-inline" style="padding-left:5px;">
        <select class="form-control input-sm" ng-model="donationBatch.collectionSite" ng-options="item.id as item.name for item in sites">
            <option value="" ng-disabled="true"></option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-1 col-sm-4">
      <button class="btn btn-primary" type="submit">Add Donation Batch</button>
      <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
    </div>
  </div>

</form>

