  <span class="h3"> 
    <small><em>Current Batch Number:</em></small> DB56790099MS
  </span> 

    <span class="h4" style="float: right; margin-top: 5px; margin-bottom: 5px; padding-right: 15px;">
      <small><em><a href="">Edit</a></em> | 
      <em><a href="">Close Batch</a></em></small>
    </span>

  <hr/>

  <div class = "h4"> 
    <small><em>Date Bled: </em></small> 03/09/2014 
    | 
    <small><em>Venue: </em></small> Maseru
    | 
    <small><em>Number of Registered Donors: </em></small> 8
  </div>

  <hr/>

  <div style="padding-bottom: 5px"></div>

  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <table ng-table="donorClinicTableParams" show-filter="true" class="table">
          <tr ng-repeat="donation in $data"
            ng-click="changeSelection(donation);"
            ng-mouseenter="donation.$selected = true"
            ng-mouseleave="donation.$selected = false"
            ng-class="{'active': donation.$selected}">
            <td data-title="'Donor #'" style="width:18%;" header-class="text-left" class="text-center" sortable="'donorNumber'"  filter="{ 'donorNumber': 'text' }">
                {{donation.donorNumber}}
            </td>
            <td data-title="'DIN'" style="width:18%;" header-class="text-left" class="text-center" sortable="'donationIdentificationNumber'"  filter="{ 'donationIdentificationNumber': 'text' }">
                {{donation.donationIdentificationNumber}}
            </td>
            <td data-title="'Pack Type'" style="width:15%;" header-class="text-left" sortable="'bloodBagType'" filter="{ 'bloodBagType': 'select' }"
                filter-data="packTypeFilter($column)">
                {{donation.bloodBagType}}
            </td>
            <td data-title="''" style="width:10%;" class="text-center">
              <span style="font-size: 0.9em;">
                <em><a ng-click="viewDonationDetails(donation.donationIdentificationNumber)"> View</a></em>
              </span>
            </td>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
