<span class="h3 page-header">Manage Donation Batches</span>

<hr/>

<div class="col-sm-12">

  <tabset justified="true" >
    <tab>
      <tab-heading>
        <i class="fa {{icons.BARS}}"></i> Open Batches
      </tab-heading>
      <div ng-switch="openDonationBatches" class="col-sm-12">
        <div style="padding-bottom: 10px"></div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-switch-when="true">
              <table ng-table="donationBatchTableParams" show-filter="false" class="table">
                <tr ng-repeat="donationBatch in $data"
                    ng-click="manageClinic(donationBatch); changeSelection(donationBatch);"
                    ng-mouseenter="this.$selected = true"
                    ng-mouseleave="this.$selected = false"
                    ng-class="{'active': donationBatch.$selected}">
                    <td data-title="'Created'" style="width:30%;" header-class="text-left" sortable="'date'">
                        {{donationBatch.createdDate | bsisDate}}
                    </td>
                    <td data-title="'Venue'" style="width:25%;" header-class="text-left" sortable="'center'">
                        {{donationBatch.venue.name}}
                    </td>
                    <td data-title="'# of Donations'" style="width:20%;" header-class="text-left" class="text-center" sortable="'numDonations'">
                        {{donationBatch.numDonations}}
                    </td>
                </tr>
              </table>
            </div>
            <div ng-switch-when="false">
              <p>
                <em> No open donation batches. </em>
              </p>
            </div>

            <div has-permission="{{permissions.ADD_DONATION_BATCH}}">
              <h4>New Donation Batch</h4>
              <form name="addDonationBatchForm" novalidate class="form-horizontal col-sm-12" role="form" ng-submit="addDonationBatch(newDonationBatch, addDonationBatchForm)">
                <div class="form-group">
                  <label for="name" class="col-sm-1 control-label">Venue</label>
                  <div class="row col-sm-11">
                    <div class="form-inline" style="padding-left:5px;">
                      <select name="venue" class="form-control input-sm" ng-model="newDonationBatch.venue" ng-options="item.id as item.name disable when item.disabled for item in venues" required
                      ng-class="{'ng-invalid ng-dirty' : addDonationBatchForm.venue.$invalid && submitted}">
                          <option value="" ng-disabled="true"></option>
                      </select>
                      <div>
                        <small class="error" 
                          ng-show="
                            (addDonationBatchForm.venue.$invalid && (addDonationBatchForm.venue.$dirty || submitted))
                          ">
                          This cannot be empty
                        </small>
                          <small class="error" ng-show="err['donationBatch.venue']">{{err["donationBatch.venue"]}}</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group"> 
                  <div class="col-sm-offset-1 col-sm-4">
                    <button class="btn btn-primary" type="submit">Add Donation Batch</button>
                    <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <i class="fa {{icons.ARCHIVE}}"></i> Recent Batches
      </tab-heading>
      <div ng-switch="recentDonationBatches" class="col-sm-12">
        <div ng-switch-when="true">
        <div style="padding-bottom: 10px"></div>
          <div class="panel panel-default">
            <div class="panel-body">

              <table ng-table="recentDonationBatchesTableParams" show-filter="false" class="table">
                <tr ng-repeat="donationBatch in $data"
                    ng-click="manageClinic(donationBatch); changeSelection(donationBatch);"
                    ng-mouseenter="this.$selected = true"
                    ng-mouseleave="this.$selected = false"
                    ng-class="{'active': donationBatch.$selected}">
                    <td data-title="'Created'" style="width:20%;" header-class="text-left" sortable="'date'">
                        {{donationBatch.createdDate | bsisDate}}
                    </td>
                    <td data-title="'Closed'" style="width:30%;" header-class="text-left" sortable="'date'">
                        {{donationBatch.lastUpdated | bsisDateTime }}
                    </td>
                    <td data-title="'Venue'" style="width:25%;" header-class="text-left" sortable="'center'">
                        {{donationBatch.venue.name}}
                    </td>
                    <td data-title="'# of Donations'" style="width:25%;" header-class="text-left" class="text-center" sortable="'numDonations'">
                        {{donationBatch.numDonations}}
                    </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div ng-switch-when="false">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <em> No recent donation batches. </em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </tab>

  </tabset>



