        <p>Review the donations for the merged donor:</p>
        <div ng-switch="donationResults">
          <div ng-switch-when="true">
            <table ng-table="manageDuplicateDonorDonationsTableParams" show-filter="false" class="table">
              <tr ng-repeat="donation in $data">
                <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                    {{donation.donorNumber}}
                </td>
                <td data-title="'DIN'" header-class="text-left" class="text-center" sortable="'donationIdentificationNumber'">
                    {{donation.donationIdentificationNumber}}
                </td>
                <td data-title="'Date'" header-class="text-left" class="text-center" sortable="'donationDate'">
                    {{donation.donationDate | bsisDate}}
                </td>
                <td data-title="'Venue'" header-class="text-left" sortable="'venue.name'">
                    {{donation.venue.name}}
                </td>
                <td data-title="'Pack Type'" header-class="text-left"  sortable="'packType.packType'">
                    {{donation.packType.packType}}
                </td>
                <td data-title="'TTI Test Status'" header-class="text-left"  sortable="'ttiStatus'">
                    {{donation.ttistatus}}
                </td>
                <td data-title="'ABO/Rh'" header-class="text-left" class="text-center" sortable="'bloodAbo'">
                    {{donation.bloodAbo}}{{donation.bloodRh}}
                </td>
                <td data-title="'Wt (kg)'" header-class="text-left" class="text-center" sortable="'donorWeight'">
                    {{donation.donorWeight}}
                </td>
                <!--<td data-title="'BP (mmHg)'" header-class="text-left" class="text-center" sortable="'bloodPressureSystolic'">
                    {{donation.bloodPressureSystolic}} / {{donation.bloodPressureDiastolic}}
                </td>
                <td data-title="'Hb (g/dL)'" header-class="text-left" class="text-center" sortable="'haemoglobinLevel'">
                    {{donation.haemoglobinLevel}}
                </td>
                <td data-title="'Pulse'" header-class="text-left" class="text-center" sortable="'donorPulse'">
                    {{donation.donorPulse}}
                </td>-->
              </tr>
            </table>
          </div>
          <div ng-switch-when="false">
              <p><em>No Donations found</em></p>
          </div>
        </div>