        <p>Please select the correct donor information below:</p>
        <table ng-table="manageSelectedDuplicateDonorTableParams" show-filter="false" class="table">
          <tbody>
            <tr ng-repeat="donor in $data">
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                  {{donor.donorNumber}}
              </td>
              <td data-title="'Preferred Contact Type'" header-class="text-left" sortable="'contactMethodType'">
                <div ng-if="donor.contactMethodType != null">
                  <input type="radio" name="contactMethodType" ng-model="mergedDonor.contactMethodType" ng-value="donor.contactMethodType" required>
                  {{donor.contactMethodType.contactMethodType}}
                </div>
              </td>
              <td data-title="'Email'" header-class="text-left" sortable="'email'">
                <div ng-if="donor.contact.email != null && donor.contact.email != ''">
                  <input type="radio" name="email" ng-model="mergedDonor.contact.email" ng-value="donor.contact.email" required>
                  {{donor.contact.email}}
                </div>
              </td>
              <td data-title="'Mobile'" header-class="text-left" sortable="'mobileNumber'">
                <div ng-if="donor.contact.mobileNumber != null && donor.contact.mobileNumber != ''">
                  <input type="radio" name="mobileNumber" ng-model="mergedDonor.contact.mobileNumber" ng-value="donor.contact.mobileNumber" required>
                  {{donor.contact.mobileNumber}}
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeNumber'">
                <div ng-if="donor.contact.homeNumber != null && donor.contact.homeNumber != ''">
                  <input type="radio" name="homeNumber" ng-model="mergedDonor.contact.homeNumber" ng-value="donor.contact.homeNumber" required>
                  {{donor.contact.homeNumber}}
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workNumber'">
                <div ng-if="donor.contact.workNumber != null && donor.contact.workNumber != ''">
                  <input type="radio" name="workNumber" ng-model="mergedDonor.contact.workNumber" ng-value="donor.contact.workNumber" required>
                  {{donor.contact.workNumber}}
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <!-- row for the "None of the Above" radio buttons and error messages -->
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
              </td>
              <td data-title="'Preferred Contact Type'" header-class="text-left" sortable="'contactMethodType'">
                  <div ng-if="donorFields['contactMethodType']">
                    <input type="radio" name="contactMethodType" ng-model="mergedDonor.contactMethodType" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.contactMethodType.$invalid && (mergeDonorForm.contactMethodType.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Email'" header-class="text-left" sortable="'email'">
                <div ng-if="donorFields['email']">
                    <input type="radio" name="email" ng-model="mergedDonor.contact.email" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.email.$invalid && (mergeDonorForm.email.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Mobile'" header-class="text-left" sortable="'mobileNumber'">
                <div ng-if="donorFields['mobileNumber']">
                    <input type="radio" name="mobileNumber" ng-model="mergedDonor.contact.mobileNumber" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.mobileNumber.$invalid && (mergeDonorForm.mobileNumber.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeNumber'">
                <div ng-if="donorFields['homeNumber']">
                    <input type="radio" name="homeNumber" ng-model="mergedDonor.contact.homeNumber" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.homeNumber.$invalid && (mergeDonorForm.homeNumber.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workNumber'">
                <div ng-if="donorFields['workNumber']">
                    <input type="radio" name="workNumber" ng-model="mergedDonor.contact.workNumber" value="none" required>
                    None of the above
                    <small class="error" ng-show="(mergeDonorForm.workNumber.$invalid && (mergeDonorForm.workNumber.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>