<p><em> {{duplicateCount}} possible duplicate donors identified. </em></p>
<p>Please select the correct donor information below:</p>
<uib-alert type="danger" close="" ng-show="hasMessage">
    <span ng-bind-html="message"></span>
</uib-alert>
<table ng-table="manageDuplicateDonorTableParams" show-filter="false" class="table">
    <tr ng-repeat="donor in $data"
        ng-click="viewDonor(donor);"
        ng-mouseenter="this.$selected = true"
        ng-mouseleave="this.$selected = false"
        ng-class="{'active': donor.$selected}">
        <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
            {{donor.donorNumber}}
        </td>
        <td data-title="'Title'" header-class="text-left" sortable="'title'">
            {{donor.title}}
        </td>
        <td data-title="'First Name'" header-class="text-left" sortable="'firstName'">
            {{donor.firstName}}
        </td>
        <td data-title="'Last Name'" header-class="text-left" sortable="'lastName'">
            {{donor.lastName}}
        </td>
        <td data-title="'Gender'" header-class="text-left" sortable="'gender'">
            {{donor.gender}}
        </td>
        <td data-title="'Date of Birth'" header-class="text-left" class="text-center" sortable="'birthDate'">
            {{ (donor.birthDate | bsisDate) || '' }}
        </td>
        <td data-title="'Date of Last Donation'" header-class="text-left" class="text-center"
            sortable="'dateOfLastDonation'">
            {{ (donor.dateOfLastDonation | bsisDate) || '' }}
        </td>
        <td data-title="'Blood Group'" header-class="text-left" sortable="'bloodGroup'">
            {{donor.bloodGroup}}
        </td>
        <td data-title="'Venue'" header-class="text-left" sortable="'venue'">
            {{donor.venue.name}}
        </td>
        <td class="form-inline" data-title="'Merge?'" header-class="text-left" class="text-center"
            ng-click="$event.stopPropagation()">
            <div class="radio" style="display:inline-block;">
                <input id="mergeYes{{donor.donorNumber}}" type="radio" name="merge{{donor.donorNumber}}" ng-value="true"
                       value="true" ng-model="donor.merge" required>
                <label for="mergeYes{{donor.donorNumber}}">Yes</label>
            </div>
            <div class="radio" style="display:inline-block;">
                <input id="mergeNo{{donor.donorNumber}}" type="radio" name="merge{{donor.donorNumber}}" ng-value="false"
                       value="false" ng-model="donor.merge" required>
                <label for="mergeNo{{donor.donorNumber}}">No</label>
            </div>
            <small class="error"
                   ng-show="(mergeDonorForm.merge{{donor.donorNumber}}.$invalid && (mergeDonorForm.merge{{donor.donorNumber}}.$dirty || invalid))">
                <br/>This cannot be empty
            </small>
        </td>
    </tr>
</table>
