        <p>Please select the correct donor information below:</p>
        <table ng-table="manageSelectedDuplicateDonorTableParams" show-filter="false" class="table">
          <tbody>
            <tr ng-repeat="donor in $data">
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
                  {{donor.donorNumber}}
              </td>
              <td data-title="'Preferred Address Type'" header-class="text-left" sortable="'preferredAddressType'" class="form-inline">
                <div class="radio" ng-if="donor.preferredAddressType != null">
                  <input id="preferredAddressType{{donor.donorNumber}}" type="radio" name="preferredAddressType" ng-model="mergedDonor.preferredAddressType" ng-value="donor.preferredAddressType" required>
                  <label for="preferredAddressType{{donor.donorNumber}}">{{donor.preferredAddressType.preferredAddressType}}</label>
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeAddress'" class="form-inline">
                <div class="radio" ng-if="donor.address.homeAddressLine1 != null && donor.address.homeAddressLine1 != ''">
                  <input id="homeAddressLine1{{donor.donorNumber}}" type="radio" name="homeAddress" ng-model="mergedDonor.homeAddress" ng-value="donor.address.id" required>
                  <label for="homeAddressLine1{{donor.donorNumber}}">
                    <span ng-show="{{ui.ADDRESS.ADDRESS_LINE_1_ENABLED}}" ng-if="donor.address.homeAddressLine1 != null && donor.address.homeAddressLine1 != ''">{{donor.address.homeAddressLine1}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.ADDRESS_LINE_2_ENABLED}}" ng-if="donor.address.homeAddressLine2 != null && donor.address.homeAddressLine2 != ''">{{donor.address.homeAddressLine2}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.CITY_ENABLED}}"  ng-if="donor.address.homeAddressCity != null && donor.address.homeAddressCity != ''">{{donor.address.homeAddressCity}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.PROVINCE_ENABLED}}" ng-if="donor.address.homeAddressProvince != null && donor.address.homeAddressProvince != ''">{{donor.address.homeAddressProvince}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.DISTRICT_REGION_ENABLED}}" ng-if="donor.address.homeAddressDistrict != null && donor.address.homeAddressDistrict != ''">{{donor.address.homeAddressDistrict}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.COUNTRY_ENABLED}}" ng-if="donor.address.homeAddressCountry != null && donor.address.homeAddressCountry != ''">{{donor.address.homeAddressCountry}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.STATE_ENABLED}}" ng-if="donor.address.homeAddressState != null && donor.address.homeAddressState != ''">{{donor.address.homeAddressState}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.POSTAL_CODE_ENABLED}}" ng-if="donor.address.homeAddressZipcode != null && donor.address.homeAddressZipcode != ''">{{donor.address.homeAddressZipcode}}</span>
                  </label>
                </div>
              </td>
              <td data-title="'Postal'" header-class="text-left" sortable="'postalAddress'" class="form-inline">
                <div class="radio" ng-if="donor.address.postalAddressLine1 != null && donor.address.postalAddressLine1 != ''">
                  <input id="postalAddressLine1{{donor.donorNumber}}" type="radio" name="postalAddress" ng-model="mergedDonor.postalAddress" ng-value="donor.address.id" required>
                  <label for="postalAddressLine1{{donor.donorNumber}}">
                    <span ng-show="{{ui.ADDRESS.ADDRESS_LINE_1_ENABLED}}" ng-if="donor.address.postalAddressLine1 != null && donor.address.postalAddressLine1 != ''">{{donor.address.postalAddressLine1}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.ADDRESS_LINE_2_ENABLED}}" ng-if="donor.address.postalAddressLine2 != null && donor.address.postalAddressLine2 != ''">{{donor.address.postalAddressLine2}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.CITY_ENABLED}}" ng-if="donor.address.postalAddressCity != null && donor.address.postalAddressCity != ''">{{donor.address.postalAddressCity}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.PROVINCE_ENABLED}}" ng-if="donor.address.postalAddressProvince != null && donor.address.postalAddressProvince != ''">{{donor.address.postalAddressProvince}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.DISTRICT_REGION_ENABLED}}" ng-if="donor.address.postalAddressDistrict != null && donor.address.postalAddressDistrict != ''">{{donor.address.postalAddressDistrict}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.COUNTRY_ENABLED}}" ng-if="donor.address.postalAddressCountry != null && donor.address.postalAddressCountry != ''">{{donor.address.postalAddressCountry}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.STATE_ENABLED}}" ng-if="onor.address.postalAddressState != null && donor.address.postalAddressState != ''">{{donor.address.postalAddressState}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.POSTAL_CODE_ENABLED}}" ng-if="donor.address.postalAddressZipcode != null && donor.address.postalAddressZipcode != ''">{{donor.address.postalAddressZipcode}}</span>
                  </label>
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workAddress'" class="form-inline">
                <div class="radio" ng-if="donor.address.workAddressLine1 != null && donor.address.workAddressLine1 != ''">
                  <input id="workAddressLine1{{donor.donorNumber}}" type="radio" name="workAddress" ng-model="mergedDonor.workAddress" ng-value="donor.address.id" required>
                  <label for="workAddressLine1{{donor.donorNumber}}">
                    <span ng-show="{{ui.ADDRESS.ADDRESS_LINE_1_ENABLED}}" ng-if="donor.address.workAddressLine1 != null && donor.address.workAddressLine1 != ''">{{donor.address.workAddressLine1}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.ADDRESS_LINE_2_ENABLED}}" ng-if="donor.address.workAddressLine2 != null && donor.address.workAddressLine2 != ''">{{donor.address.workAddressLine2}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.CITY_ENABLED}}" ng-if="donor.address.workAddressCity != null && donor.address.workAddressCity != ''">{{donor.address.workAddressCity}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.PROVINCE_ENABLED}}" ng-if="donor.address.workAddressProvince != null && donor.address.workAddressProvince != ''">{{donor.address.workAddressProvince}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.DISTRICT_REGION_ENABLED}}" ng-if="donor.address.workAddressDistrict != null && donor.address.workAddressDistrict != ''">{{donor.address.workAddressDistrict}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.COUNTRY_ENABLED}}" ng-if="donor.address.workAddressCountry != null && donor.address.workAddressCountry != ''">{{donor.address.workAddressCountry}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.STATE_ENABLED}}" ng-if="donor.address.workAddressState != null && donor.address.workAddressState != ''">{{donor.address.workAddressState}} <br/></span>
                    <span ng-show="{{ui.ADDRESS.POSTAL_CODE_ENABLED}}" ng-if="donor.address.workAddressZipcode != null && donor.address.workAddressZipcode != ''">{{donor.address.workAddressZipcode}}</span>
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <!-- row for the "None of the Above" radio buttons and error messages -->
              <td data-title="'Donor Number'" header-class="text-left" class="text-center" sortable="'donorNumber'">
              </td>
              <td data-title="'Preferred Address Type'" header-class="text-left" sortable="'preferredAddressType'" class="form-inline">
                <div class="radio" ng-if="donorFields['preferredAddressType']">
                    <input id="preferredAddressType" type="radio" name="preferredAddressType" ng-model="mergedDonor.preferredAddressType" value="none" required>
                    <label for="preferredAddressType">None of the above</label>
                    <small class="error" ng-show="(mergeDonorForm.preferredAddressType.$invalid && (mergeDonorForm.preferredAddressType.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Home'" header-class="text-left" sortable="'homeAddress'" class="form-inline">
                <div class="radio" ng-if="donorFields['homeAddress']">
                    <input id="homeAddress" type="radio" name="homeAddress" ng-model="mergedDonor.homeAddress" value="none" required>
                    <label for="homeAddress">None of the above</label>
                    <small class="error" ng-show="(mergeDonorForm.homeAddress.$invalid && (mergeDonorForm.homeAddress.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Postal'" header-class="text-left" sortable="'postalAddress'" class="form-inline">
                <div class="radio" ng-if="donorFields['postalAddress']">
                    <input id="postalAddress" type="radio" name="postalAddress" ng-model="mergedDonor.postalAddress" value="none" required>
                    <label for="postalAddress">None of the above</label>
                    <small class="error" ng-show="(mergeDonorForm.postalAddress.$invalid && (mergeDonorForm.postalAddress.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
              <td data-title="'Work'" header-class="text-left" sortable="'workAddress'" class="form-inline">
                <div class="radio" ng-if="donorFields['workAddress']">
                    <input id="workAddress" type="radio" name="workAddress" ng-model="mergedDonor.workAddress" value="none" required>
                    <label for="workAddress">None of the above</label>
                    <small class="error" ng-show="(mergeDonorForm.workAddress.$invalid && (mergeDonorForm.workAddress.$dirty || invalid))">
                      <br/>Please select one
                    </small>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>