<div class="col-sm-3 col-md-2 sidebar" style="padding-top:5px;">
  <ul class="nav nav-sidebar">
    <li class="disabled">
      <span class="icon-sidebar-container">
        <div class="placeholder">
          <a href="#donors">
            <i class="fa {{icons.DONORS}}"></i>
          </a>
        </div>
      </span>
    </li>
    <li class="disabled" has-permission="{{permissions.VIEW_DONOR}}"><span>DONOR RECORDS</span></li>
    <li ng-class="{current: isCurrent('/findDonor')}" has-permission="{{permissions.VIEW_DONOR}}"><a href="#/findDonor">Manage Donors</a></li>
    <li class="disabled" has-permission="{{permissions.VIEW_DONATION_BATCH}}"><span>DONOR CLINIC</span></li>
    <li ng-class="{current: isCurrent('/manageDonationBatches')}" has-permission="{{permissions.VIEW_DONATION_BATCH}}"><a href="#/manageDonationBatches">Manage Clinics</a></li>
    <li ng-class="{current: isCurrent('/locations')}" has-permission="{{permissions.MANAGE_DONATION_SITES}}"><a href="#/locations">Manage Venues</a></li>
    <li class="disabled" has-permission="{{permissions.VIEW_POST_DONATION_COUNSELLING_DONORS}}"><span>POST DONATION</span></li>
    <li ng-class="{current: isCurrent('/donorCounselling')}" has-permission="{{permissions.VIEW_POST_DONATION_COUNSELLING_DONORS}}"><a href="#/donorCounselling">Donor Counselling</a></li>
    <li class="disabled" has-permission="{{permissions.EXPORT_CLINIC_DATA}}"><span>DONOR COMMUNICATIONS</span></li>
    <li ng-class="{current: isCurrent('/exportDonorList')}" has-permission="{{permissions.EXPORT_CLINIC_DATA}}"><a href="#/exportDonorList">View / Export Donor List</a></li>
  </ul>
  <div ng-include="'views/sidebarFooter.html'"></div>
</div>
