
<div class="col-sm-3 col-md-2 sidebar" style="padding-top:5px;">
  <ul class="nav nav-sidebar">
    <li class=" placeholders placeholder" style="margin-bottom:5px;">
      <span>
      <div >
        <i class="glyphicon glyphicon-tint"></i>
      </div>
      </span>
    </li>
    <li class="disabled"><span>DONOR RECORDS</span></li>
    <li class="active"><a href="#">Find Donor</a></li>
    <li><a href="#">Add Donor</a></li>
    <li><a href="#">Link Donors and Donations</a></li>
    <li class="disabled"><span>DONOR CLINIC</span></li>
    <li><a href="#">Open Clinic</a></li>
    <li><a href="#">Close Clinic</a></li>
    <li><a href="#">Manage Clinic Batch</a></li>
    <li class="disabled"><span>DONOR COMMUNICATIONS</span></li>
    <li><a href="#">View / Export Donor List</a></li>

  </ul>
</div>

          


