
<div class="col-sm-3 col-md-2 sidebar" style="padding-top:5px;">
  <ul class="nav nav-sidebar">
    <li class=" placeholders placeholder" style="margin-bottom:5px;">
      <span>
      <div >
        <i class="glyphicon glyphicon-tint"></i>
      </div>
      </span>
    </li>
    <li class="disabled"><span>DONOR RECORDS</span></li>
    <li ng-class="{current: isCurrent('/findDonor')}"><a href="#/findDonor">Find Donor</a></li>
    <li ng-class="{current: isCurrent('/addDonor')}"><a href="#/addDonor">Add Donor</a></li>
    <li ng-class="{current: isCurrent('/linkDonation')}"><a href="#/linkDonation">Link Donors and Donations</a></li>
    <li class="disabled"><span>DONOR CLINIC</span></li>
    <li ng-class="{current: isCurrent('/manageClinic')}"><a href="#/manageClinic">Manage Clinic</a></li>
    <li class="disabled"><span>DONOR COMMUNICATIONS</span></li>
    <li ng-class="{current: isCurrent('/exportDonorList')}"><a href="#/exportDonorList">View / Export Donor List</a></li>
  </ul>
</div>

          


