<span style="float: right; padding-right: 15px; font-size: 0.9em">
  <em><a has-permission="{{permissions.ADD_DEFERRAL}}" href="" ng-click="manageDeferral()">Add Deferral</a></em>
</span>
<table class="dash-table">
    <tr>
      <td class="icon"><i class="fa {{icons.WARNING}}"></i></td>
      <td class="field">Currently Deferred: </td>
      <td ng-if="currentlyDeferred" class="value red"> Deferred until {{deferredUntil}}</td>
      <td ng-if="!currentlyDeferred" class="value green"> No current deferrals</td>
    </tr>
    <tr><td></td></tr>
  </tbody>
</table>

<div ng-switch="deferralResults">
<div ng-switch-when="true">

  <table ng-table="deferralTableParams" show-filter="true" class="table">
      <tr ng-repeat="deferral in $data"
          ng-click="changeSelection(deferral);"
          ng-mouseenter="this.$selected = true"
          ng-mouseleave="this.$selected = false"
          ng-class="{'active': deferral.$selected}">
          <td data-title="'Deferred From'" style="width:15%;" header-class="text-left" class="text-center" sortable="'createdDate'"  filter="{ 'createdDate': 'text' }">
              {{deferral.createdDate}}
          </td>
          <td data-title="'Deferred Until'" style="width:15%;" header-class="text-left" class="text-center" sortable="'deferredUntil'" filter="{ 'deferredUntil': 'text' }">
              {{deferral.deferredUntil}}
          </td>
          <td data-title="'Reason'" style="width:22%;" header-class="text-left" sortable="'deferralReason.reason'" filter="{ 'deferralReason.reason': 'select' }" 
              filter-data="deferralReasonsFilter($column)">
              {{deferral.deferralReason.reason}}
          </td>
          <td data-title="'Comment'" header-class="text-left" sortable="'deferralReasonText'">
              {{deferral.deferralReasonText}}
          </td>
          <td data-title="'Deferred By'" style="width:15%;" header-class="text-left" sortable="'createdBy'" filter="{ 'createdBy': 'text' }">
              {{deferral.createdBy}}
          </td>
          <td ng-hide="true === true" data-title="''" style="width:8%;" class="text-center">
            <span style="font-size: 0.9em;">
              <em><a href=""> Edit</a></em>
            </span>
          </td>

      </tr>
  </table>
</div>
<div ng-switch-when="false">
      <h4 ><em>No Deferrals Found</em></h4>
</div>
</div>