<span style="float: right; padding-right: 15px; font-size: 0.9em">
  <em><a href="" ng-click="getDonations()">Done</a></em>
</span>
<div class="col-sm-3">
  <table class="dash-table">
    <tbody>
      <tr>
        <td class="field">DIN: </td>
        <td class="value">{{donation.donationIdentificationNumber}}</td>
      </tr>
      <tr>
        <td class="field">Batch: </td>
        <td class="value">{{donation.collectionBatch}}</td>
      </tr>
      <tr>
        <td class="field">Date Bled: </td>
        <td class="value">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="field">Time Bled: </td>
        <td class="value">12:20:00</td>
      </tr>
      <tr>
        <td class="field">Venue: </td>
        <td class="value">{{donation.collectionSite}}</td>
      </tr>
      <tr>
        <td class="field">Pack Type: </td>
        <td class="value">{{donation.bloodBagType}}</td>
      </tr>
      <tr>
        <td class="field">Blood Group: </td>
        <td class="value">{{donation.bloodAbo}}{{donation.bloodRh}}</td>
      </tr>
      <tr>
        <td class="field">Pulse: </td>
        <td class="value">{{donation.donorPulse}}</td>
      </tr>
      <tr>
        <td class="field">Hb:: </td>
        <td class="value">{{donation.haemoglobinCount}}</td>
      </tr>
      <tr>
        <td class="field">BP: </td>
        <td class="value">{{donation.bloodPressureSystolic}}/{{donation.bloodPressureDiastolic}}</td>
      </tr>
      <tr>
        <td class="field">Weight: </td>
        <td class="value">{{donation.donorWeight}}</td>
      </tr>
      <tr>
        <td class="field">Comment: </td>
        <td class="valuesml">sample donation comment</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-4">
  <table class="dash-table">
    <thead>
      <tr>
        <th>Test</th>
        <th class="center">Outcome</th>
        <th>User</th>
        <th class="center">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td></tr>
      <tr>
        <td class="value">ABO</td>
        <td class="value center">0</td>
        <td class="value">administrator</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Rh</td>
        <td class="value center">+</td>
        <td class="value">administrator</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Anti-D</td>
        <td class="value center">-</td>
        <td class="value">administrator</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">HBsAg</td>
        <td class="value center">-</td>
        <td class="value">administrator</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Anti HCV</td>
        <td class="value center">-</td>
        <td class="value">administrator</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Anti HIV</td>
        <td class="value center">-</td>
        <td class="value">administrator</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">TPHA</td>
        <td class="value center">-</td>
        <td class="value">administrator</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-5">
  <table class="dash-table">
    <thead>
      <tr>
        <th colspan="2">Components</th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td></tr>
      <tr>
        <td class="field">Red Cell Concentrate: </td>
        <td class="value">Labelled {{donation.collectedOn}}</td>
      </tr>
    </tbody>
  </table>

  <table class="dash-table">
    <thead>
      <tr>
        <th colspan="5">Transfers</th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td></tr>
      <tr>
        <td class="field">12345: </td>
        <td class="value">Inventory</td>
      </tr>
    </tbody>
  </table>
</div>

