<span style="float: right; padding-right: 15px; font-size: 0.9em">
  <em><a href="" ng-click="getDonations(donor.id)">Done</a></em>
</span>
<div class="row equal">
<div class="col-sm-3" style="height:100%; border-right: 2px solid #f5f5f5; ">
  <table class="dash-table">
    <tbody>
      <tr>
        <td class="field">DIN: </td>
        <td class="value">{{donation.collectionNumber}}</td>
      </tr>
      <tr>
        <td class="field">Date Bled: </td>
        <td class="value">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="field">Panel: </td>
        <td class="value">{{donation.donorPanel.name}}</td>
      </tr>
      <tr>
        <td class="field">Pack Type: </td>
        <td class="value">{{donation.packType.bloodBagType}}</td>
      </tr>
      <tr>
        <td class="field">Donation Type: </td>
        <td class="value">{{donation.donationType.donationType}}</td>
      </tr>
      <tr>
        <td class="field">Blood Group: </td>
        <td class="value">{{donation.bloodAbo}}{{donation.bloodRh}}</td>
      </tr>
      <tr>
        <td class="field">Pulse: </td>
        <td class="value">{{donation.donorPulse}}</td>
      </tr>
      <tr>
        <td class="field">Hb:: </td>
        <td class="value">{{donation.haemoglobinCount}}</td>
      </tr>
      <tr>
        <td class="field">BP: </td>
        <td class="value">{{donation.bloodPressureSystolic}}/{{donation.bloodPressureDiastolic}}</td>
      </tr>
      <tr>
        <td class="field">Weight: </td>
        <td class="value">{{donation.donorWeight}}</td>
      </tr>
      <tr>
        <td class="field">Comment: </td>
        <td class="valuesml">sample donation comment</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-4" style="height:100%; border-right: 2px solid #f5f5f5; ">
  <table class="dash-table">
    <thead>
      <tr>
        <th>Test</th>
        <th class="center">Outcome</th>
        <th>User</th>
        <th class="center">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td></tr>
      <tr>
        <td class="value">ABO</td>
        <td class="value center">0</td>
        <td class="value">admin</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Rh</td>
        <td class="value center">+</td>
        <td class="value">admin</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Anti-D</td>
        <td class="value center">-</td>
        <td class="value">admin</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">HBsAg</td>
        <td class="value center">-</td>
        <td class="value">admin</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Anti HCV</td>
        <td class="value center">-</td>
        <td class="value">admin</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">Anti HIV</td>
        <td class="value center">-</td>
        <td class="value">admin</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value">TPHA</td>
        <td class="value center">-</td>
        <td class="value">admin</td>
        <td class="value center">{{donation.collectedOn}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-5">
  <table class="dash-table">
    <thead>
      <tr>
        <th colspan="2">Components Produced</th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td></tr>
      <tr>
        <td class="field">RCC: </td>
        <td class="value">Labelled {{donation.collectedOn}}  (admin)</td>
      </tr>
      <tr><td></td></tr>
    </tbody>
  </table>

  <table class="dash-table">
    <thead>
      <tr>
        <th colspan="5">Transfers</th>
      </tr>
      <tr><th></th></tr>
      <tr>
        <th class="center">Batch</th>
        <th>From</th>
        <th class="center">Sent</th>
        <th>To</th>
        <th class="center">Received</th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td></tr>
      <tr>
        <td class="value center">12345 </td>
        <td class="value">Component</td>
        <td class="value">{{donation.collectedOn}}</td>
        <td class="value">Inventory</td>
        <td class="value">{{donation.collectedOn}}</td>
      </tr>
      <tr>
        <td class="value center">12345 </td>
        <td class="value">Inventory</td>
        <td class="value">{{donation.collectedOn}}</td>
        <td class="value">Mohale's Hoek</td>
        <td class="value">{{donation.collectedOn}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

