<form editable-form name="editableForm" onaftersave="updateDonor(donor)">

  <span class="h2"> 
    <span editable-text="donor.firstName" e-name="firstName" e-class="xeditable name" e-required>{{donor.firstName}}</span> 
    <span editable-text="donor.lastName" e-name="lastName" e-class="xeditable name" e-required>{{donor.lastName}}</span><small><em>
    <span ng-if="donor.title"> 
    <span editable-select="donor.title" e-class="xeditable title" e-ng-options="item as item for item in title" e-name="title" >{{donor.title}}</span>.</span>
    <span editable-text="donor.callingName" e-name="callingName" e-class="xeditable name">{{donor.callingName}}</span>
    </em></small>
  </span>

    <span ng-switch="donor.gender" class="h3" style="vertical-align: 0.3em; padding-left:10px;"> 
      <span ng-switch-when="male" class="fa-stack fa-1x">
        <i class="fa fa-circle fa-stack-2x fa-fw"></i>
        <i class="fa {{icons.MALE}} fa-stack-1x fa-inverse fa-fw"></i>
      </span>
      <span ng-switch-when="female" class="fa-stack fa-1x">
        <i class="fa fa-circle fa-stack-2x fa-fw"></i>
        <i class="fa {{icons.FEMALE}} fa-stack-1x fa-inverse fa-fw"></i>
      </span>
    </span>
    <span class="h3" ng-if="donor.bloodGroup !== ''" style="vertical-align: 0.3em; padding-left:5px;">
      <span class="fa-stack fa-1x">
        <i class="fa fa-circle fa-stack-2x fa-fw"></i>
        <i class="fa fa-stack-1x fa-inverse">{{donor.bloodGroup}}</i>
      </span>
    </span>

    <span class="h4" style="float: right; margin-top: 20px; padding-right: 15px;">

      <!-- Delete donor actions -->
      <div has-permission="{{permissions.VOID_DONOR}}" ng-hide="editableForm.$visible" style="display:inline;">
        <em>
          <button type="button" class="btn btn-link" ng-click="confirmDelete = true" ng-hide="confirmDelete" ng-disabled="!donor.permissions.canDelete">Void Donor</button>
          <button type="button" class="btn btn-link text-danger" ng-show="confirmDelete" ng-click="deleteDonor(donor.id)">
            Void
          </button>
          <button type="button" class="btn btn-link text-muted" ng-show="confirmDelete" ng-click="confirmDelete = false">
            Cancel
          </button>
        </em>
      </div>

      <!-- Edit donor actions -->
      <div has-permission="{{permissions.EDIT_DONOR}}" ng-hide="confirmDelete" style="display:inline;">
        <em><button type="button" class="btn btn-link" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit Donor</button></em>  

        <span ng-show="editableForm.$visible">
          <em>
            <button type="submit" class="btn btn-link text-success" ng-disabled="editableForm.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-link text-muted" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
              Cancel
            </button>
          </em>
        </span>
      </div>
    </span>

  <hr style="clear:right;" />

  <div class = "h4"> 
    <small><em>Age: </em></small>
    <span calculate-age dob="{{donor.birthDate}}" age="age">{{age}}</span>
    <em>(<span ng-show="!editableForm.$visible">{{ (donor.birthDate | bsisDate) || '' }}</span>
        <span ng-show="editableForm.$visible">
          <dateselect ng-model="birthDate" initDate="donor.birthDate" format="format" opened="donorBirthDateOpen" cal-icon="icons.CALENDAR">
          </dateselect>
        </span>) </em>
    | 
    <small><em>Donor Number: </em></small> {{donor.donorNumber}}
    | 
    <small><em>Venue: </em></small>
    <span editable-select="donor.venue.id" e-class="xeditable venue" e-ng-options="item.id as item.name for item in venues" e-name="venue"  e-required>
      {{donor.venue.name}}
    </span>
    | 
    <small><em>Preferred Language: </em></small> 
    <span editable-select="donor.preferredLanguage.id" e-ng-options="item.id as item.preferredLanguage for item in languages" e-class="xeditable language" e-name="preferredLanguage">
      {{donor.preferredLanguage.preferredLanguage}}
    </span>

    <span ng-show="!editableForm.$visible" style="float: right; padding-right: 15px;">
      <small>
      <em>
      <a href="" ng-click="printDonorBarcode()" >Print Donor Barcode</a>
      </em>
      </small>
    </span>
  </div>

</form>

<hr/>

<div style="padding-bottom: 5px"></div>

<div class="col-sm-12">

  <tabset justified="true" >
    <tab active="tabs.overview">
      <tab-heading>
        <i class="fa {{icons.INFOCIRCLE}}"></i> Overview
      </tab-heading>

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="dash-table">
            <tbody>
              <tr>
                <td class="icon"><i class="fa {{icons.CALENDAR}}"></i></td>
                <td class="field">Due To Donate: </td>
                <td class="value">{{dueToDonate | bsisDate:'longDate'}}</td>
              </tr>
              <tr>
                <td class="icon"><i class="fa {{icons.WARNING}}"></i></td>
                <td class="field">Currently Deferred: </td>
                <td ng-if="currentlyDeferred" class="value red"> Deferred until {{deferredUntil | bsisDate}}</td>
                <td ng-if="!currentlyDeferred" class="value green"> No current deferrals</td>
              </tr>
              <tr has-permission="{{permissions.VIEW_POST_DONATION_COUNSELLING_DONORS}}">
                <td class="icon"><i class="fa {{icons.FLAG}}"></i></td>
                <td class="field">Flagged For Counselling: </td>
                <td ng-if="flaggedForCounselling" class="value red"> Yes <em class="pull-right" style="padding:0 15px;"><small><a ng-href="#/donorCounselling/{{donor.id}}">View</a></small></em></td>
                <td ng-if="!flaggedForCounselling" class="value green"> No</td>
              </tr>
              </tr>
              <tr><td></td></tr>
              <tr>
                <td class="icon"><i class="fa {{icons.PLUS}}"></i></td>
                <td class="field">Total Donations: </td>
                <td class="value">{{totalDonations}}</td>
              </tr>
              <tr>
                <td class="icon"><i class="fa {{icons.EXCLAMATION}}"></i></td>
                <td class="field">Total Adverse Events: </td>
                <td class="value" ng-class="{'text-success': totalAdverseEvents < 1, 'text-danger': totalAdverseEvents > 0}">{{totalAdverseEvents}}</td>
              </tr>
              <tr ng-show="totalDonations > 0">
                <td class="icon"><i class="fa {{icons.CIRCLEO}}"></i></td>
                <td class="field">Date of First Donation: </td>
                <td class="value">{{dateOfFirstDonation | date:'longDate'}}</td>
              </tr>
              <tr ng-show="totalDonations > 0">
                <td class="icon"><i class="fa {{icons.CIRCLE}}"></i></td>
                <td class="field">Previous Donation: </td>
                <td class="value">
                  <em>Date</em>: {{ (lastDonation.donationDate | bsisDateTime) || '' }}<br/>
                  <em>Venue</em>: {{lastDonation.venue.name}} <br/>
                  <em>Donation Type</em>: {{lastDonation.donationType.donationType}} | 
                  <em>Pack Type</em>: {{lastDonation.packType.packType}}<br/>
                  <em>Wt</em>: {{lastDonation.donorWeight}} {{weightUnit}} |
                  <em>BP</em>: {{lastDonation.bloodPressureDiastolic}}/{{lastDonation.bloodPressureSystolic}}  {{bpUnit}}|
                  <span>
                    <em>Hb</em>: 
                      <span ng-show="getBooleanValue('donation.hbNumericValue')">{{lastDonation.haemoglobinCount}}</span>
                      <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')">(</span>
                      <span ng-show="getBooleanValue('donation.hbQualitativeValue')" style="text-transform:capitalize;">{{lastDonation.haemoglobinLevel | lowercase}}</span>
                      <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')">)</span> |
                  </span>
                  <em>P</em>: {{lastDonation.donorPulse}} {{pulseUnit}} </td>
              </tr>
              <tr><td></td></tr>

              <tr>
                <td class="icon"><i class="fa {{icons.INFO}}"></i></td>
                <td class="field">Identifier: </td>
                <td class="value">
                  <form editable-form name="donorIdentifierForm" onaftersave="updateDonor(donor)">
                    <span style="float: right; padding-right: 15px; padding-left: 15px; font-size: 0.9em">
                      <em><a has-permission="{{permissions.EDIT_DONOR}}" href="" ng-click="donorIdentifierForm.$show()" ng-show="!donorIdentifierForm.$visible">Edit</a></em>
                      <span ng-show="donorIdentifierForm.$visible">
                        <em>
                        <button type="submit" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donorIdentifierForm.$waiting">
                          Save
                        </button>
                        <button type="button" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donorIdentifierForm.$waiting" ng-click="donorIdentifierForm.$cancel()">
                          Cancel
                        </button>
                        </em>
                      </span>
                    </span>
                    <span e-class="xeditable" editable-text="donor.idNumber" e-name="idNumber">{{donor.idNumber}}</span> 
                    <em>
                    <span ng-if="donor.idType.id">(</span>
                    <span e-class="xeditable" editable-select="donor.idType.id" e-ng-options="item.id as item.idType for item in idTypes" e-name="idType">
                      {{donor.idType.idType}}
                    </span>
                    <span ng-if="donor.idType.id">)</span>
                    </em>
                  </form>
                </td>
              </tr>

              <tr><td></td></tr>


              <tr>
                <td class="icon"><i class="fa {{icons.COMMENT}}"></i></td>
                <td class="field">Comments: </td>
                <td class="value">
                  <form editable-form name="donorNotesForm" onaftersave="updateDonor(donor)">
                    <span style="float: right; padding-right: 15px; padding-left: 15px; font-size: 0.9em">
                      <em><a has-permission="{{permissions.EDIT_DONOR}}" href="" ng-click="donorNotesForm.$show()" ng-show="!donorNotesForm.$visible">Edit</a></em>
                      <span ng-show="donorNotesForm.$visible">
                        <em>
                        <button type="submit" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donorNotesForm.$waiting">
                          Save
                        </button>
                        <button type="button" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donorNotesForm.$waiting" ng-click="donorNotesForm.$cancel()">
                          Cancel
                        </button>
                        </em>
                      </span>
                    </span>
                    <span style="white-space: pre;" e-class="xeditable notes" editable-textarea="donor.notes" e-escape="true" e-rows="4" e-name="notes">{{donor.notes}}</span>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </tab>
    <tab active="tabs.demographics">
      <tab-heading>
        <i class="fa {{icons.BARS}}"></i> Demographics
      </tab-heading>

      <div class="panel panel-default">
        <div class="panel-body">
          <div ng-include="'views/donors/viewDonorDemographics.html'"></div>
        </div>
      </div>

    </tab>

    <tab active="tabs.donations" select="getDonations(donor.id)" has-permission="{{permissions.VIEW_DONATION}}">
      <tab-heading>
        <i class="fa {{icons.ARCHIVE}}"></i> Donations
      </tab-heading>
      
      <div class="panel panel-default">
        <div class="panel-body">

          <div ng-switch on="donationsView">
            <div ng-switch-when="viewDonations"><div ng-include="'views/donors/viewDonations.html'"></div></div>
            <div ng-switch-when="viewDonationDetails"><div ng-include="'views/donors/viewDonationDetails.html'"></div></div>
            <div ng-switch-when="addDonation"><div ng-include="'views/donors/addDonorDonation.html'"></div></div>
            <div ng-switch-default><div ng-include="'views/donors/viewDonations.html'"></div></div>
          </div>

        </div>
      </div>
    </tab>

    <tab active="tabs.deferrals" select="getDeferrals(donor.id)" has-permission="{{permissions.VIEW_DEFERRAL}}">
      <tab-heading>
        <i class="fa {{icons.WARNING}}"></i> Deferrals
      </tab-heading>
      <div class="panel panel-default">
        <div class="panel-body">

        <div ng-switch on="deferralView">
          <div ng-switch-when="viewDeferrals"><div ng-include="'views/donors/viewDeferrals.html'"></div></div>
          <div ng-switch-when="manageDeferral"><div ng-include="'views/donors/manageDeferral.html'"></div></div>
          <div ng-switch-default><div ng-include="'views/donors/viewDeferrals.html'"></div></div>
        </div>

        </div>
      </div>

    </tab>
  </tabset>
  
</div>
