<form editable-form name="donationSummaryForm" onaftersave="updateDonation(donation)">

  <span style="float: right; padding-right: 15px; font-size: 0.9em">
    <span ng-show="!donationSummaryForm.$visible">
      <em><a has-permission="{{permissions.EDIT_DONATION}}" href="" ng-click="donationSummaryForm.$show()" >Edit</a></em> | 
      <em><a href="" ng-click="viewDonationBatch()">Done</a></em>
    </span>
    <span ng-show="donationSummaryForm.$visible">
      <em>
      <button type="submit" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donationSummaryForm.$waiting">
        Save
      </button>
      <button type="button" class="btn" style="background:none!important; border:none;  cursor: pointer;" ng-disabled="donationSummaryForm.$waiting" ng-click="donationSummaryForm.$cancel()">
        Cancel
      </button>
      </em>
    </span>
  </span>

  <div class="col-sm-10" style="height:100%;">
    <table class="dash-table">
      <tbody>
        <tr>
          <td class="field">DIN: </td>
          <td class="value">{{donation.donationIdentificationNumber}}</td>
        </tr>
        <tr>
          <td class="field">Donor #: </td>
          <td class="value">{{donation.donorNumber}}</td>
        </tr>
        <tr>
          <td class="field">Date Bled: </td>
          <td class="value">{{donation.donationDate | bsisDate }}</td>
        </tr>
        <tr>
          <td class="field">Bleed Time: </td>
          <td class="value">{{donation.bleedStartTime | bsisTime }} to {{donation.bleedEndTime | bsisTime }}</td>
        </tr>
        <tr>
          <td class="field">Venue: </td>
          <td class="value">{{donation.donorPanel.name}}</td>
        </tr>
        <tr>
          <td class="field">Pack Type: </td>
          <td class="value">{{donation.packType.packType}}</td>
        </tr>
        <tr>
          <td class="field">Donation Type: </td>
          <td class="value">{{donation.donationType.donationType}}</td>
        </tr>
        <tr>
          <td class="field">Pulse: </td>
          <td class="value">
              <span e-class="xeditable w50" editable-text="donation.donorPulse"  onbeforesave="checkPulse($data)" e-name="donorPulse">{{donation.donorPulse}}</span>
              <span> {{pulseUnit}}</span>
          </td>
        </tr>
        <tr >
          <td class="field">Hb: </td>
          <td class="value">
            <span ng-show="getBooleanValue('donation.hbNumericValue')" e-class="xeditable w50" editable-text="donation.haemoglobinCount" onbeforesave="checkHb($data)" e-name="haemoglobinCount">{{donation.haemoglobinCount}}</span>
              <span> {{hbUnit}}</span>
            <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> (</span>
            <span ng-show="getBooleanValue('donation.hbQualitativeValue')" editable-select="donation.haemoglobinLevel" e-name="haemoglobinLevel" e-ng-options="l.value as l.label for l in haemoglobinLevels" style="text-transform:capitalize;">{{donation.haemoglobinLevel | lowercase}}</span>
            <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> )</span>
          </td>
        </tr>
        <tr>
          <td class="field">BP: </td>
          <td class="value">
              <span e-class="xeditable w50" editable-text="donation.bloodPressureSystolic" onbeforesave="checkBpSystolic($data)" e-name="bloodPressureSystolic">{{donation.bloodPressureSystolic}}</span>/<span e-class="xeditable w50" editable-text="donation.bloodPressureDiastolic" onbeforesave="checkBpDiastolic($data)" e-name="bloodPressureDiastolic">{{donation.bloodPressureDiastolic}}</span>
              <span> {{bpUnit}}</span>
          </td>
        </tr>
        <tr>
          <td class="field">Weight: </td>
          <td class="value">
              <span e-class="xeditable w50" editable-text="donation.donorWeight" onbeforesave="checkWeight($data)" e-name="donorWeight">{{donation.donorWeight}}</span>
              <span> {{weightUnit}}</span>
          </td>
        </tr>
        <tr>
          <td class="field">Comment: </td>
          <td class="value"><span e-class="xeditable notes" editable-text="donation.notes" e-name="notes">{{donation.notes}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

