<table ng-table="donorClinicTableParams" show-filter="true" class="table">
  <tr ng-repeat="donation in $data"
    ng-click="viewDonationSummary(donation.donationIdentificationNumber); changeSelection(donation);"
    ng-mouseenter="this.$selected = true"
    ng-mouseleave="this.$selected = false"
    ng-class="{'active': donation.$selected}">
    <td data-title="'Donor #'" style="width:18%;" header-class="text-left" class="text-center" sortable="'donorNumber'"  filter="{ 'donorNumber': 'text' }">
        {{donation.donorNumber}}
    </td>
    <td data-title="'DIN'" style="width:18%;" header-class="text-left" class="text-center" sortable="'donationIdentificationNumber'"  filter="{ 'donationIdentificationNumber': 'text' }">
        {{donation.donationIdentificationNumber}}
    </td>
    <td data-title="'Pack Type'" style="width:15%;" header-class="text-left" sortable="'bloodBagType'" filter="{ 'bloodBagType': 'select' }"
        filter-data="packTypeFilter($column)">
        {{donation.bloodBagType}}
    </td>
  </tr>
</table>