<span style="float: right; padding-right: 15px; font-size: 0.9em">
  <em><a href="">Edit</a></em>
</span>

<table class="dash-table">
  <tbody>
    <tr>
      <td class="icon"><i class="fa {{icons.INFO}}"></i></td>
      <td class="field">Identifier: </td>
      <td class="value">{{donor.idNumber}} <em>({{donor.idType}})</em></td>
    </tr>

    <tr><td></td></tr>

    <tr>
      <td class="icon"><i class="fa {{icons.PHONE}}"></i></td>
      <td class="field">Preferred Contact Type: </td>
      <td class="value">{{donor.contactMethodType}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">Mobile: </td>
      <td class="value">{{donor.contact.mobileNumber}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">Home: </td>
      <td class="value">{{donor.contact.homeNumber}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">Work: </td>
      <td class="value">{{donor.contact.workNumber}}</td>
    </tr>

    <tr><td></td></tr>

  </tbody>
</table>

<table class="dash-table">
  <tbody>

    <tr>
      <td class="icon"><i class="fa {{icons.GLOBE}}"></i></td>
      <td class="field">Address Type: </td>
      <td class="value" style="width:29%;"><em>Home</em></td>
      <td class="value" style="width:29%;"><em>Postal (Preferred)</em></td>
      <td class="value" style="width:29%;"><em>Work</em></td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">Address: </td>
      <td class="value">{{donor.address.homeAddressLine1}}</td>
      <td class="value">{{donor.address.postalAddressLine1}}</td>
      <td class="value">{{donor.address.workAddressLine1}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field"></td>
      <td class="value">{{donor.address.homeAddressLine2}}</td>
      <td class="value">{{donor.address.postalAddressLine2}}</td>
      <td class="value">{{donor.address.workAddressLine2}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">City: </td>
      <td class="value">{{donor.address.homeAddressCity}}</td>
      <td class="value">{{donor.address.postalAddressCity}}</td>
      <td class="value">{{donor.address.workAddressCity}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">Province: </td>
      <td class="value">{{donor.address.homeAddressProvince}}</td>
      <td class="value">{{donor.address.postalAddressProvince}}</td>
      <td class="value">{{donor.address.workAddressProvince}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">Country: </td>
      <td class="value">{{donor.address.homeAddressCountry}}</td>
      <td class="value">{{donor.address.postalAddressCountry}}</td>
      <td class="value">{{donor.address.workAddressCountry}}</td>
    </tr>
    <tr>
      <td class="icon"></td>
      <td class="field">Code: </td>
      <td class="value">{{donor.address.homeAddressZipcode}}</td>
      <td class="value">{{donor.address.postalAddressZipcode}}</td>
      <td class="value">{{donor.address.workAddressZipcode}}</td>
    </tr>


  </tbody>
</table> 