<div class="panel panel-default" ng-if="postDonationCounselling">
  <div class="panel-body">
    <form class="form-inline" name="postDonationCounsellingForm" ng-submit="updatePostDonationCounselling()" novalidate>
      <div class="form-group" ng-class="{'has-error': postDonationCounsellingForm.$submitted && postDonationCounsellingForm.counsellingDate.$invalid}">
        <label>Counselling Date:</label>
        <dateselect class="counselling-date"
            name="counsellingDate"
            format="dateFormat"
            ng-model="postDonationCounselling.counsellingDate"
            required>
        </dateselect>
        <ng-messages role="alert"
            for="postDonationCounsellingForm.counsellingDate.$error"
            ng-show="postDonationCounsellingForm.$submitted || postDonationCounsellingForm.counsellingDate.$dirty">
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>
      </div>
      <div class="form-group" ng-class="{'has-error': postDonationCounsellingForm.$submitted && postDonationCounsellingForm.counsellingStatus.$invalid}">
        <label>Counselling Status:</label>
        <select class="form-control"
          name="counsellingStatus"
          ng-model="postDonationCounselling.counsellingStatus"
          ng-options="counsellingStatus.label for counsellingStatus in counsellingStatuses track by counsellingStatus.id"
          required>
        </select>
        <ng-messages role="alert"
            for="postDonationCounsellingForm.counsellingStatus.$error"
            ng-show="postDonationCounsellingForm.$submitted || postDonationCounsellingForm.counsellingStatus.$dirty">
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>
      </div>
      <div class="form-group">
        <label>Comment:</label>
        <input type="text" class="form-control" ng-model="postDonationCounselling.notes" />
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top:0;">Save</button>
    </form>
  </div>
</div>

<span style="float: right; padding-right: 15px; font-size: 0.9em">
  <em><a href="" ng-click="getDonations(donor.id)">Done</a></em>
</span>
<div class="row equal">
<div class="col-sm-5" style="height:100%; border-right: 2px solid #f5f5f5; ">

  <table class="dash-table">
    <tbody>
      <tr>
        <td class="field">DIN: </td>
        <td class="value">{{donation.donationIdentificationNumber}}</td>
      </tr>
      <tr>
        <td class="field">Date: </td>
        <td class="value">{{donation.donationDate | bsisDate }}</td>
      </tr>
      <tr>
        <td class="field">Time: </td>
        <td class="value">{{donation.bleedStartTime | bsisTime}} to {{donation.bleedEndTime | bsisTime}}</td>
      </tr>
      <tr>
        <td class="field">Panel: </td>
        <td class="value">{{donation.donorPanel.name}}</td>
      </tr>
      <tr>
        <td class="field">Pack: </td>
        <td class="value">{{donation.packType.packType}}</td>
      </tr>
      <tr>
        <td class="field">Donation: </td>
        <td class="value">{{donation.donationType.donationType}}</td>
      </tr>
      <tr>
        <td class="field">ABO/Rh: </td>
        <td class="value">{{donation.bloodAbo}}{{donation.bloodRh}}</td>
      </tr>
      <tr>
        <td class="field">Pulse: </td>
        <td class="value">{{donation.donorPulse}} {{pulseUnit}}</td>
      </tr>
      <tr>
        <td class="field">Hb: </td>
        <td class="value">
          
          <span ng-show="getBooleanValue('donation.hbNumericValue')">{{donation.haemoglobinCount}} {{hbUnit}}</span>
          <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> (</span>
          <span ng-show="getBooleanValue('donation.hbQualitativeValue')" style="text-transform:capitalize;">{{donation.haemoglobinLevel | lowercase}}</span>
          <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> )</span>

        </td>
      </tr>
      <tr>
        <td class="field">BP: </td>
        <td class="value">{{donation.bloodPressureSystolic}}/{{donation.bloodPressureDiastolic}} {{bpUnit}}</td>
      </tr>
      <tr>
        <td class="field">Weight: </td>
        <td class="value">{{donation.donorWeight}} {{weightUnit}}</td>
      </tr>
      <tr>
        <td class="field">Comment: </td>
        <td class="valuesml">{{donation.notes}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-7" style="height:100%; ">


  <span>
    <small><em>TTI Test Status:</em></small> {{donation.ttistatus}}
    <br/>
    <small><em>Blood Group Serology Test Status:</em></small> {{donation.bloodTypingStatus}} 
  </span>

  <hr style="margin-top:0px;"/>

  <div class="form-horizontal col-sm-12">
    <div class="row">
    <span class="col-sm-6">
      <span class="h5"> 
        TTI Outcomes
      </span>
      <table class="dash-table">
        <thead>
          <tr><td></td></tr>
          <tr>
            <th>Test</th>
            <th>Outcome</th>
            <th>Tested On</th>
          </tr>
        </thead>
        <hr style="margin-top:10px; margin-bottom:5px;"/>
        <tbody>
          <tr><td></td></tr>
          <tr ng-repeat="test in testResults">
            <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">{{test.bloodTest.testNameShort}}</td>
            <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">{{test.result}}</td>
            <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">{{test.testedOn | bsisDate}}</td>
          </tr>
        </tbody>
      </table>
    </span>
    <span class="col-sm-6">
      <span class="h5"> 
        Blood Group Serology Outcomes
      </span>
      <table class="dash-table">
        <thead>
          <tr><td></td></tr>
          <tr>
            <th>Test</th>
            <th>Outcome</th>
            <th>Tested On</th>
          </tr>
        </thead>
        <hr style="margin-top:10px; margin-bottom:5px;"/>
        <tbody>
          <tr><td></td></tr>
          <tr ng-repeat="test in testResults">
            <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">{{test.bloodTest.testNameShort}}</td>
            <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">{{test.result}}</td>
            <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">{{test.testedOn | bsisDate}}</td>
          </tr>
        </tbody>
      </table>
    </span>
    </div>
  </div>
</div>



