<form editable-form name="donationSummaryForm" onbeforesave="validateForm($data); checkBleedTimes($data)"
      onaftersave="updateDonation(donation)" novalidate>
    <div class="col-sm-12" style="height:100%;">
        <div class="col-sm-6" style="height:100%; border-right: 2px solid #f5f5f5; ">
         <span style="float: right; padding-right: 15px; font-size: 0.9em">
         <span ng-show="!donationSummaryForm.$visible">
         <em has-permission="{{permissions.EDIT_DONATION}}"><a has-permission="{{permissions.EDIT_DONATION}}" href="" ng-click="donationSummaryForm.$show()">Edit</a></em>
         <span> | </span>
         <em><a href="" ng-click="returnToListView()">Done</a></em>
         </span>
         <span ng-show="donationSummaryForm.$visible">
         <em>
             <button type="submit" class="btn" style="background:none!important; border:none;  cursor: pointer;"
                     ng-disabled="donationSummaryForm.$waiting">
                 Save
             </button>
             <button type="button" class="btn" style="background:none!important; border:none;  cursor: pointer;"
                     ng-disabled="donationSummaryForm.$waiting" ng-click="donationSummaryForm.$cancel()">
                 Cancel
             </button>
         </em>
         </span>
         </span>
            <table class="dash-table">
                <tbody>
                <tr>
                    <td class="field">DIN:</td>
                    <td class="value">{{donation.donationIdentificationNumber}}</td>
                </tr>
                <tr>
                    <td class="field">Donor #:</td>
                    <td class="value">{{donation.donorNumber}}</td>
                </tr>
                <tr>
                    <td class="field">Date Bled:</td>
                    <td class="value">{{donation.donationDate | bsisDate }}</td>
                </tr>
                <tr>
                    <td class="field">Bleed Time:</td>
                    <td class="value bleed-times">
                        <fieldset ng-disabled="!donation.permissions.canUpdateDonationFields">
                            <table>
                                <tr>
                                    <td>
                                 <span editable-bstime="donation.bleedStartTime"
                                       e-minute-step="5" e-name="bleedStartTime" e-id="bleedStartTime"
                                       e-show-spinners="donation.permissions.canUpdateDonationFields">
                                 {{donation.bleedStartTime | bsisTime }}
                                 </span>
                                        <small class="error" ng-show="donationSummaryForm.bleedStartTime.$error.max">
                                            Please enter a value below {{donationSummaryForm.bleedEndTime}}
                                        </small>
                                    </td>
                                    <td> to</td>
                                    <td>
                                 <span editable-bstime="donation.bleedEndTime" e-name="bleedEndTime"
                                       e-minute-step="5"
                                       e-show-spinners="donation.permissions.canUpdateDonationFields">
                                 {{donation.bleedEndTime | bsisTime }}
                                 </span>
                                    </td>
                                    <td>
                                        <small ng-show="donationSummaryForm.$visible" class="error">{{
                                            errorObject.bleedTime[0].error }}
                                        </small>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td class="field">Venue:</td>
                    <td class="value">{{donation.venue.name}}</td>
                </tr>
                <tr>
                    <td class="field">Pack Type:</td>
                    <td class="value">
                        <fieldset ng-disabled="!donation.permissions.canUpdateDonationFields">
                        <span editable-select="donation.packType" e-name="packType"
                              e-ng-options="pt as pt.packType disable when (pt.countAsDonation && (donation.permissions.canDonate === false && donation.permissions.isBackEntry === false)) for pt in packTypes track by pt.id">{{donation.packType.packType}}</span>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td class="field">Donation Type:</td>
                    <td class="value">{{donation.donationType.donationType}}</td>
                </tr>
                <tr>
                    <td class="field">Pulse:</td>
                    <td class="value">
                     <span e-class="form-control input-sm" editable-number="donation.donorPulse"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-max={{pulseMax}} e-min={{pulseMin}} e-decimal
                           e-name="donorPulse"
                           onbeforesave="checkErrors(donationSummaryForm.donorPulse.$error.min,
                        donationSummaryForm.donorPulse.$error.max)">{{donation.donorPulse}}</span>
                        <span> {{pulseUnit}}</span>
                        <br/>
                     <span ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.donorPulse.$error.min">
                         Please enter a value above {{pulseMin}}
                     </small>
                     <small class="error" ng-show="donationSummaryForm.donorPulse.$error.max">
                         Please enter a value below {{pulseMax}}
                     </small>
                     </span>
                    </td>
                </tr>
                <tr>
                    <td class="field">Hb:</td>
                    <td class="value">
                     <span ng-show="getBooleanValue('donation.hbNumericValue')" e-class="form-control input-sm w50"
                           editable-number="donation.haemoglobinCount"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-min={{hbMin}} e-max={{hbMax}} e-decimal
                           e-name="haemoglobinCount"
                           onbeforesave="checkErrors(donationSummaryForm.haemoglobinCount.$error.min,
                        donationSummaryForm.haemoglobinCount.$error.max)">{{donation.haemoglobinCount}}</span>
                    <span ng-show="getBooleanValue('donation.hbNumericValue')"> {{hbUnit}}</span>
                        <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> (</span>
                     <span ng-show="getBooleanValue('donation.hbQualitativeValue')"
                           editable-select="donation.haemoglobinLevel" e-name="haemoglobinLevel"
                           e-ng-options="l.value as l.label for l in haemoglobinLevels"
                           style="text-transform:capitalize;">{{donation.haemoglobinLevel | lowercase}}</span>
                        <span ng-show="getBooleanValue('donation.hbNumericValue') && getBooleanValue('donation.hbQualitativeValue')"> )</span>
                        <br/>
                     <span ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.haemoglobinCount.$error.min">
                         Please enter a value above {{hbMin}}
                     </small>
                     <small class="error" ng-show="donationSummaryForm.haemoglobinCount.$error.max">
                         Please enter a value below {{hbMax}}
                     </small>
                     </span>
                    </td>
                </tr>
                <tr>
                    <td class="field">BP:</td>
                    <td class="value">
                     <span e-class="form-control input-sm w50" editable-number="donation.bloodPressureSystolic"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-min={{bpSystolicMin}} e-max={{bpSystolicMax}} e-decimal
                           e-name="bloodPressureSystolic"
                           onbeforesave="checkErrors(donationSummaryForm.bloodPressureSystolic.$error.min,
                        donationSummaryForm.bloodPressureSystolic.$error.max)">{{donation.bloodPressureSystolic}}</span> /
                     <span e-class="form-control input-sm w50" editable-number="donation.bloodPressureDiastolic"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-min={{bpDiastolicMin}} e-max={{bpDiastolicMax}} e-decimal
                           e-name="bloodPressureDiastolic"
                           onbeforesave="checkErrors(donationSummaryForm.bloodPressureDiastolic.$error.min,
                        donationSummaryForm.bloodPressureDiastolic.$error.max)">{{donation.bloodPressureDiastolic}}</span>
                        <span> {{bpUnit}}</span>
                        <br/>
                     <span ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.bloodPressureSystolic.$error.min">
                         Please enter a value above {{bpSystolicMin}}
                     </small>
                     <small class="error" ng-show="donationSummaryForm.bloodPressureSystolic.$error.max">
                         Please enter a value below {{bpSystolicMax}}
                     </small>
                     <br/>
                     <small class="error" ng-show="donationSummaryForm.bloodPressureDiastolic.$error.min">
                         Please enter a value above {{bpDiastolicMin}}
                     </small>
                     <small class="error" ng-show="donationSummaryForm.bloodPressureDiastolic.$error.max">
                         Please enter a value below {{bpDiastolicMax}}
                     </small>
                     </span>
                    </td>
                </tr>
                <tr>
                    <td class="field">Weight:</td>
                    <td class="value">
                     <span e-class="form-control input-sm w50" editable-number="donation.donorWeight"
                           e-ng-model-options="{ updateOn:'default blur', debounce: { default: 1000, blur: 0 } }"
                           e-min={{weightMin}} e-max={{weightMax}} e-decimal
                           e-name="donorWeight"
                           onbeforesave="checkErrors(donationSummaryForm.donorWeight.$error.min, donationSummaryForm.donorWeight.$error.max)">{{donation.donorWeight}}</span>
                        <span>{{weightUnit}}</span>
                        <br/>
                     <span ng-show="donationSummaryForm.$visible">
                     <small class="error" ng-show="donationSummaryForm.donorWeight.$error.min">
                         Please enter a value above {{weightMin}}
                     </small>
                     <small class="error" ng-show="donationSummaryForm.donorWeight.$error.max">
                         Please enter a value below {{weightMax}}
                     </small>
                     </span>
                    </td>
                </tr>
                <tr>
                    <td class="field">Comment:</td>
                    <td class="value"><span e-class="form-control input-sm notes" editable-text="donation.notes"
                                            e-name="notes">{{donation.notes}}</span></td>
                </tr>
                <tr>
                    <td class="field">Adverse Event Type:</td>
                    <td class="value">
                     <span e-name="adverseEventType"
                           editable-select="donation.adverseEvent.type"
                           e-ng-change="updateCommentFieldDisabledState(donationSummaryForm)"
                           e-ng-options="aet as (aet.name !== undefined ? aet.name : '') for aet in adverseEventTypes track by aet.id">
                     {{donation.adverseEvent.type.name}}
                     </span>
                    </td>
                </tr>
                <tr>
                    <td class="field">Adverse Event Comment:</td>
                    <td class="value">
                     <span e-name="adverseEventComment" e-class="form-control input-sm notes"
                           editable-text="donation.adverseEvent.comment"
                           e-ng-disabled="commentFieldDisabled"
                     >
                     {{donation.adverseEvent.comment}}
                     </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <table class="pull-right">
            <tr has-permission="{{permissions.VIEW_POST_DONATION_COUNSELLING_DONORS}}">
                <td ng-if="showTestResults" class="value"><em class="pull-right" style="padding:0 15px;">
                    <a style="cursor: pointer;" ng-click="toggleShowResults(false)">Hide test outcomes</a>
                </em>
                </td>
                <td ng-if="!showTestResults" class="value"><em class="pull-right" style="padding:0 15px;">
                    <a style="cursor: pointer;" ng-click="toggleShowResults(true)">Show test outcomes</a>
                </em>
                </td>
            </tr>
        </table>
        <div ng-show="showTestResults" class="col-sm-6" style="height:100%;">
         <span>
         <small><em>TTI Test Status:</em></small> {{donation.ttistatus}}
         <br/>
         <small><em>Blood Group Serology Test Status:</em></small> {{donation.bloodTypingStatus}} - {{donation.bloodTypingMatchStatus}}
         </span>
            <hr style="margin-top:0px;"/>
            <div class="form-horizontal col-sm-12">
                <div class="row">
               <span class="col-sm-6">
                  <span class="h5">
                  TTI Outcomes
                  </span>
                  <table class="dash-table">
                      <thead>
                      <tr>
                          <td></td>
                      </tr>
                      <tr>
                          <th>Test</th>
                          <th>Outcome</th>
                          <th>Tested On</th>
                      </tr>
                      </thead>
                      <hr style="margin-top:10px; margin-bottom:5px;"/>
                      <tbody>
                      <tr>
                          <td></td>
                      </tr>
                      <tr ng-repeat="test in testResults">
                          <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">
                              {{test.bloodTest.testNameShort}}
                          </td>
                          <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">
                              {{test.result}}
                          </td>
                          <td ng-if="test.bloodTest.bloodTestCategory == 'TTI'" class="value">
                              {{test.testedOn
                              | bsisDate}}
                          </td>
                      </tr>
                      </tbody>
                  </table>
               </span>
               <span class="col-sm-6">
                  <span class="h5">
                  Blood Group Serology Outcomes
                  </span>
                  <table class="dash-table">
                      <thead>
                      <tr>
                          <td></td>
                      </tr>
                      <tr>
                          <th>Test</th>
                          <th>Outcome</th>
                          <th>Tested On</th>
                      </tr>
                      </thead>
                      <hr style="margin-top:10px; margin-bottom:5px;"/>
                      <tbody>
                      <tr>
                          <td></td>
                      </tr>
                      <tr ng-repeat="test in testResults">
                          <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">
                              {{test.bloodTest.testNameShort}}
                          </td>
                          <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">
                              {{test.result}}
                          </td>
                          <td ng-if="test.bloodTest.bloodTestCategory == 'BLOODTYPING'" class="value">
                              {{test.testedOn |
                              bsisDate}}
                          </td>
                      </tr>
                      </tbody>
                  </table>
               </span>
                </div>
            </div>
        </div>
    </div>
</form>
