<span class="h2"> 
  {{donor.firstName}} {{donor.lastName}}<small><em> ({{donor.title}}. Sam)</em></small>
</span>

  <span ng-switch="donor.gender" class="h3" style="vertical-align: 0.3em; padding-left:10px;"> 
    <span ng-switch-when="Male" class="fa-stack fa-1x">
      <i class="fa fa-circle fa-stack-2x fa-fw"></i>
      <i class="fa {{icons.MALE}} fa-stack-1x fa-inverse fa-fw"></i>
    </span>
    <span ng-switch-when="Female" class="fa-stack fa-1x">
      <i class="fa fa-circle fa-stack-2x fa-fw"></i>
      <i class="fa {{icons.FEMALE}} fa-stack-1x fa-inverse fa-fw"></i>
    </span>
  </span>
  <span class="h3" style="vertical-align: 0.3em; padding-left:5px;">
    <span class="fa-stack fa-1x">
      <i class="fa fa-circle fa-stack-2x fa-fw"></i>
      <i class="fa fa-stack-1x fa-inverse">O+</i>
    </span>
  </span>

  <span class="h4" style="float: right; margin-top: 20px; padding-right: 15px;">
    <small><em><a href="">Edit</a></em>  | <em><a href="">Remove</a></em></small>
  </span>

<hr/>

<div class = "h4"> 
  <small><em>Age: </em></small>
  {{donor.age}} <small>({{donor.dob}})</small> 
  | 
  <small><em>Donor Number: </em></small> {{donor.donorNum}}
  | 
  <small><em>Donor Panel: </em></small> {{donor.donorPanel}}
</div>

<hr/>

<div style="padding-bottom: 5px"></div>

<div class="col-sm-12">

  <tabset justified="true" >
    <tab>
      <tab-heading>
        <i class="fa {{icons.INFOCIRCLE}}"></i> Overview
      </tab-heading>

      <div class="panel panel-default">
        <div class="panel-body">

          <table class="dash-table">
            <tbody>
              <tr>
                <td class="icon"><i class="fa {{icons.CALENDAR}}"></i></td>
                <td class="field">Due To Donate: </td>
                <td class="value green">12 August 2014</td>
              </tr>
              <tr>
                <td class="icon"><i class="fa {{icons.WARNING}}"></i></td>
                <td class="field">Current Deferrals: </td>
                <td class="value red"> On Medication <em>(ends 21 September 2014)</em>
                  <span style="font-size: 0.8em;">
                    <em><a href=""> Edit</a></em>
                  </span>
                </td>
              </tr>
              <tr>
                <td class="icon"></td>
                <td class="field"></td>
                <td class="value red"> Illness or Operation <em>(ends 12 December 2014)</em>
                  <span style="font-size: 0.8em;">
                    <em><a href=""> Edit</a></em>
                  </span>
                </td>
              </tr>
              <tr><td></td></tr>
              <tr>
                <td class="icon"><i class="fa {{icons.PLUS}}"></i></td>
                <td class="field">Total Donations: </td>
                <td class="value">8</td>
              </tr>
              <tr>
                <td class="icon"><i class="fa {{icons.CIRCLEO}}"></i></td>
                <td class="field">Date of First Donation: </td>
                <td class="value">12 February 2010</td>
              </tr>
              <tr>
                <td class="icon"><i class="fa {{icons.CIRCLE}}"></i></td>
                <td class="field">Previous Donation: </td>
                <td class="value">21 May 2014 <em>(71 days ago)</em><br/>
                    <em>Venue</em>: Luanshya | <em>Pack Type</em>: Single<br/>
                    <em>Wt</em>: 81kg | <em>BP</em>: 110/70 |
                    <em>Hb</em>: 13.7 | <em>P</em>: 61 </td>
              </tr>
              <tr><td></td></tr>
              <tr>
                <td class="icon"><i class="fa {{icons.COMMENT}}"></i></td>
                <td class="field">Comments: </td>
                <td class="value">12/09/10 - Sample comment about donor<br/>
                                  21/06/13 - Another sample comment about donor</em></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </tab>
    <tab>
      <tab-heading>
        <i class="fa {{icons.BARS}}"></i> Demographics
      </tab-heading>

    </tab>

    <tab>
      <tab-heading>
        <i class="fa {{icons.ARCHIVE}}"></i> Donations
      </tab-heading>
      
      <div class="panel panel-default">
        <div class="panel-body">

          <table class="dash-table">
            <tbody>
              <tr>
                <td class="icon"><i class="fa {{icons.CALENDAR}}"></i></td>
                <td class="field">Due To Donate: </td>
                <td class="value green">12 August 2014</td>
              </tr>
            </tbody>
          </table>


          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Pulse</th>
                <th>Hb</th>
                <th>BP</th>
                <th>Wt</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>27/04/2014</td>
                <td>Luanshya</td>
                <td>90</td>
                <td>13.5</td>
                <td>110/80</td>
                <td>80.7</td>
              </tr>
              <tr>
                <td>27/04/2014</td>
                <td>Luanshya</td>
                <td>90</td>
                <td>13.5</td>
                <td>110/80</td>
                <td>80.7</td>
              </tr>
              <tr>
                <td>27/04/2014</td>
                <td>Luanshya</td>
                <td>90</td>
                <td>13.5</td>
                <td>110/80</td>
                <td>80.7</td>
              </tr>
              <tr>
                <td>27/04/2014</td>
                <td>Luanshya</td>
                <td>90</td>
                <td>13.5</td>
                <td>110/80</td>
                <td>80.7</td>
              </tr>
              <tr>
                <td>27/04/2014</td>
                <td>Luanshya</td>
                <td>90</td>
                <td>13.5</td>
                <td>110/80</td>
                <td>80.7</td>
              </tr>
              <tr>
                <td>27/04/2014</td>
                <td>Luanshya</td>
                <td>90</td>
                <td>13.5</td>
                <td>110/80</td>
                <td>80.7</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </tab>
    <tab>
      <tab-heading>
        <i class="fa {{icons.WARNING}}"></i> Deferrals
      </tab-heading>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <span style="float: right; padding-right: 15px; font-size: 0.9em">
            <em><a href="">Add Deferral</a></em>
          </span>
          <table class="dash-table">
              <tr>
                <td class="icon"><i class="fa {{icons.WARNING}}"></i></td>
                <td class="field">Current Deferrals: </td>
                <td class="value red"> On Medication <em>(ends 21 September 2014)</em> 
                  <span style="font-size: 0.8em;">
                    <em><a href=""> Edit</a></em>
                  </span>
                </td>
              </tr>
              <tr>
                <td class="icon"></td>
                <td class="field"></td>
                <td class="value red"> Illness or Operation <em>(ends 12 December 2014)</em>
                  <span style="font-size: 0.8em;">
                    <em><a href=""> Edit</a></em>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </tab>
  </tabset>
  
</div>