<h3 class="page-header">Audit Log</h3>

<div class="col-sm-12">
  <div style="padding-bottom:10px;"></div>
    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table" style="text-align:center;" ng-table="tableParams">
          <tr ng-repeat="revision in $data">
            <td data-title="'Date'" sortable="'revisionDate'">{{revision.revisionDate | bsisDateTime}}</td>
            <td data-title="'User'" sortable="'user.firstName'">{{revision.user.firstName}} {{revision.user.lastName}}</td>
            <td data-title="'Revision type'" sortable="'revisionType'">{{revision.revisionType | revisionType}}</td>
            <td data-title="'Entity'" sortable="'entityName'">{{revision.entityName}}</td>
            <td data-title="'Number of entities'" sortable="'count'">{{revision.count}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
