<h3 class="page-header">Audit Log</h3>

<div class="col-sm-12">
  <div style="padding-bottom:10px;"></div>
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-inline form-group" style="padding-bottom:10px;">
          <label>Date range</label>
          <input type="daterange"
              class="form-control"
              style="width:auto;"
              ng-model="dateRange"
              ranges="ranges" 
              ng-change="reloadTable(dateRange)" />
        </div>

        <table class="table" style="text-align:center;" ng-table="tableParams" show-filter="true">
          <tr ng-repeat="revision in $data">
            <td data-title="'Date'" sortable="'revisionDate'">{{revision.revisionDate | bsisDateTime}}</td>
            <td data-title="'User'" sortable="'user.firstName'" filter="{user: 'text'}">{{revision.user.firstName}} {{revision.user.lastName}}</td>
            <td data-title="'Revision type'" sortable="'revisionType'" filter="{revisionType: 'select'}" filter-data="getRevisionTypes()">{{revision.revisionType | revisionType}}</td>
            <td data-title="'Entity'" sortable="'entityName'" filter="{entityName: 'text'}">{{revision.entityName}}</td>
            <td data-title="'Number of entities'" sortable="'count'">{{revision.count}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
