<div class="col-sm-3 col-md-2" ng-include="'views/settings/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
    <h3 class="page-header">Data Export</h3>

    <form name="dataExportForm" ng-submit="download()" novalidate>

        <div ng-show="error.message">
            <uib-alert type="danger" close="error.message = null">{{error.message}}</uib-alert>
        </div>

        <h4>Export donors, donations, deferrals, post-donation counselling, test outcomes, and components. The data will be downloaded as a compressed zip file containing separate CSV file for each dataset.</h4>

        <p>This export may take some time and can affect the performance of the system. It is recommended that this process is only run after
        standard operating hours, to minimise the impact on other activities.</p>

        <div class="">
            <button class="btn btn-primary" type="submit" ng-disabled="downloading">{{downloading ? "Downloading..." :
                "Export All Data"}}
            </button>
        </div>
    </form>

</div>
