<div class="col-sm-2 col-md-2" ng-include="'views/settings/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Manage Component Combination</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <form name="componentCombinationForm" novalidate class="form-horizontal col-sm-12" ng-submit="saveComponentCombination()">

        <div class="row form-group col-sm-12">
          <label for="componentCombinationName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-5">
            <div class="form-inline">
              <input size="40" id="componentCombinationName" name="componentCombinationName" class="form-control input-sm" 
                ng-model= "componentTypeCombination.combinationName" required ng-maxlength=50>
              <div>
                <ng-messages for="componentCombinationForm.componentCombinationName.$error" ng-show="componentCombinationForm.$submitted">
                  <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label for="sourceComponentOption" class="col-sm-2 control-label">Source Component Option(s)</label>
          <div class="col-sm-5">
            <div class="form-inline">
              <select class="form-control" style="width:auto;" name="sourceComponentOption" ng-model="userSelection.selectedSourceComponentIndex" ng-options="sourceComponentTypesDropDown.indexOf(componentType) as componentType.componentTypeName for componentType in sourceComponentTypesDropDown">
                <option value=""></option>
              </select>
              <button class="btn btn-primary" type="button" style="margin-top: 2px" 
                      ng-click="addSourceComponent()" ng-disabled="userSelection.selectedSourceComponentIndex==null">
                Add Source Component
              </button>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-5">
            <div class="form-inline">
              <select class="form-control" style="width:auto;" name="sourceComponentList"
                ng-model="userSelection.selectedSourceComponentList" required multiple>
                <option ng-repeat="componentType in sourceComponentTypes" value="{{componentType.id}}">
                  {{componentType.componentTypeName}}
                </option>
              </select>
              <button class="btn btn-primary" type="button" style="margin-top: 2px"
                ng-click="removeSourceComponent()" ng-disabled="userSelection.selectedSourceComponentList.length==0">
                Remove Source Component
              </button>
              <div>
                <ng-messages for="componentCombinationForm.sourceComponentList.$error" ng-show="componentCombinationForm.$submitted">
                  <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label for="producedComponentOption" class="col-sm-2 control-label">Produced Component(s)</label>
          <div class="col-sm-5">
            <div class="form-inline">
              <select class="form-control" style="width:auto;" name="producedComponentOption" ng-model="userSelection.selectedProducedComponentIndex" ng-options="producedComponentTypesDropDown.indexOf(componentType) as componentType.componentTypeName for componentType in producedComponentTypesDropDown">
                  <option value="" selected></option>
              </select>
              <button class="btn btn-primary" type="button" style="margin-top: 2px" ng-click="addUnit()" 
              ng-disabled="userSelection.selectedProducedComponentIndex==null">
                  Add Unit
              </button>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-5">
            <div class="form-inline">
              <select class="form-control" style="width:auto;" name="producedComponentList"
                ng-model="userSelection.selectedProducedComponentList" required multiple>
                <option ng-repeat="componentType in producedComponentTypes" value="{{componentType.id}}">
                  {{componentType.componentTypeName}}
                </option>
              </select>
              <button class="btn btn-primary" type="button" style="margin-top: 2px" ng-click="removeProducedComponent()" ng-disabled="userSelection.selectedProducedComponentList.length==0">
                Remove Unit
              </button>
              <ng-messages for="componentCombinationForm.producedComponentList.$error" role="alert" ng-show="componentCombinationForm.$submitted">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label for="isDeleted" class="col-sm-2 control-label">Enabled</label>
          <div class="col-sm-5">
            <div class="checkbox">
              <input type="checkbox" id="isDeleted" name="isDeleted" ng-model="componentTypeCombination.isDeleted" ng-true-value="false" ng-false-value="true"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-primary" type="submit" style="margin-top: 2px"
                ng-disabled="savingComponentCombination">{{savingComponentCombination ? "Saving..." : "Save Component Combination"}}
            </button>
            <button class="btn btn-primary" type="button" ng-click="cancel()"
                style="margin-top: 2px" ng-disabled="savingComponentCombination">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>