<div class="col-sm-2 col-md-2" ng-include="'views/settings/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Manage Blood Testing Rule</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <form name="bloodTestingRuleForm" novalidate class="form-horizontal col-sm-12" ng-submit="saveBloodTestingRule()">

        
        <div class="row form-group col-sm-12">
          <label for="bloodTest" class="col-sm-2 control-label">Blood Test</label>
          <div class="col-sm-10">
            <div class="form-inline">
              <select class="form-control" style="width:auto;min-width:200px;" name="bloodTest" ng-model="bloodTestingRule.bloodTest" ng-change="updateDonationAndTestOutcomeDropDowns()">
                <option value=""></option>
                <option ng-repeat="bloodTest in bloodTests"
                        value="{{bloodTest.id}}">
                        {{bloodTest.testName}}
                </option>
              </select>
              <div>
                <ng-messages for="bloodTestingRuleForm.bloodTest.$error" ng-show="bloodTestingRuleForm.$submitted">
                  <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label for="donationFieldChanged" class="col-sm-2 control-label">Donation Field Affected</label>
          <div class="col-sm-10">
            <div class="form-inline">
              <select class="form-control" style="width:auto;min-width:200px;" name="donationFieldChanged" ng-model="bloodTestingRule.donationFieldChanged" 
              ng-change="updateDonationFieldValuesDropdown()"
               ng-options="d for d in donationFields" required>
              </select>
              <div>
                <ng-messages for="bloodTestingRuleForm.donationFieldChanged.$error" ng-show="bloodTestingRuleForm.$submitted">
                  <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label for="pattern" class="col-sm-2 control-label">Test Outcome</label>
          <div class="col-sm-10">
            <div class="form-inline">
              <select class="form-control" style="width:auto;min-width:200px;" name="pattern" ng-model="bloodTestingRule.pattern" ng-options="p as p for p in testOutcomes" required>
              </select>
              <div>
                <ng-messages for="bloodTestingRuleForm.pattern.$error" ng-show="bloodTestingRuleForm.$submitted">
                  <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label for="newInformation" class="col-sm-2 control-label">Donation Field Value</label>
          <div class="col-sm-10">
            <div class="form-inline">
              <select class="form-control" style="width:auto;min-width:200px;" name="newInformation" ng-model="bloodTestingRule.newInformation" ng-options="n as n for n in donationFieldValues">
              </select>
              <div>
                <ng-messages for="bloodTestingRuleForm.newInformation.$error" ng-show="bloodTestingRuleForm.$submitted">
                  <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Tests -->
        <div class="row form-group col-sm-12">
          <label for="pendingTestOption" class="col-sm-2 control-label">Pending Tests</label>
          <div class="col-sm-10">
            <div class="form-inline">
              <select class="form-control" style="width:auto;min-width:200px;" name="pendingTestOption" ng-model="userSelection.selectedPendingBloodTestIndex">
                <option value=""></option>
                <option ng-repeat="pendingTest in pendingBloodTestsDropDown"
                        value="{{pendingBloodTestsDropDown.indexOf(pendingTest)}}"
                        ng-disabled="pendingTest.disabled">
                        {{pendingTest.testName}}
                </option>
              </select>
              <button class="btn btn-primary" type="button" style="margin-top: 2px" 
                      ng-click="addPendingTest()" ng-disabled="userSelection.selectedPendingBloodTestIndex===null">
                Add Blood Test
              </button>
            </div>
          </div>
        </div>

        <div class="row form-group col-sm-12">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <div class="form-inline">
              <select class="form-control" style="width:auto;min-width:200px;" name="pendingTestList"
                ng-model="userSelection.selectedPendingBloodTestList" multiple>
                <option ng-repeat="pendingTest in bloodTestingRule.pendingTestsIds" value="{{$index}}">
                  {{pendingTest.testName}}
                </option>
              </select>
              <button class="btn btn-primary" type="button" style="margin-top: 2px"
                ng-click="removePendingTest()" ng-disabled="userSelection.selectedPendingBloodTestList.length===0">
                Remove Blood Test
              </button>
              <div>
                <ng-messages for="bloodTestingRuleForm.pendingTestList.$error" ng-show="bloodTestingRuleForm.$submitted">
                  <ng-messages-include src="messages.html"></ng-messages-include>
                </ng-messages>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Flags -->
        
        <div class="row form-group col-sm-12">
          <div class="col-sm-2"></div>
          <label for="isDeleted" class="col-sm-10">
            <div class="checkbox">
              <input type="checkbox" id="isDeleted" name="isDeleted" ng-model="bloodTestingRule.isDeleted" ng-true-value="false" ng-false-value="true"/><b>Enabled</b>
            </div>
          </label>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-primary" type="submit" style="margin-top: 2px"
                ng-disabled="savingBloodTestingRule">{{savingBloodTestingRule ? "Saving..." : "Save Blood Testing Rule"}}
            </button>
            <button class="btn btn-primary" type="button" ng-click="cancel()"
                style="margin-top: 2px" ng-disabled="savingBloodTestingRule">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>