<h3 class="page-header">Manage Pack Types</h3>

<div class="col-sm-12">
    <div style="padding-bottom: 10px"></div>
    <div class="panel panel-default">
        <div class="panel-body">

            <p>
                <em> {{packTypesCount}} pack type(s) found </em> <span has-permission="{{permissions.MANAGE_PACK_TYPES}}"> | <em> <a href="" ng-click="addNewPackType()" >Add New Pack Type</a></em> </span>
            </p>


            <table ng-table="packTypesTableParams" show-filter="false" class="table">
                <tr ng-repeat="pack in $data"
                    ng-click="managePackType(pack); changeSelection(pack);"
                    ng-mouseenter="this.$selected = true"
                    ng-mouseleave="this.$selected = false"
                    ng-class="{'active': pack.$selected}">
                    <td data-title="'Pack Type'" header-class="text-left" class="text-center">
                        {{pack.bloodBagType}}
                    </td>
                    <td data-title="'Period between donations'"  header-class="text-left" class="text-center">
                        {{pack.periodBetweenDonations}}
                    </td>
                    <td data-title="'Count as donation'" header-class="text-left" class="text-center" sortable="'countAsDonation'">
                        <span ng-if="pack.countAsDonation == true"><i class="fa {{icons.SQUARECHECK}}"></i></span>
                        <span ng-if="pack.countAsDonation == false"><i class="fa {{icons.SQUARE}}"></i></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
