<h3 class="page-header">User Profile</h3>

<div class="col-sm-12">
  <div style="padding-bottom:10px;"></div>
    <div class="panel panel-default">
      <div class="panel-body" ng-controller="UserProfileCtrl">

        <form name="userDetailsForm" novalidate class="form-horizontal col-sm-12" role="form" ng-submit="updateUserDetails();" style="padding-bottom:20px;">

          <div ng-show="detailsMessage" style="padding-bottom:10px;">
            <span role="alert" ng-class="['alert', detailsStyle]">{{detailsMessage}}</span>
          </div>

          <div class="form-group" ng-class="{'has-error': (userDetailsForm.$submitted || userDetailsForm.firstName.$dirty) && userDetailsForm.firstName.$invalid}">
            <label class="col-sm-3 col-lg-1 control-label" for="firstName">First Name</label>
            <div class="col-sm-9 col-lg-11">
              <input size="34" class="form-control input-sm" style="width:auto;" type="text" name="firstName" ng-model="userDetails.firstName" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}" required />
              <ng-messages for="userDetailsForm.firstName.$error" role="alert" ng-show="userDetailsForm.$submitted || userDetailsForm.firstName.$dirty">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (userDetailsForm.$submitted || userDetailsForm.lastName.$dirty) && userDetailsForm.lastName.$invalid}">
            <label class="col-sm-3 col-lg-1 control-label" for="lastName">Last Name</label>
            <div class="col-sm-9 col-lg-11">
              <input size="34" class="form-control input-sm" style="width:auto;" type="text" name="lastName" ng-model="userDetails.lastName" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}" required />
              <ng-messages for="userDetailsForm.lastName.$error" role="alert" ng-show="userDetailsForm.$submitted || userDetailsForm.lastName.$dirty">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (userDetailsForm.$submitted || userDetailsForm.emailId.$dirty) && userDetailsForm.emailId.$invalid}">
            <label class="col-sm-3 col-lg-1 control-label" for="lastName">Email</label>
            <div class="col-sm-9 col-lg-11">
              <input size="34" class="form-control input-sm" style="width:auto;" type="email" name="emailId" ng-model="userDetails.emailId" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}" />
              <ng-messages for="userDetailsForm.emailId.$error" role="alert" ng-show="userDetailsForm.$submitted || userDetailsForm.emailId.$dirty">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 col-lg-1 control-label" for="username">Username</label>
            <div class="col-sm-9 col-lg-11">
              <input size="34" class="form-control input-sm" style="width:auto;" type="text" name="username" ng-model="userDetails.username" disabled />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 col-lg-1 control-label">Password</label>
            <div class="col-sm-9 col-lg-11">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="modifyPassword" ng-model="userDetails.modifyPassword" />
                  Modify password
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (userDetailsForm.$submitted || userDetailsForm.password.$dirty) && userDetailsForm.password.$invalid}">
            <div class="col-sm-offset-3 col-lg-offset-1 col-sm-9 col-lg-11">
              <input size="34" class="form-control input-sm" style="width:auto;" type="password" name="password" ng-model="userDetails.password" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}" ng-disabled="!userDetails.modifyPassword" placeholder="New password" ng-required="userDetails.modifyPassword" />
              <ng-messages for="userDetailsForm.password.$error" role="alert" ng-show="userDetailsForm.$submitted || userDetailsForm.password.$dirty">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (userDetailsForm.$submitted || userDetailsForm.confirmPassword.$dirty) && userDetailsForm.confirmPassword.$invalid}">
            <div class="col-sm-offset-3 col-lg-offset-1 col-sm-9 col-lg-11">
              <input size="34" class="form-control input-sm" style="width:auto;" type="password" name="confirmPassword" ng-model="userDetails.confirmPassword" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}" ng-disabled="!userDetails.modifyPassword" placeholder="Confirm password" ng-required="userDetails.modifyPassword" compare-to="userDetails.password" />
              <ng-messages for="userDetailsForm.confirmPassword.$error" role="alert" ng-show="userDetailsForm.$submitted || userDetailsForm.confirmPassword.$dirty">
                <ng-messages-include src="messages.html"></ng-messages-include>
              </ng-messages>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-lg-offset-1 col-sm-9 col-lg-11">
              <button class="btn btn-primary" type="submit">Update</button>
              <button class="btn btn-primary" type="button" ng-click="resetUserDetails();"/>Reset</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
