<h3 class="page-header">Manage Role Permissions</h3>

<div class="panel panel-default">
    <div class="panel-body">

        <form name="roleForm" novalidate class="form-horizontal col-sm-12"  role="form" ng-submit="updateRole(role)">
            <div ng-include="'views/settings/roleForm.html'"></div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-4">
                    <button class="btn btn-primary" type="submit">Save Role</button>
                    <button class="btn btn-primary" type="button" ng-click="clear(); go('/roles');">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>

