<h3 class="page-header">Manage Roles</h3>

<div class="col-sm-12">
  <div style="padding-bottom: 10px"></div>
    <div class="panel panel-default">
      <div class="panel-body">

        <p>
            <em> {{rolesCount}} role(s) found </em> <span has-permission="{{permissions.MANAGE_ROLES}}"> | <em> <a href="" ng-click="addNewRole()" >Add New Role</a></em> </span>
        </p>

        <table ng-table="rolesTableParams" show-filter="false" class="table">
          <tr ng-repeat="role in $data"
            ng-click="changeSelection(role); manageRole(role);"
            ng-mouseenter="this.$selected = true"
            ng-mouseleave="this.$selected = false"
            ng-class="{'active': role.$selected}"
            >
            <td data-title="'Name'" style="width:30%;" header-class="text-left" sortable="'name'">
                {{role.name}}
            </td>
            <td data-title="'Description'"  header-class="text-left" sortable="'name'">
                {{role.description}}
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
</form>




