<div class="col-sm-3 col-md-2 sidebar" style="padding-top:5px;">
  <ul class="nav nav-sidebar">
    <li class="disabled">
      <span class="icon-sidebar-container">
        <div class="placeholder">
          <a href="#settings">
            <i class="fa {{icons.SETTINGS}}"></i>
          </a>
        </div>
      </span>
    </li>
    <li class="disabled" has-permission="{{permissions.AUTHENTICATED}}"><span>SETTINGS</span></li>
    <li ng-class="{current: isCurrent('/profile')}" has-permission="{{permissions.AUTHENTICATED}}"><a href="#/profile">User Profile</a></li>
    <li ng-class="{current: isCurrent('/configurations')}" has-permission="{{permissions.MANAGE_DONATION_SITES}}"><a href="#/configurations">General Configurations</a></li>
    <li ng-class="{current: isCurrent('/locations')}" has-permission="{{permissions.MANAGE_DONATION_SITES}}"><a href="#/locations">Manage Locations</a></li>
    <li ng-class="{current: isCurrent('/users')}" has-permission="{{permissions.MANAGE_USERS}}"><a href="#/users">Manage Users</a></li>
    <li ng-class="{current: isCurrent('/roles')}" has-permission="{{permissions.MANAGE_ROLES}}"><a href="#/roles">Manage Roles</a></li>

  </ul>
  <div ng-include="'views/sidebarFooter.html'"></div>
</div>
