<h3 class="page-header">Manage Users</h3>

<div class="col-sm-12">
  <div style="padding-bottom: 10px"></div>
    <div class="panel panel-default">
      <div class="panel-body">

        <table ng-table="usersTableParams" show-filter="false" class="table">
          <tr ng-repeat="user in $data"
              ng-click="manageUser(user); changeSelection(user);"
              ng-mouseenter="this.$selected = true"
              ng-mouseleave="this.$selected = false"
              ng-class="{'active': user.$selected}">
              <td data-title="'Name'" style="width:30%;" header-class="text-left" sortable="'name'">
                  {{user.name}}
              </td>
              <td data-title="'Description'" style="width:30%;" header-class="text-left" sortable="'name'">
                  {{user.description}}
              </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>

</form>
