<div class="form-group">
    <div class="row col-sm-11">
        <div class="form-inline col-sm-3 pull-left" style="padding-left:5px;">
            <label for="firstName" class="control-label">First Name</label>
            <input size="30"  id="firstName" name="lastName" class="form-control input-sm" ng-model="user.firstName" required ng-minlength=1 ng-maxlength=30
                   ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                   ng-class="{'ng-invalid ng-dirty' : userForm.firstName.$invalid && submitted}">
            <div>
                <small class="error"  ng-show="(userForm.name.$error.required && (userForm.name.$dirty || submitted))">
                    This cannot be empty
                </small>
            </div>
        </div>

        <div class="form-inline col-sm-3 pull-left" style="padding-left:5px;">
            <label for="lastName" class="control-label">Last Name</label>
            <input size="30"  id="lastName" name="lastName" class="form-control input-sm" ng-model="user.lastName" required ng-minlength=1 ng-maxlength=30
                   ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                   ng-class="{'ng-invalid ng-dirty' : userForm.lastName.$invalid && submitted}">

            <div>
                <small class="error"  ng-show="(userForm.name.$error.required && (userForm.name.$dirty || submitted))">
                    This cannot be empty
                </small>
            </div>
        </div>

        <div class="form-inline col-sm-3 pull-left" style="padding-left:5px;">
            <label for="emailId" class="control-label">Email </label>
            <input size="30" type="email"  id="emailId" name="emailId" class="form-control input-sm" ng-model="user.emailId" required
                   ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                   ng-class="{'ng-invalid ng-dirty' : userForm.emailId.$invalid && submitted}">
            <div>
                <small class="error" ng-show="(userForm.emailId.$error.required && (userForm.emailId.$dirty || submitted))">
                    This cannot be empty
                </small>
            </div>
        </div>

    </div>
</div>

<div class="form-group">
    <div class="row col-sm-11">
        <div class="form-inline col-sm-3 pull-left" style="padding-left:5px;">
            <label for="username" class="control-label">Username </label>
            <input size="30"  id="username" name="username" class="form-control input-sm" ng-model="user.username" required ng-minlength=1 ng-maxlength=30
                   ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                   ng-class="{'ng-invalid ng-dirty' : userForm.username.$invalid && submitted}">
            <div>
                <small class="error"  ng-show="(userForm.username.$error.required && (userForm.username.$dirty || submitted))">
                    This cannot be empty
                </small>
            </div>
        </div>

        <div class="form-inline col-sm-3 pull-left" style="padding-left:5px;">
            <label for="password" class=" control-label">password</label>
            <input size="30"  id="password" name="password" type="password" class="form-control input-sm" ng-model="user.password" required ng-minlength=1 ng-maxlength=30
                   ng-model-options="{ updateOn:'default blur', debounce: { default: 500, blur: 0 } }"
                   ng-class="{'ng-invalid ng-dirty' : userForm.password.$invalid && submitted}">
            <div>
                <small class="error"  ng-show="(userForm.password.$error.required && (userForm.password.$dirty || submitted))">
                    This cannot be empty
                </small>
            </div>
        </div>

        <div class="form-inline col-sm-3 pull-left" style="padding-left:5px;">
            <label for="confirmPassword" class="control-label">confirm</label>
            <input type="password"  id="confirmPassword" name="confirmPassword" class="form-control input-sm"
                   ng-model="user.confirmPassword"
                   required compare-to="user.password" />
            <div ng-show="(userForm.confirmPassword.$dirty || submitted)" ng-messages="userForm.confirmPassword.$error">
                <small class="error" ng-messages-include="messages.html"></small>
            </div>

        </div>

    </div>
</div>


<div class="form-group">

</div>

<hr />
<div class="form-group row">
    <label for="other" class="col-sm-1 control-label" >Other:</label>
    <div id="other" class="row col-sm-11" style="margin-left: 30px; width: 70%">
        <div class="row pull-left" style="width: 20%;">
            <small>
                <input type="checkbox" id="isAdmin" ng-model="user.isAdmin"  /> isAdmin
            </small>
        </div>
        <div class="row pull-left" style="width: 20%">
            <small>
                <input type="checkbox" id="isActive" ng-model="user.isActive" /> isActive
            </small>
        </div>
        <div class="row pull-left" style="width: 20%">
            <small>
                <input type="checkbox" id="isDeleted" ng-model="user.isDeleted" /> isDeleted
            </small>
        </div>
        <div class="row pull-left" style="width: 20%">
            <small>
                <input type="checkbox" id="isStaff" ng-model="user.isStaff"  /> isStaff
            </small>
        </div>
        <div class="row pull-left" style="width: 20%">
            <small>
                <input type="checkbox" id="roleAdmin" ng-model="user.roleAdmin"  /> roleAdmin
            </small>
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="other" class="col-sm-1 control-label" >Notes:</label>
    <div id="notes" class="row col-sm-11" style="margin-left: 30px; width: 70%">
        <pre>
            {{fixedRoles | json}}
        </pre>

        <div class="row" style="width: 100%">
            <small>
                <textarea ng-model="user.notes" class="form-control"></textarea>
            </small>
        </div>
    </div>
</div>

<hr />

<div class="form-group">
    <label for="roles" class="col-sm-1 control-label" >Roles: </label>
    <div id="roles" class="row col-sm-11" style="margin-left: 30px; width: 70%">
        <div ng-repeat="entity in roleList" class="row pull-left" style="width: 20%">
            <small>
                <input type="checkbox" checklist-model="user.roles" checklist-value="entity" /> {{entity.name}}
            </small>
        </div>
    </div>
</div>

