<div class="col-sm-3 col-md-2" ng-include="'views/inventory/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Fulfil Order Form</h3>

  <hr />

  <section class="clearfix" ng-hide="editingOrderDetails">
    <span class="text-muted">Order Date:</span> {{orderForm.orderDate | bsisDate}}
    <span class="text-muted">Order Type:</span> {{orderForm.type}}
    <span class="text-muted">Dispatched From:</span> {{orderForm.dispatchedFrom.name}}
    <span class="text-muted">Dispatched To:</span> {{orderForm.dispatchedTo.name}}
    <button class="btn btn-primary pull-right" style="margin-top:0;" ng-click="editOrderDetails()">Edit</button>
  </section>

  <form class="form-inline" name="forms.orderDetailsForm" role="form" ng-show="editingOrderDetails" ng-submit="saveOrderDetails();" novalidate>

    <div class="form-group">
      <span class="text-muted">Order Date:</span>
      <div class="input-group" style="width:150px;">
        <input type="text" class="form-control" name="orderDate" ng-model='orderDetailsForm.orderDate' uib-datepicker-popup="{{format}}" is-open="selectingDate" required>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="selectDate($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <span class="text-muted">Order Type:</span>
      <label class="radio-inline" style="margin-top:0;">
        <input type="radio" name="transferType" ng-model="orderDetailsForm.type" value="TRANSFER" required> Transfer
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="orderDetailsForm.type" value="ISSUE" required> Issue
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="orderDetailsForm.type" value="PATIENT_REQUEST" required> Patient Request
      </label>
    </div>

    <div class="form-group" style="margin-left:5px;">
      <span class="text-muted" for="dispatchedFrom">Dispatched From:</span>
      <select class="form-control" style="width:auto;" name="dispatchedFrom" ng-model="orderDetailsForm.dispatchedFrom" ng-options="item as item.name for item in dispatchFromSites track by item.id" ng-disabled="components.length > 0" required></select>
    </div>

    <div class="form-group">
      <span class="text-muted" for="dispatchedTo">Dispatched To:</span>
      <select class="form-control" style="width:auto;" name="dispatchedTo" ng-model="orderDetailsForm.dispatchedTo" ng-options="item as item.name for item in dispatchToSites track by item.id" ng-disabled="!orderDetailsForm.type" required></select>
    </div>

    <button class="btn btn-primary" style="margin-top:0;" type="submit" ng-disabled="savingOrderDetails">{{savingOrderDetails ? 'Saving...' : 'Save'}}</button>
    <button class="btn btn-primary" style="margin-top:0;" type="reset" ng-disabled="savingOrderDetails" ng-click="clearDetailsForm($event);">Cancel</button>
  </form>

  <hr />

  <div class="panel panel-default">
    <div class="panel-body">

      <h4>Units Ordered</h4>
      <form class="form-inline" name="addOrderItemForm" role="form" style="padding:0 15px;" ng-submit="addOrderItem(addOrderItemForm);" novalidate>

        <div class="form-group">
          <label for="componentType" style="vertical-align: top">Component Type:</label>
          <div style="display: inline-block">
            <select class="form-control" style="width:auto;" name="componentType" ng-model="orderItem.componentType" ng-options="item as item.componentTypeName for item in componentTypes track by item.id" required>
              <option value="" disabled selected>Select:</option>
            </select>
            <ng-messages for="addOrderItemForm.componentType.$error" role="alert" ng-show="addOrderItemForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
        
        <div class="form-group">
          <label for="bloodGroup" style="vertical-align: top">Blood Group:</label>
          <div style="display: inline-block">
            <select class="form-control" style="width: 200px;" name="bloodGroup" ng-model="orderItem.bloodGroup" ng-options="item for item in bloodGroups" required>
              <option value="" disabled selected>Select:</option>
            </select>
            <ng-messages for="addOrderItemForm.bloodGroup.$error" role="alert" ng-show="addOrderItemForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>

        <div class="form-group">
          <label for="numberOfUnits" style="vertical-align: top">Units:</label>
          <div style="display: inline-block"> 
            <input type=number class="form-control" name="numberOfUnits" ng-model="orderItem.numberOfUnits" required min="0">
            <ng-messages for="addOrderItemForm.numberOfUnits.$error" role="alert" ng-show="addOrderItemForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
        
        <div class="form-group" style="vertical-align: top" >
          <button class="btn btn-primary" type="submit" ng-disabled="addingOrderForm" style="margin-top: 0px">Add to Order</button>
          <button class="btn btn-primary" type="button" ng-disabled="addingOrderForm" style="margin-top: 0px" ng-click="clearAddOrderItemForm(addOrderItemForm);">Clear</button>
        </div>

      </form>
      
      <br />
      
      <div class="col-sm-12">
          <div class="grid" ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination ui-grid-selection></div>
      </div>

      <h4>Units Supplied</h4>
      <form class="form-inline" name="addComponentForm" role="form" style="padding:0 15px;" ng-submit="addComponent(addComponentForm);" novalidate>

        <div class="form-group">
          <label for="componentType" style="vertical-align: top">DIN:</label>
          <div style="display: inline-block">
            <input class="form-control" name="din" ng-model="component.din" required>
            <ng-messages for="addComponentForm.din.$error" role="alert" ng-show="addComponentForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>

        <div class="form-group">
          <label for="componentType" style="vertical-align: top">Component Code:</label>
          <div style="display: inline-block">
            <input class="form-control" name="componentCode" ng-model="component.componentCode" required>
            <ng-messages for="addComponentForm.din.$error" role="alert" ng-show="addComponentForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
        
        <div class="form-group" style="vertical-align: top" >
          <button class="btn btn-primary" type="submit" ng-disabled="addingComponent" style="margin-top: 0px">Add Pack</button>
          <button class="btn btn-primary" type="button" ng-disabled="addingComponent" style="margin-top: 0px" ng-click="removeComponent(addComponentForm);">Remove Pack</button>
          <button class="btn btn-primary" type="button" ng-disabled="addingComponent" style="margin-top: 0px" ng-click="clearAddComponent(addComponentForm);">Clear</button>
        </div>

      </form>
      
      <br />

      
      <form class="form-horizontal" name="updateOrderForm" role="form" style="padding:0 15px;" ng-submit="updateOrder();" novalidate>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-primary" type="submit" ng-disabled="savingForm">{{savingForm ? 'Saving...' : 'Save Order'}}</button>
            <button class="btn btn-primary" type="button" ng-disabled="!areRowsToDelete" ng-click="deleteRows()">Delete Selected Rows</button>
            <button class="btn btn-primary" type="button" ng-disabled="savingForm" ng-click="cancel();">Cancel</button>
          </div>
        </div>
      </form>  
  </div>
</div>
