<div class="col-sm-3 col-md-2" ng-include="'views/inventory/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Manage Orders</h3>

  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a href="#/manageOrders">Add Order</a>
    </li>
    <li>
      <a href="#/viewOrders">View Orders</a>
    </li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Current Orders</h4>
      <div id="grid" class="grid" ui-grid="gridOptions"></div>

      <br/>

      <h4>Add Order</h4>
      <form class="form-horizontal" name="addOrderForm" role="form" style="padding:0 15px;" ng-submit="addOrder();" novalidate>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="orderDate">Date of Order:</label>
          <div class="col-sm-10">
            <dateselect name="orderDate" ng-model="orderForm.orderDate" ng-required="true"></dateselect>
            <ng-messages for="addOrderForm.orderDate.$error" role="alert" ng-show="addOrderForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="dispatchedFrom">Dispatch From:</label>
          <div class="col-sm-10">
            <select class="form-control" style="width:auto;" name="dispatchedFrom" ng-model="orderForm.dispatchedFrom" ng-options="item.id as item.name for item in dispatchFromSites track by item.id" required>
              <option value="" disabled selected>Select:</option>
            </select>
            <ng-messages for="addOrderForm.dispatchedFrom.$error" role="alert" ng-show="addOrderForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Dispatch Type:</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" name="transferType" ng-model="orderForm.type" value="TRANSFER" required> Transfer
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="orderForm.type" value="ISSUE" required> Issue
            </label>
            <small class="error" style="display:block;" ng-show="addOrderForm.$submitted && !orderForm.type">
              Please select a dispatch type
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="dispatchedTo">Dispatch To:</label>
          <div class="col-sm-10">
            <select class="form-control" style="width:auto;" name="dispatchedTo" ng-model="orderForm.dispatchedTo" ng-options="item.id as item.name for item in dispatchToSites track by item.id" ng-disabled="!orderForm.type" required>
              <option value="" selected></option>
            </select>
            <ng-messages for="addOrderForm.dispatchedTo.$error" role="alert" ng-show="addOrderForm.$submitted">
              <ng-messages-include src="messages.html"></ng-messages-include>
            </ng-messages>
          </div>
        </div>

        <div class="col-sm-offset-2">
          <button class="btn btn-primary" type="submit" ng-disabled="addingOrderForm">{{addingOrderForm ? 'Adding...' : 'Add Order'}}</button>
          <button class="btn btn-primary" type="button" ng-disabled="addingOrderForm" ng-click="clearForm();">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
