<div class="col-sm-3 col-md-2" ng-include="'views/inventory/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Record Transfusions</h3>

  <form class="form-horizontal col-sm-12" name="recordTransfusionsForm" ng-submit="recordTransfusion()" novalidate>

    <div class="clearfix form-group">
      <label class="col-sm-2 control-label">DIN</label>
      <div class="form-inline col-sm-10">
        <div style="display: inline-block; vertical-align: top;">
          <input class="form-control" name="donationIdentificationNumber" ng-model="transfusion.donationIdentificationNumber" required>
          <ng-messages for="recordTransfusionsForm.donationIdentificationNumber.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
            <ng-messages-include src="messages.html"></ng-messages-include>
          </ng-messages>
        </div>
        <label class="control-label">Component Code</label>
        <div style="display: inline-block; vertical-align: top;">
          <input class="form-control" name="componentCode" size="8" ng-model="transfusion.componentCode" ng-disabled = "transfusion.componentType.id && !transfusion.componentCode" ng-required="!transfusion.componentCode && !transfusion.componentType.id" ng-change="setComponentType(transfusion.componentCode)">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Component Type</label>
      <div class="form-inline col-sm-10">
        <select name="componentType" ng-model="transfusion.componentType.id" class="form-control" style="min-width: 350px;" ng-disabled = "transfusion.componentCode" ng-required="!transfusion.componentCode && !transfusion.componentType.id" ng-options="componentType.id as componentType.componentTypeName for componentType in componentTypes">
          <option value=""></option>
        </select>
        <div>
          <small class="error" ng-show="!transfusion.componentCode && !transfusion.componentType.id && recordTransfusionsForm.$submitted">
            Both component type and code cannot be empty
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Received From</label>
      <div class="form-inline col-sm-10">
        <select name="usageSiteId" ng-model="transfusion.receivedFrom" class="form-control" ng-options="usageSite.id as usageSite.name for usageSite in locations" style="min-width: 350px;" required>
          <option value="" disabled></option>
        </select>
        <ng-messages for="recordTransfusionsForm.usageSiteId.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Transfusion Outcomes</label>
      <div class="form-inline col-sm-10">
        <select name="transfusionOutcomes" ng-model="transfusion.transfusionOutCome" class="form-control" ng-options="outcome for outcome in transfusionOutcomes" style="min-width: 350px;" ng-change="clearTransfusionReactionType()" required>
          <option value="" disabled></option>
        </select> 
        <ng-messages for="recordTransfusionsForm.transfusionOutcomes.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>    
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Transfusion Reaction Type</label>
      <div class="form-inline col-sm-10">
        <select name="transfusionReactionType" ng-model="transfusion.transfusionReactionType" ng-options="reactionType.id as reactionType.type for reactionType in transfusionReactionTypes" class="form-control" style="min-width: 350px;" ng-disabled="transfusion.transfusionOutCome !== 'TRANSFUSION_REACTION_OCCURRED'" ng-required="transfusion.transfusionOutCome === 'TRANSFUSION_REACTION_OCCURRED'">
          <option value="" disabled></option>
        </select>
        <ng-messages for="recordTransfusionsForm.transfusionReactionType.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>  
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Transfusion Notes</label>
      <div class="form-inline col-sm-10">
     	  <input type="comment" id="transfusionNotes" ng-model="transfusion.notes" class="form-control input-sm" placeholder="Notes">
      </div>
    </div>

    <div class="form-group">
      <label for="dateTransfused" class="col-sm-2 control-label">Date Transfused</label>
      <div class="col-sm-10">
        <dateselect name="dateTransfused" ng-model="transfusion.dateTransfused" format="format" max-date="today" date-time-not-in-future >
        </dateselect>
        <div>
          <ng-messages for="recordTransfusionsForm.dateTransfused.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
            <small class="error" ng-show="recordTransfusionsForm.dateTransfused.$modelValue === undefined">Invalid date</small>
            <ng-messages-include src="messages.html"></ng-messages-include>
          </ng-messages>
        </div>
      </div>
    </div>

    <div class="clearfix form-group">
      <label class="col-sm-2 control-label">Patient Name</label>
      <div class="form-inline col-sm-10">
        <div style="display: inline-block; vertical-align: top;">
          <input class="form-control" name="name1" ng-model="transfusion.patient.name1" ng-maxlength=20 required>
          <ng-messages for="recordTransfusionsForm.name1.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
            <ng-messages-include src="messages.html"></ng-messages-include>
          </ng-messages>
        </div>
        <label class="control-label"></label>
        <div style="display: inline-block; vertical-align: top;">
          <input class="form-control" name="name2" ng-model="transfusion.patient.name2" ng-maxlength=20 required>
          <ng-messages for="recordTransfusionsForm.name2.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
            <ng-messages-include src="messages.html"></ng-messages-include>
          </ng-messages>
        </div>
      </div>
    </div>

    <div class="clearfix form-group">
      <label class="col-sm-2 control-label">Patient No</label>
      <div class="form-inline col-sm-10">
        <input class="form-control" name="patientNumber" ng-model="transfusion.patientNumber">
      </div>
    </div>

    <div class="clearfix form-group">
      <label class="col-sm-2 control-label">Blood Bank</label>
      <div class="form-inline col-sm-10">
        <input class="form-control" name="hospitalBloodBankNumber" ng-model="transfusion.patient.hospitalWardNumber" size="8">
      </div>
    </div>

    <div class="clearfix form-group">
      <label class="col-sm-2 control-label">Ward No</label>
      <div class="form-inline col-sm-10">
        <input class="form-control" name="hospitalWardNumber" ng-model="transfusion.wardNo" size="8">
      </div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth" class="col-sm-2 control-label">Date of Birth</label>
      <div class="col-sm-10">
        <dateselect name="dateOfBirth" ng-model="transfusion.patient.dateOfBirth" format="format">
        </dateselect>
      <div>
        <ng-messages for="recordTransfusionsForm.dateOfBirth.$error" role="alert" ng-show="recordTransfusionsForm.$submitted">
          <small class="error" ng-show="recordTransfusionsForm.dateOfBirth.$modelValue === undefined">Invalid date</small>
          <ng-messages-include src="messages.html"></ng-messages-include>
        </ng-messages>
      </div>
     </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Gender</label>
      <div class="form-inline col-sm-10" size="8">
        <select name="gender" class="form-control input-sm" ng-model="transfusion.patient.gender" ng-options="gender for gender in genders">
          <option value="" ng-disabled="true"></option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Blood Group</label>
      <div class="form-inline col-sm-10" size="8">
        <select name="bloodGroup" class="form-control input-sm" ng-model="transfusion.patient.bloodGroup" ng-options="bloodGroup for bloodGroup in bloodGroups">
          <option value="" ng-disabled="true"></option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <button class="btn btn-primary" type="submit" ng-disabled="searching">
          {{addingTransfusionForm ? "Adding..." : "Add Transfusion"}}
        </button>
        <button class="btn btn-primary" type="button" ng-click="clear(recordTransfusionsForm)">Clear</button>
      </div>
    </div>
  </form>
</div>