<div class="col-sm-3 col-md-2 sidebar" style="padding-top:5px;">
  <ul class="nav nav-sidebar">
    <li class="disabled">
      <span class="icon-sidebar-container">
        <div class="placeholder">
          <a href="#inventory">
            <i class="fa {{icons.INVENTORY}}"></i>
          </a>
        </div>
      </span>
    </li>
    <li class="disabled"><span>MANAGE BLOOD BANK</span></li>
    <li ng-class="{current: isCurrent('/manageInventory')}"><a href="#/manageInventory">Manage Inventory</a></li>
    <li class="disabled"><span>MANAGE COMPONENTS</span></li>
    <li ng-class="{current: isCurrent('/transferComponents')}"><a href="#/transferComponents">Transfer Components</a></li>
    <li ng-class="{current: isCurrent('/issueComponents')}"><a href="#/issueComponents">Issue Components</a></li>
    <li ng-class="{current: isCurrent('/componentUsage')}"><a href="#/componentUsage">Component Usage</a></li>
  </ul>
  <div ng-include="'views/sidebarFooter.html'"></div>
</div>