
      <div class="container-fluid">
      <div class="row  main-page" ng-controller="DonorsCtrl">

  <div ng-include="'views/donors/sidebar.html'"></div>
          

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      
       <div class="row  main-page">

       <div class="col-lg-9 ">
       
        <div ng-include="'{{donorSection}}'"></div>

       </div>

       </div>
        
      </div>

    </div>

      <div id="push"></div>
      <div id="push"></div>
      <div id="push"></div>
      <div id="push"></div>

   


      </div>