
      <div class="container-fluid">
      <div class="row main-page" ng-controller="ConfigurationsCtrl">

  <div ng-include="'views/settings/sidebar.html'"></div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

       <div class="row  main-page">

         <div class="col-lg-12" >
           <div ng-switch on="selection">
              <div ng-switch-when="/locations"><div ng-include="'views/settings/locations.html'"></div></div>
              <div ng-switch-when="/configurations"><div ng-include="'views/settings/configurations.html'"></div></div>
              <div ng-switch-when="/users"><div ng-include="'views/settings/users.html'"></div></div>
              <div ng-switch-when="/user"><div ng-include="'views/settings/user.html'"></div></div>
              <div ng-switch-when="/addUser"><div ng-include="'views/settings/addUser.html'"></div></div>
              <div ng-switch-when="/roles"><div ng-include="'views/settings/roles.html'"></div></div>
              <div ng-switch-when="/role"><div ng-include="'views/settings/role.html'"></div></div>
              <div ng-switch-when="/addRole"><div ng-include="'views/settings/addRole.html'"></div></div>
              <div ng-switch-default><div ng-include="'views/settings/configurations.html'"></div></div>
            </div>
         </div>
       </div>
      </div>
    </div>
  </div>
