
      <div class="container-fluid">
      <div class="row main-page" ng-controller="SettingsCtrl">

  <div ng-include="'views/settings/sidebar.html'"></div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

       <div class="row  main-page">

         <div class="col-lg-12" >
           <div ng-switch on="selection">
              <div ng-switch-when="/locations"><div ng-include="'views/settings/locations.html'"></div></div>
              <div ng-switch-when="/configurations"><div ng-include="'views/settings/configurations.html'"></div></div>
              <div ng-switch-when="/manageConfiguration"><div ng-include="'views/settings/manageConfiguration.html'"></div></div>
              <div ng-switch-when="/users"><div ng-include="'views/settings/users.html'"></div></div>
              <div ng-switch-when="/manageUser"><div ng-include="'views/settings/manageUser.html'"></div></div>
              <div ng-switch-when="/roles"><div ng-include="'views/settings/roles.html'"></div></div>
              <div ng-switch-when="/manageRole"><div ng-include="'views/settings/manageRole.html'"></div></div>
              <div ng-switch-when="/deferralReasons"><div ng-include="'views/settings/deferralReasons.html'"></div></div>
              <div ng-switch-when="/manageDeferralReason"><div ng-include="'views/settings/manageDeferralReason.html'"></div></div>
              <div ng-switch-when="/discardReasons"><div ng-include="'views/settings/discardReasons.html'"></div></div>
              <div ng-switch-when="/manageDiscardReason"><div ng-include="'views/settings/manageDiscardReason.html'"></div></div>
              <div ng-switch-when="/donationTypes"><div ng-include="'views/settings/donationTypes.html'"></div></div>
              <div ng-switch-when="/manageDonationType"><div ng-include="'views/settings/manageDonationType.html'"></div></div>
              <div ng-switch-default><div ng-include="'views/settings'+initialView+'.html'"></div></div>
              <div ng-switch-when="/packTypes"><div ng-include="'views/settings/packTypes.html'"></div></div>
              <div ng-switch-when="/managePackType"><div ng-include="'views/settings/managePackType.html'"></div></div>
              <div ng-switch-when="/auditLog"><div ng-include="'views/settings/auditLog.html'"></div></div>
              <div ng-switch-when="/adverseEventTypes"><div ng-include="'views/settings/adverseEventTypes.html'"></div></div>
              <div ng-switch-when="/addAdverseEventType"><div ng-include="'views/settings/addAdverseEventType.html'"></div></div>
              <div ng-switch-when="/editAdverseEventType"><div ng-include="'views/settings/editAdverseEventType.html'"></div></div>
            </div>
         </div>
       </div>
      </div>
    </div>
  </div>
