<div class="container-fluid">
    <div class="row  main-page" ng-controller="TestingCtrl">

        <div ng-include="'views/testing/sidebar.html'"></div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="row  main-page">

                <div class="col-lg-12">
                    <div ng-switch on="selection">
                        <div ng-switch-when="/viewTestResults">
                            <div ng-include="'views/testing/viewTestResults.html'"></div>
                        </div>
                        <div ng-switch-when="/manageTTITesting">
                            <div ng-include="'views/testing/manageTTITesting.html'"></div>
                        </div>
                        <div ng-switch-when="/reEnterTTI">
                            <div ng-include="'views/testing/reEnterTTI.html'"></div>
                        </div>
                        <div ng-switch-when="/managePendingTests">
                            <div ng-include="'views/testing/managePendingTests.html'"></div>
                        </div>
                        <div ng-switch-when="/manageBloodGroupTesting">
                            <div ng-include="'views/testing/manageBloodGroupTesting.html'"></div>
                        </div>
                        <div ng-switch-when="/managePendingBloodTypingTests">
                            <div ng-include="'views/testing/managePendingBloodTypingTests.html'"></div>
                        </div>
                        <div ng-switch-when="/manageBloodGroupMatchTesting">
                            <div ng-include="'views/testing/manageBloodGroupMatchTesting.html'"></div>
                        </div>
                        <div ng-switch-when="/uploadTestResults">
                            <div ng-include="'views/testing/uploadTestResults.html'"></div>
                        </div>
                        <div ng-switch-when="/manageTestBatch">
                            <div ng-include="'views/testing/manageTestBatch.html'"></div>
                        </div>
                        <div ng-switch-when="/viewTestBatch">
                            <div ng-include="'views/testing/viewTestBatch.html'"></div>
                        </div>
                        <div ng-switch-default>
                            <div ng-if="(sessionUserPermissions.indexOf(permissions.VIEW_TEST_BATCH) < 0) &&
                        (sessionUserPermissions.indexOf(permissions.ADD_TEST_OUTCOME) < 0) &&
                        (sessionUserPermissions.indexOf(permissions.VIEW_TEST_OUTCOME) > -1)"
                                 ng-include="'views/testing/viewTestResults.html'">
                            </div>
                            <div ng-if="(sessionUserPermissions.indexOf(permissions.VIEW_TEST_BATCH) < 0) &&
                        (sessionUserPermissions.indexOf(permissions.ADD_TEST_OUTCOME) > -1) &&
                        (sessionUserPermissions.indexOf(permissions.VIEW_TEST_OUTCOME) < 0)"
                                 ng-include="'views/testing/uploadTestResults.html'">
                            </div>
                            <div ng-if="(sessionUserPermissions.indexOf(permissions.VIEW_TEST_BATCH) < 0) &&
                        (sessionUserPermissions.indexOf(permissions.ADD_TEST_OUTCOME) > -1) &&
                        (sessionUserPermissions.indexOf(permissions.VIEW_TEST_OUTCOME) > -1)"
                                 ng-include="'views/testing/viewTestResults.html'">
                            </div>
                            <div ng-if="(sessionUserPermissions.indexOf(permissions.VIEW_TEST_BATCH) > -1)"
                                 ng-include="'views/testing/manageTestBatch.html'">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>