Gender
<translate>Male</translate>
<translate>male</translate>
<translate>Female</translate>
<translate>female</translate>
Dynamic buttons
<translate>Search</translate>
<translate>Searching...</translate>
<translate>Void</translate>
<translate>Voiding...</translate>
<translate>Save</translate>
<translate>Saving...</translate>
<translate>Add</translate>
<translate>Adding...</translate>
<translate>Discarding...</translate>
<translate>Discard</translate>
Transfusion outcomes
<translate>Transfused Uneventfully</translate>
<translate>Transfusion Reaction Occurred</translate>
<translate>Not Transfused</translate>
<translate>Unknown</translate>
Order statuses
<translate>Created</translate>
<translate>Dispatched</translate>
Order/Dispatch types
<translate>Transfer</translate>
<translate>Issue</translate>
<translate>Patient Request</translate>
Component Statuses
<translate>Quarantined</translate>
<translate>Available</translate>
<translate>Expired</translate>
<translate>Issued</translate>
<translate>Transfused</translate>
<translate>Unsafe</translate>
<translate>Discarded</translate>
<translate>Processed</translate>
Return statuses
<translate>Created</translate>
<translate>Returned</translate>
Blood Typing Match Statuses
<translate>Not Done</translate>
<translate>No Match</translate>
<translate>Ambiguous</translate>
<translate>Match</translate>
<translate>Resolved</translate>
<translate>No Type Determined</translate>
<translate>Indeterminate</translate>
Blood Typing Statues
<translate>Not Done</translate>
<translate>Pending Tests</translate>
<translate>Complete</translate>
TTI Statues
<translate>Not Done</translate>
<translate>Safe</translate>
<translate>Unsafe</translate>
<translate>Indeterminate</translate>
Test Batch Statues
<translate>Open</translate>
<translate>Released</translate>
<translate>Closed</translate>
HaemoglobinLevel
<translate>Pass</translate>
<translate>Fail</translate>