<span class="h3"> 
  <small><em>Test Batch Number: </em></small> {{testBatch.batchNumber}}
</span> 

<hr/>

<div class = "h4"> 
  <small><em>Created On: </em></small>{{testBatch.createdOn}}
  | 
  <small><em>TTI Testing: </em></small>{{testBatch.ttiStatus}}
  | 
  <small><em>Number of Samples: </em></small>{{testBatch.numSamples}}
</div>

<div style="padding-bottom: 5px"></div>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <table ng-table="testSamplesTTITableParams" show-filter="false" class="table">
        <tr ng-repeat="sample in $data"
            ng-click=""
            ng-mouseenter="sample.$selected = true"
            ng-mouseleave="sample.$selected = false"
            ng-class="{'active': sample.$selected}">
            <td data-title="'DIN'" header-class="text-left" class="text-center" sortable="'donationIdentificationNumber'">
                {{sample.donationIdentificationNumber}}
            </td>
            <td data-title="'Date Bled'" header-class="text-left" class="text-center" sortable="'collectedOn'">
                {{sample.collectedOn}}
            </td>
            <td data-title="'TTI Testing'" header-class="text-left" sortable="'ttiStatus'">
                {{sample.ttiStatus}}
            </td>
            <td data-title="'HIV'" header-class="text-left" class="text-center" sortable="'HIV'">
                <span ng-switch on="sample.HIV">
                  <span ng-switch-when="NEG">{{sample.HIV}}</span>
                  <span ng-switch-default>
                    <select class="form-control input-sm" >
                      <option value=""></option>
                      <option value="POS">POS</option>
                      <option value="NEG">NEG</option>
                    </select>
                  </span>
                </span>
            </td>
            <td data-title="'HBV'" header-class="text-left" class="text-center" sortable="'HBV'">
                <span ng-switch on="sample.HBV">
                  <span ng-switch-when="NEG">{{sample.HBV}}</span>
                  <span ng-switch-default>
                    <select class="form-control input-sm" >
                      <option value=""></option>
                      <option value="POS">POS</option>
                      <option value="NEG">NEG</option>
                    </select>
                  </span>
                </span>
            </td>
            <td data-title="'HCV'" header-class="text-left" class="text-center" sortable="'HCV'">
                <span ng-switch on="sample.HCV">
                  <span ng-switch-when="NEG">{{sample.HCV}}</span>
                  <span ng-switch-default>
                    <select class="form-control input-sm" >
                      <option value=""></option>
                      <option value="POS">POS</option>
                      <option value="NEG">NEG</option>
                    </select>
                  </span>
                </span>
            </td>
            <td data-title="'Syphilis'" header-class="text-left" class="text-center" sortable="'Syphilis'">
                <span ng-switch on="sample.Syphilis">
                  <span ng-switch-when="NEG">{{sample.Syphilis}}</span>
                  <span ng-switch-default>
                    <select class="form-control input-sm" >
                      <option value=""></option>
                      <option value="POS">POS</option>
                      <option value="NEG">NEG</option>
                    </select>
                  </span>
                </span>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>

