<span class="h3"> 
  <small><em>Test Batch Number: </em></small> {{testBatch.batchNumber}}
</span> 

<hr/>

<div class = "h4"> 
  <small><em>Created On: </em></small>{{testBatch.createdOn}}
  | 
  <small><em>Blood Group Serology Testing: </em></small>{{testBatch.bloodTypingStatus}}
  | 
  <small><em>Number of Samples: </em></small>{{testBatch.numSamples}}
</div>

<div style="padding-bottom: 5px"></div>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <table ng-table="testSamplesTTITableParams" show-filter="false" class="table">
        <tr ng-repeat="sample in $data"
            ng-click=""
            ng-mouseenter="sample.$selected = true"
            ng-mouseleave="sample.$selected = false"
            ng-class="{'active': sample.$selected}">
            <td data-title="'DIN'" header-class="text-left" class="text-center" sortable="'donationIdentificationNumber'">
                {{sample.donationIdentificationNumber}}
            </td>
            <td data-title="'Date Bled'" header-class="text-left" class="text-center" sortable="'collectedOn'">
                {{sample.collectedOn}}
            </td>
            <td data-title="'Status'" header-class="text-left" sortable="'bloodTypingStatus'">
                {{sample.bloodTypingStatus}}
            </td>
            <td data-title="'ABO'" header-class="text-left" class="text-center" sortable="'bloodAbo'">
                <span ng-switch on="sample.bloodAbo">
                  <span ng-switch-when="">
                    <select class="form-control input-sm" >
                      <option value=""></option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="AB">AB</option>
                      <option value="O">O</option>
                    </select>
                  </span>
                  <span ng-switch-default>
                    {{sample.bloodAbo}}
                  </span>
                </span>
            </td>
            <td data-title="'Rh'" header-class="text-left" class="text-center" sortable="'bloodRh'">
                <span ng-switch on="sample.bloodRh">
                  <span ng-switch-when="">
                    <select class="form-control input-sm" >
                      <option value=""></option>
                      <option value="+">+</option>
                      <option value="-">-</option>
                    </select>
                  </span>
                  <span ng-switch-default>
                    {{sample.bloodRh}}
                  </span>
                </span>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>

