<div class="col-sm-3 col-md-2" ng-include="'views/testing/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <h3 class="page-header">Upload Test Data</h3>

  <form class="form-horizontal col-sm-12" role="form" ng-submit="uploadTestResults()">
      <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Select File</label>
          <div class="row col-sm-10">
              <div class="form-inline" style="padding-left:5px;">
                  <input type="file" style="display:none" ng-model-instant id="fileToUpload"
                         onchange="angular.element(this).scope().setFile(this)"/>
                  <input style="text" size="40" class="form-control input-sm"
                         onclick="document.getElementById('fileToUpload').click()" ng-model="file.name"></input>
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-3">
              <button class="btn btn-primary" type="submit">Upload File</button>
              <button class="btn btn-primary" type="button" ng-click="clear()">Clear</button>
          </div>
      </div>
  </form> 
</div>
