<div class="col-sm-3 col-md-2" ng-include="'views/testing/sidebar.html'"></div>
<div class="col-sm-9 col-md-10 main">
  <span class="h3 page-header" translate>Manage Test Batch</span>

  <span class="h4" style="float:right; margin-top: 5px; padding-right: 15px; display:inline;">
    <span has-permission="{{permissions.VOID_TEST_BATCH}}" ng-hide="confirmEdit">
      <em>
          <button class="btn btn-link" style="padding:0;" ng-click="confirmDelete = true" ng-hide="confirmDelete"
                  ng-disabled="!testBatch.permissions.canDelete" translate>Void
          </button>
      </em>
      <span ng-show="confirmDelete">
        <em>
            <button class="btn btn-link text-danger" style="padding:0;"
                    ng-click="deleteTestBatch(testBatch.id); confirmDelete = false" translate>Void
            </button>
            <button class="btn btn-link text-muted" style="padding:0;" ng-click="confirmDelete = false" translate>Cancel</button>
        </em>
      </span>
    </span>
    <span has-permission="{{permissions.EDIT_TEST_BATCH}}" ng-hide="confirmDelete">
      <span ng-hide="confirmEdit">&nbsp;|&nbsp;
        <em>
          <button class="btn btn-link" style="padding:0;" ng-click="editableForm.$show(); confirmEdit = true"
                  ng-disabled="!testBatch.permissions.canEdit" translate>Edit
          </button>
        </em>
      </span>
      <span ng-show="confirmEdit">
        <em>
            <button class="btn btn-link text-muted" style="padding:0;" ng-disabled="editableForm.$waiting"
                    ng-click="editableForm.$submit();" translate>Save
            </button>
            <button class="btn btn-link text-muted" style="padding:0;" ng-disabled="editableForm.$waiting"
                    ng-click="editableForm.$cancel(); confirmEdit = false" translate>Cancel
            </button>
        </em>
      </span>
    </span>
    <span style="margin-left: 20px; margin-top: -15px; float:right">
      <span has-permission="{{permissions.EDIT_TEST_BATCH}}" ng-if="testBatch.status === 'OPEN'" ng-hide="confirmDelete || confirmEdit">
        <button class="btn btn-primary" ng-disabled="!testBatch.permissions.canRelease" ng-click="releaseTestBatch(testBatch)" translate>Release</button>
      </span>
      <span has-permission="{{permissions.EDIT_TEST_BATCH}}" ng-if="testBatch.status === 'RELEASED'" ng-hide="confirmDelete || confirmEdit">
        <button class="btn btn-primary" ng-disabled="!testBatch.permissions.canClose" ng-click="closeTestBatch(testBatch)" translate>Close</button>
      </span>
      <span has-permission="{{permissions.EDIT_TEST_BATCH}}" ng-if="testBatch.status === 'CLOSED'"  ng-hide="confirmDelete || confirmEdit">
        <button class="btn btn-primary" ng-click="reopenTestBatch(testBatch)" translate>Reopen</button>
      </span>
    </span>
  </span>

  <hr style="clear:right;"/>

  <span ng-if="testBatch.status!='CLOSED'" ng-hide="confirmDelete || confirmEdit" class="h4" style="float: right; vertical-align: center; margin-top: 0px; margin-bottom: 0px; padding-right: 15px; text-align: right;">

    <table>
      <tr>
        <td style="text-align:right;padding-right:10px;">
          <span has-permission="{{permissions.ADD_TTI_OUTCOME}}" ng-hide="confirmDelete || confirmEdit">
            <small>
              <em><span translate>TTI Outcomes</span>:
                <a ng-href="#/manageTTITesting/{{testBatch.id}}/BASIC_TTI" translate>Enter</a>
                 &nbsp;|&nbsp;
                <a ng-href="#/reEnterTTI/{{testBatch.id}}/BASIC_TTI" ng-disabled="!hasReEntryRequiredTTITests" translate>Re-Enter</a>
              </em>
            </small>
          </span>
        </td>
        <td style="text-align:right;">
          <span has-permission="{{permissions.ADD_BLOOD_TYPING_OUTCOME}}" ng-hide="confirmDelete || confirmEdit">
            <small>
              <em><span translate>ABO/Rh Outcomes</span>:
                <a ng-href="#/manageBloodGroupTesting/{{testBatch.id}}/BASIC_BLOODTYPING" translate>Enter</a> &nbsp;|&nbsp;
                <a ng-href="#/reEnterBloodTyping/{{testBatch.id}}/BASIC_BLOODTYPING" ng-disabled="!hasReEntryRequiredBloodTypingTests" translate>Re-Enter</a>
              </em>
            </small>
          </span>
        </td>
      </tr>

      <tr>
        <td style="text-align:right;padding-right:10px;">
          <span has-permissions="{{permissions.ADD_TTI_OUTCOME}}" ng-hide="testBatch.status=='CLOSED'">
            <small>
              <em><span translate>Repeat TTI Outcomes</span>:
                <a ng-href="#/managePendingTests/{{testBatch.id}}/REPEAT_TTI" ng-disabled="!hasRepeatTTITests" translate>Enter</a>
                &nbsp;|&nbsp;
                <a ng-href="#/reEnterTTI/{{testBatch.id}}/REPEAT_TTI" ng-disabled="!hasReEntryRequiredRepeatTTITests" translate>Re-Enter</a>
              </em>
            </small>
          </span>
        </td>
        <td style="text-align:right;">
          <span has-permission="{{permissions.ADD_BLOOD_TYPING_OUTCOME}}" ng-hide="testBatch.status=='CLOSED'">
            <small>
              <em><span translate>Repeat ABO/Rh Outcomes</span>:
                <a ng-href="#/managePendingBloodTypingTests/{{testBatch.id}}/REPEAT_BLOODTYPING" ng-disabled="!hasRepeatBloodTypingTests" translate>Enter</a>
                &nbsp;|&nbsp;
                <a ng-href="#/reEnterBloodTyping/{{testBatch.id}}/REPEAT_BLOODTYPING" ng-disabled="!hasReEntryRequiredRepeatBloodTypingTests" translate>Re-Enter</a>
              </em>
            </small>
          </span>
        </td>
      </tr>

      <tr>
        <td style="text-align:right;padding-right:10px;">
          <span has-permissions="{{permissions.ADD_TTI_OUTCOME}}" ng-hide="testBatch.status=='CLOSED'">
            <small>
              <em><span translate>Confirmatory TTI Outcomes</span>:
                <a ng-href="#/managePendingTests/{{testBatch.id}}/CONFIRMATORY_TTI" ng-disabled="!hasConfirmatoryTTITests" translate>Enter</a>
                &nbsp;|&nbsp;
                <a ng-href="#/reEnterTTI/{{testBatch.id}}/CONFIRMATORY_TTI" ng-disabled="!hasReEntryRequiredConfirmatoryTTITests" translate>Re-Enter</a>
              </em>
            </small>
          </span>
        </td>
        <td></td>
      </tr>
    </table>
  </span>

  <form editable-form name="editableForm" onbeforesave="validateForm(editableForm)" onaftersave="updateTestBatch(testBatch)">

      <div class="h4">
        <small><em><span translate>Created On</span>: </em></small>
        <span ng-show="!editableForm.$visible">{{ (testBatch.createdDate | bsisDate) || '' }}</span>
        <span ng-show="editableForm.$visible" style="display:inline;">
          <dateselect ng-model="testBatch.createdDate" initDate="testBatch.createdDate" format="dateFormat" opened="dateToOpen"></dateselect>
        </span>
        &nbsp;|&nbsp;
        <small><em><span translate>Location</span>: </em></small>
        <span ng-show="!editableForm.$visible" style="display:inline;">{{testBatch.location.name}}</span>
        <span ng-show="editableForm.$visible" style="display:inline;">
          <select class="form-control" style="display:inline; width:auto;" name="location" ng-model="testBatch.location" ng-options="item as item.name for item in locations track by item.id" required></select>
        </span>
      </div>

      <div class="h4">
        <span ng-if="testBatch.status !== 'RELEASED' && !testBatch.permissions.canRelease">
          <small><em><span translate>Number of Samples</span>: </em></small>{{testBatch.numSamples}}
        </span>
        <span ng-if="testBatch.status !== 'RELEASED' && testBatch.permissions.canRelease">
          <small><em><span translate>Number of Samples Ready for Release</span>: </em></small>
          <span translate translate-params-count="testBatch.readyForReleaseCount" translate-params-total="testBatch.numSamples">{{count}} of {{total}}</span>
        </span>
        <span ng-if="testBatch.status === 'RELEASED'">
          <small><em><span translate>Number of Samples Released</span>: </em></small>
          <span translate translate-params-count="testBatch.numReleasedSamples" translate-params-total="testBatch.numSamples">{{count}} of {{total}}</span>
        </span>
      </div>

      <hr style="margin-bottom:5px;"/>

  <span ng-hide="confirmDelete || confirmEdit" class="h4" style="float: right; margin-top: 0px; margin-bottom: 0px; padding-right: 15px;">
    <span has-permission="{{permissions.ADD_BLOOD_TYPING_OUTCOME}}" ng-hide="testBatch.status=='CLOSED'"> <small><em><a
            ng-href="#/manageBloodGroupMatchTesting/{{testBatch.id}}" ng-disabled="!hasPendingBloodTypingConfirmations" translate>Resolve Ambiguous ABO/Rh Outcomes</a></em></small> </span>
  </span>

      <div ng-show="editableForm.$visible && testBatch.permissions.canEditDonationBatches">
          <small><em><span translate>Donation Batches</span>: </em></small>
        <div class="form-group" >
            <ui-select name="donationBatches" multiple ng-model="testBatch.donationBatchIds" ui-select-required
                       style="width: 700px;">
                <ui-select-match placeholder="{{ 'Select' | translate}}">{{$item.venue.name}} ({{$item.donationBatchDate | bsisDate}})
                </ui-select-match>
                <ui-select-choices
                        repeat="donationBatch.id as donationBatch in testBatchAvailableDonationBatches | filter:$select.search">
                    <div ng-bind-html="donationBatch.venue.name"></div>
                    <small>
                        {{donationBatch.donationBatchDate | bsisDate}}
                        &nbsp;|&nbsp;
                        {{donationBatch.numDonations}} <span translate>donations</span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <small class="error" ng-show="editableForm.$error.uiSelectRequired">
                <span translate>Select one or more donation batches</span>
            </small>
        </div>
      </div>

    <span ng-show="!editableForm.$visible || !testBatch.permissions.canEditDonationBatches">
      <span class="h4" style="font-size: 0.95em; margin-top:0px; margin-bottom:0px;"
            ng-repeat="donationBatch in testBatch.donationBatches">
        <small><em><span translate>Venue</span>: </em></small>{{donationBatch.venue.name}}
        &nbsp;|&nbsp;
        <small><em><span translate>Date</span>: </em></small> {{donationBatch.donationBatchDate | bsisDate}}
        &nbsp;|&nbsp; 
        <small><em><span translate>Number of Donations</span>: </em></small> {{donationBatch.numDonations}}
        <br/>
      </span>
    </span>

  </form>

  <hr style="margin-top:5px;"/>

  <div style="padding-bottom: 5px">
      <uib-alert type="info" ng-if="testBatch.permissions.canRelease"><span translate>This test batch is ready to be released.</span></uib-alert>
      <uib-alert type="info" ng-if="testBatch.permissions.canClose"><span translate>This test batch is ready to be closed.</span></uib-alert>
      <uib-alert type="info" ng-if="hasPendingRepeatTTITests || hasPendingConfirmatoryTTITests"><span translate>Pending: TTI repeat and/or confirmatory test outcomes.</span></uib-alert>
      <uib-alert type="info" ng-if="hasPendingRepeatBloodTypingTests"><span translate>Pending: blood group serology repeat test outcomes.</span></uib-alert>
      <uib-alert type="info" ng-if="hasPendingBloodTypingConfirmations"><span translate>Pending: ambiguous blood group serology test outcomes.</span></uib-alert>
  </div>

  <div class="col-sm-12">
      <div class="panel panel-default">
          <div class="panel-body">
              <p>
                  <em translate translate-params-count="gridOptions.data.length">{{count}} sample(s) found</em>&nbsp;|&nbsp;<span translate>Filter data</span>
                  <select class="input-sm" ng-model="dataExportType"
                          ng-options="item as item.value for item in exportOptions" ng-change="filter(dataExportType)">
                  </select>
                </p>
                <p>
                  <span translate>Data Export</span>
                  <button class="btn btn-primary btn-ui-grid-export" ng-click="export('pdf')" translate>PDF</button>
                  <button class="btn btn-primary btn-ui-grid-export" ng-click="export('csv')" translate>CSV</button>
              </p>
              <div class="grid" ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination></div>
          </div>
      </div>
  </div>
</div>
