<span class="h3"> 
  <small><em>Test Batch Number: </em></small> {{testBatch.batchNumber}}
</span> 

<span ng-if="testBatch.status == 'Complete'" lass="h4" style="float: right; margin-top: 5px; margin-bottom: 5px; padding-right: 15px;">
  <em><a href="" ng-click="closeTestBatch()">Close Batch</a></em></small>
</span>

<hr/>

<div class = "h4"> 
  <small><em>Created On: </em></small>{{testBatch.createdOn}}
  | 
  <small><em>Status: </em></small>{{testBatch.status}}
  | 
  <small><em>Number of Samples: </em></small>{{testBatch.numSamples}}
</div>

<hr/>

<div style="padding-bottom: 5px"></div>

<div class="col-sm-12">

  <div class="panel panel-default">
    <div class="panel-body">

    </div>
  </div>
</div>

